<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1><?php echo (isset($this->meter))?'Update Meter':'Add New Meter'; ?></h1>
</div>
<?php if(isset($this->response)){?>
	<?php if(  in_array("null", $this->response['data'])){?>
<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> Please Fill up all the required fields.
	</div>
<?php }
}
?>
<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Meter has been <?php echo (isset($this->site))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> An error occurred while <?php echo (isset($this->site))?'updating':'adding'; ?> this meter.
	</div>
	<?php 
	}
} 

$form_url = '/meters/add/site-' . $this->site->getId();
if (isset($this->meter) && $this->meter->getId() > 0)
	$form_url .= '/' . $this->meter->getId();
?>

<?php
$gas_param_display = 'display: none;';
$amps_param_display = 'display: none;';
$hr_param_display = 'display: none;';
if (isset($this->meter))
{
	if ($this->meter->getType() == 'gas')
		$gas_param_display = 'display: block;';
	else if ($this->meter->getType() == 'amps')
		$amps_param_display = 'display: block;';
	else if ($this->meter->getType() == 'hourrun')
		$hr_param_display = 'display: block;';
}
?>

<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo $form_url; ?>" method="POST" onsubmit="return check_channel_value()">
		<div class="form-group">
			<label for="name" class="col-md-3 col-sm-4 col-xs-10 control-label">Site Name</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Site Name" class="form-control" value="<?php echo (isset($this->site))?$this->site->getName():''; ?>" name="site_name" id="site_name" readonly> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Site Code</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Site Code" class="form-control" value="<?php echo (isset($this->site))?$this->site->getCode():''; ?>" name="site_code" id="site_code" readonly> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Name *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Meter Name" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getName():''; ?>" name="meter_name" id="meter_name" required="required"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Description</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Description" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getDescription():''; ?>" name="meter_desc" id="meter_desc"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Location</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="post code of site or meter" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getLocation():''; ?>" name="meter_location" id="meter_location"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_location', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Type *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">

				<select data-placeholder="Select Meter Type" class="form-control" id="meter_type" name="meter_type" placeholder="Meter Type" onchange="select_meter_units()" required
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_type', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
					<option value="">Select Type</option>
					<option value="power" <?php echo (isset($this->meter) && $this->meter->getType() == 'power')?'SELECTED':''; ?>>Power</option> 
					<option value="water" <?php echo (isset($this->meter) && $this->meter->getType() == 'water')?'SELECTED':''; ?>>Water</option>
					<option value="gas" <?php echo (isset($this->meter) && $this->meter->getType() == 'gas')?'SELECTED':''; ?>>Gas</option>
					<option value="heat" <?php echo (isset($this->meter) && $this->meter->getType() == 'heat')?'SELECTED':''; ?>>Heat</option>
					<option value="amps" <?php echo (isset($this->meter) && $this->meter->getType() == 'amps')?'SELECTED':''; ?>>Current (Amps)</option>
					<option value="temp" <?php echo (isset($this->meter) && $this->meter->getType() == 'temp')?'SELECTED':''; ?>>Temperature</option>
					<option value="boiler" <?php echo (isset($this->meter) && $this->meter->getType() == 'boiler')?'SELECTED':''; ?>>Boiler</option>
					<option value="levels" <?php echo (isset($this->meter) && $this->meter->getType() == 'levels')?'SELECTED':''; ?>>Levels</option>
					<option value="number" <?php echo (isset($this->meter) && $this->meter->getType() == 'number')?'SELECTED':''; ?>>Number</option>
					<option value="rh" <?php echo (isset($this->meter) && $this->meter->getType() == 'rh')?'SELECTED':''; ?>>Relative Humidity</option>
					<option value="hourrun" <?php echo (isset($this->meter) && $this->meter->getType() == 'hourrun')?'SELECTED':''; ?>>Hours Run/Open</option>

				</select> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">MAC Code *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="MAC code number of the Pinger" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getMac():''; ?>" name="mac_code" id="mac_code" required="required"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_mac', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Module No *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Module No" class="form-control chosen-select" id="module_no" name="module_no" placeholder="Module Number" 
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_module', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
				<?php
				for ($i=0; $i<100; $i++)
				{
					if (isset($this->meter) && $this->meter->getModuleNo() == $i)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
				} 
				?>
				</select>  
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Slot No *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Slot No" class="form-control chosen-select" id="slot_no" name="slot_no" placeholder="Slot Number" 
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_slot', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
				<?php
				for ($i=0; $i<100; $i++)
				{
					if (isset($this->meter) && $this->meter->getSlotNo() == $i)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
				} 
				?>
				</select>   
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Channel No *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Channel No" class="form-control chosen-select" id="channel_no" name="channel_no" placeholder="Channel Number"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_channel', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
				<?php
				for ($i=1; $i<17; $i++)
				{
					if (isset($this->meter) && $this->meter->getChannelNo() == $i)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
				} 
				?>
				</select> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Unit *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">

				<select data-placeholder="Select Unit No" class="form-control" id="meter_unit" name="meter_unit" placeholder="Meter Unit" required
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_unit', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
					<option value="">Select Unit</option>
				</select> 
			</div>
		</div>

		<div class="form-group additional_hourrun_params" style="<?php echo $hr_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Channel No for Web Dial</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Channel No" class="form-control chosen-select" id="hr_channel_no" name="hr_channel_no" placeholder="Channel Number"
					<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_channel', $i4energy_session->user_priviledge))?'':'disabled'; ?>
					>
					<?php
					for ($i=1; $i<17; $i++)
					{
						if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialChannel() == $i)
							$selected = 'SELECTED';
						else
							$selected = '';
						echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
					}
					?>
				</select>
			</div>
		</div>

		<div class="form-group additional_hourrun_params" style="<?php echo $hr_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Unit for Web Dial</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">

				<select data-placeholder="Select Unit No" class="form-control" id="hr_unit" name="hr_unit" placeholder="Meter Unit"
					<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_unit', $i4energy_session->user_priviledge))?'':'disabled'; ?>
					>
					<option value="">Select Unit</option>
					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'kwh')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="kwh" <?php echo $selected; ?>>kWh</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'm3')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="m3" <?php echo $selected; ?>>M3</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'l')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="l" <?php echo $selected; ?>>Litres</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'amps')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="amps" <?php echo $selected; ?>>Amps</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'c')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="c" <?php echo $selected; ?>>Celsius</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'ma')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="ma" <?php echo $selected; ?>>Mili Amps (mA)</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'v')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="v" <?php echo $selected; ?>>Volts</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'onoff')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="onoff" <?php echo $selected; ?>>On/Off</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'rh')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="rh" <?php echo $selected; ?>>RH%</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'hrun')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="hrun" <?php echo $selected; ?>>Running/Off</option>

					<?php
					if (isset($this->meter_attr) && $this->meter_attr->getHourRunWebDialUnit() == 'hopen')
						$selected = 'SELECTED';
					else
						$selected = '';
					?>
					<option value="hopen" <?php echo $selected; ?>>Open/Close</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Conversion Factor</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Conversion Factor" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getConversationFactor():''; ?>" name="conversation_factor" id="conversation_factor"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_control_link', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Offset</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Offset Number" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getOffset():''; ?>" name="offset_number" id="offset_number"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Install Date</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Installation Date" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getInstallDate():''; ?>" name="install_date" id="install_date" readonly>
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Cost per Unit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Cost in pence per unit" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getCost():''; ?>" name="cost" id="cost"> 
			</div>
		</div>
		
		<div class="form-group additional_amps_params" style="<?php echo $amps_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Reference Voltage</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Reference Voltage" class="form-control" value="<?php echo (isset($this->meter_attr) && $this->meter_attr->getReferenceVoltage() != '')?$this->meter_attr->getReferenceVoltage():'230'; ?>" name="ref_voltage" id="ref_voltage"> 
			</div>
		</div>
		
		<div class="form-group additional_gas_params" style="<?php echo $gas_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Volume Correction Factor</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Gas volume correction factor" class="form-control" value="<?php echo (isset($this->meter_attr) && $this->meter_attr->getCarbonVolumeCorrectionFactor() != '')?$this->meter_attr->getCarbonVolumeCorrectionFactor():'1.022640'; ?>" name="volume_correction_factor" id="volume_correction_factor"> 
			</div>
		</div>
		
		<div class="form-group additional_gas_params" style="<?php echo $gas_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Calorific Value</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Gas calorific value" class="form-control" value="<?php echo (isset($this->meter_attr) && $this->meter_attr->getCarbonCalorificValue() != '')?$this->meter_attr->getCarbonCalorificValue():'39.3'; ?>" name="calorific_value" id="calorific_value"> 
			</div>
		</div>
		
		<div class="form-group additional_gas_params" style="<?php echo $gas_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">kWh Conversion factor</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Gas kWh conversion factor" class="form-control" value="<?php echo (isset($this->meter_attr) && $this->meter_attr->getCarbonKwhConversionFactor() != '')?$this->meter_attr->getCarbonKwhConversionFactor():'3.6'; ?>" name="kwh_conversion_factor" id="kwh_conversion_factor"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Carbon (kg/CO<sub>2</sub>)</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Carbon Savings (kg/CO2)" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getCarbonSavings():''; ?>" name="carbon_savings" id="carbon_savings"> 
			</div>
		</div>

		<div class="form-group additional_hourrun_params" style="<?php echo $hr_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Operations Pulse 1 Text</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Operations Pulse 1" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getHourRunPulseText1():''; ?>" name="hr_pulse1_text" id="hr_pulse1_text">
			</div>
		</div>

		<div class="form-group additional_hourrun_params" style="<?php echo $hr_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Operations Pulse 2 Text</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Operations Pulse 2" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getHourRunPulseText2():''; ?>" name="hr_pulse2_text" id="hr_pulse2_text">
			</div>
		</div>

		<div class="form-group additional_hourrun_params" style="<?php echo $hr_param_display; ?>">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Operations Pulse 3 Text</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Operations Pulse 3" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getHourRunPulseText3():''; ?>" name="hr_pulse3_text" id="hr_pulse3_text">
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Control Link</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Control Link to TPS1 Server" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getControlLink():''; ?>" name="control_link" id="control_link">
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Meter Timezone</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Timezone" class="form-control" id="meter_timezone" name="meter_timezone" placeholder="Meter Timezone"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_timezone', $i4energy_session->user_priviledge))?'':'disabled'; ?>
				>
				<?php
				if (isset($this->meter))
					$selected_timezone = $this->meter->getTimezone();
				else
					$selected_timezone = 'Europe/London';
				
				$tzlist = DateTimeZone::listIdentifiers(DateTimeZone::ALL);
				foreach ($tzlist as $tz)
				{
					if ($selected_timezone == $tz)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $tz . '" ' . $selected . '>' . $tz . '</option>';
				}
				?>
				</select> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Ping Rate</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Meter ping rate in seconds" class="form-control" value="<?php echo (isset($this->meter))?$this->meter->getPingRate():''; ?>" name="ping_rate" id="ping_rate"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_pingrate', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Phone No for SMS</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Phone no to send SMS Alerts" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getPhoneNo():''; ?>" name="alert_phone_no" id="alert_phone_no"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_phonesms', $i4energy_session->user_priviledge))?'READONLY':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">First Email Alert</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="email"  placeholder="Email Address to send alerts" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getEmail1():''; ?>" name="email1" id="email1"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Second Email Alert</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="email"  placeholder="Email Address to send alerts" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getEmail2():''; ?>" name="email2" id="email2"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Third Email Alert</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="email"  placeholder="Email Address to send alerts" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getEmail3():''; ?>" name="email3" id="email3"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_3rdemail', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Web Dial Min Scale</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Min Scale value for Webpage Dial" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getWebMinScale():''; ?>" name="min_scale" id="min_scale"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_minscale', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Web Dial Max Scale</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Max Scale value for Webpage Dial" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getWebMaxScale():''; ?>" name="max_scale" id="max_scale"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_maxscale', $i4energy_session->user_priviledge))?'':'READONLY'; ?>> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Web Dial Update Interval</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="number"  placeholder="in seconds" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getWebUpdateInterval():''; ?>" name="update_interval" id="update_interval"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Good Status Min Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Good/Green Status min limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusGoodMin():''; ?>" name="status_good_min" id="status_good_min"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Good Status Max Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Good/Green Status max limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusGoodMax():''; ?>" name="status_good_max" id="status_good_max"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Warning Status Min Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Warning/Yellow Status min limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusWarningMin():''; ?>" name="status_warn_min" id="status_warn_min"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Warning Status Max Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Warning/Yellow Status max limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusWarningMax():''; ?>" name="status_warn_max" id="status_warn_max"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Alert Status Min Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Alert/Red Status min limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusAlertMin():''; ?>" name="status_alert_min" id="status_alert_min"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Alert Status Max Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Alert/Red Status max limit" class="form-control" value="<?php echo (isset($this->meter_alert))?$this->meter_alert->getStatusAlertMax():''; ?>" name="status_alert_max" id="status_alert_max"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Min Alert Limit if drops below</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="alert if longer than set in Min Alert Time Limit" class="form-control" value="<?php  echo (isset($this->meter_alert) && is_numeric($this->meter_alert->getAlertLimitMin()))? $this->meter_alert->getAlertLimitMin():'';  ?>" name="alert_min_limit" id="alert_min_limit"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Max Alert Limit if exceeds</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="alert if longer than set in Max Alert Time Limit" class="form-control" value="<?php echo (isset($this->meter_alert) && is_numeric($this->meter_alert->getAlertLimitMax()))?$this->meter_alert->getAlertLimitMax():''; ?>" name="alert_max_limit" id="alert_max_limit"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Min Alert Time Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="in minutes" class="form-control" value="<?php echo (isset($this->meter_alert) && !is_null($this->meter_alert->getAlertTimeLimitMin()))?$this->meter_alert->getAlertTimeLimitMin():''; ?>" name="alert_min_time" id="alert_min_time"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Max Alert Time Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="in minutes" class="form-control" value="<?php echo (isset($this->meter_alert) && !is_null($this->meter_alert->getAlertTimeLimitMax()))?$this->meter_alert->getAlertTimeLimitMax():''; ?>" name="alert_max_time" id="alert_max_time"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Ping Alert Limit</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="meter has stopped pinging for longer than X mins" class="form-control" value="<?php echo (isset($this->meter_alert) && !is_null($this->meter_alert->getAlertLimitPing()) )?$this->meter_alert->getAlertLimitPing():''; ?>" name="ping_limit" id="ping_limit"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Low Pinger Battery</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Low pinger battery to alert" class="form-control" value="<?php echo (isset($this->meter_alert) && !is_null($this->meter_alert->getLowPingerBattery()))?$this->meter_alert->getLowPingerBattery():''; ?>" name="low_battery" id="low_battery"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_lowbattery', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Battery Channel No *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Battery Channel No" class="form-control chosen-select" id="battery_channel_no" name="battery_channel_no" placeholder="Low Battery Channel Number" >
				<?php
				for ($b=0; $b<100; $b++)
				{
					if (isset($this->meter_alert) && $this->meter_alert->getLowPingerBatteryChannelNo() == $b)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $b . '" ' . $selected . '>' . $b . '</option>';
				} 
				?>
				</select>   
			</div>
		</div>				

		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">M2M GSM Device</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<label class="radio-inline">
					<input type="radio" name="gcm_device" id="inlineRadio1" value="1" <?php echo (isset($this->meter_attr) && $this->meter_attr->getIsGcm() == 1)?'CHECKED':''; ?>
					<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_gcm', $i4energy_session->user_priviledge))?'':'DISABLED'; ?>
					> Yes
				</label>
				<label class="radio-inline">
					<input type="radio" name="gcm_device" id="inlineRadio2" value="0" <?php echo (isset($this->meter_attr) && $this->meter_attr->getIsGcm() == 0)?'CHECKED':''; ?>
					<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_gcm', $i4energy_session->user_priviledge))?'':'DISABLED'; ?>
					> No
				</label>
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Network Name</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Network Name of Device" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getNetworkName():''; ?>" name="network_name" id="network_name"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_networkname', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">SIM Card No</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="SIM Card Number" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getSimCardNo():''; ?>" name="sim_card_no" id="sim_card_no"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_simno', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-3 col-sm-4 col-xs-10 control-label">Phone No</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Phone No of Device" class="form-control" value="<?php echo (isset($this->meter_attr))?$this->meter_attr->getPhoneNo():''; ?>" name="phone_no" id="phone_no"
				<?php echo (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_phoneno', $i4energy_session->user_priviledge))?'':'READONLY'; ?>
				> 
			</div>
		</div>
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button type="submit" class="btn btn-primary"><i class="fa fa-rocket"></i> <?php echo (isset($this->meter))?'Update Meter':'Add New Meter'; ?></button> 
			</div> 
		</div> 
	</form> 
</div>

<script type="text/javascript">
function select_meter_units ()
{
	var meter_type = jQuery ('#meter_type').val();
	var meter_unit = jQuery ('#meter_unit');
	
	// Remove all meter units
	meter_unit.empty().append('<option value="">Select Unit</option>');

	if (meter_type == 'power' || meter_type == 'heat')
		meter_unit.append ('<option value="kwh">kWh</option>');
	if (meter_type == 'gas' || meter_type == 'water')
		meter_unit.append ('<option value="m3">M3</option>');

	if (meter_type == 'water')
	{
		meter_unit.append ('<option value="l">Litres</option>');
		//meter_unit.append ('<option value="gl">Gallons</option>');
		//meter_unit.append ('<option value="pints">Pints</option>');
	}

	if (meter_type == 'amps')
		meter_unit.append ('<option value="amps">Amps</option>');

	if (meter_type == 'temp')
		meter_unit.append ('<option value="c">Celsius</option>');

	if (meter_type == 'levels')
	{
		meter_unit.append ('<option value="ma">Mili Amps (mA)</option>');
		meter_unit.append ('<option value="v">Volts</option>');
	}

	if (meter_type == 'number')
		meter_unit.append ('<option value="onoff">On/Off</option>');

	if (meter_type == 'rh')
		meter_unit.append ('<option value="rh">RH%</option>');

	if (meter_type == 'hourrun') {
		meter_unit.append('<option value="hrun">Running/Off</option>');
		meter_unit.append('<option value="hopen">Open/Close</option>');

		jQuery ('#module_no').val ('7');
		//jQuery ('#module_no').attr ('disabled', true);
		jQuery ('#module_no').trigger("chosen:updated");
	}

	if (meter_type == 'boiler')
	{
		meter_unit.append ('<option value="c">Celsius</option>');
		jQuery ('#module_no').val ('6');
		//jQuery ('#slot_no').val ('3');
		jQuery ('#module_no').attr ('disabled', true);
		//jQuery ('#slot_no').attr ('disabled', true);
		jQuery ('#module_no').trigger("chosen:updated");
		//jQuery ('#slot_no').trigger("chosen:updated");
	}

	// Remove disable attribute from select boxes
	if (meter_type != 'boiler' && meter_type != 'hourrun')
	{
		<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_module', $i4energy_session->user_priviledge)) { ?>
		jQuery ('#module_no').removeAttr ('disabled');
		<?php } ?>
		<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_slot', $i4energy_session->user_priviledge)) { ?>
		jQuery ('#slot_no').removeAttr ('disabled');
		<?php } ?>

		jQuery ('#module_no').trigger("chosen:updated");
		jQuery ('#slot_no').trigger("chosen:updated");
	}

	jQuery("#meter_unit").trigger("chosen:updated");

	if (meter_type == 'gas')
		jQuery ('.additional_gas_params').show();
	else
		jQuery ('.additional_gas_params').hide();

	if (meter_type == 'amps')
		jQuery ('.additional_amps_params').show();
	else
		jQuery ('.additional_amps_params').hide();

	if (meter_type == 'hourrun') {
		jQuery('.additional_hourrun_params').show();
		jQuery('#hr_channel_no_chosen').width('100%');
		jQuery('#hr_unit_chosen').width('100%');
	}
	else {
		jQuery('.additional_hourrun_params').hide();
	}
}

function check_channel_value ()
{
	if (jQuery ('#meter_type').val() == 'boiler')
	{
		var channel = jQuery ('#channel_no').val();
		if (channel != 10 && channel != 11 && channel != 12 && channel != 13)
		{
			alert ("You must select channel no 10, 11, 12 or 13 with Boiler meter");
			return false;
		}
	}

	jQuery ('#meter_type').removeAttr ('disabled');
	jQuery ('#channel_no').removeAttr ('disabled');
	jQuery ('#meter_unit').removeAttr ('disabled');
	jQuery ('#module_no').removeAttr ('disabled');
	jQuery ('#slot_no').removeAttr ('disabled');
	jQuery ('#meter_timezone').removeAttr ('disabled'); 
	
	return true;
}

jQuery (document).ready ( function () {
	jQuery ('#module_no, #slot_no, #channel_no, #meter_type, #meter_unit, #meter_timezone, #hr_channel_no, #hr_unit').chosen();
	var selected_meter_unit = '<?php echo (isset($this->meter) && $this->meter->getUnit() != '')?$this->meter->getUnit():''; ?>';
	select_meter_units ();
	jQuery ('#meter_unit').val (selected_meter_unit);
	jQuery("#meter_unit").trigger("chosen:updated");

	jQuery('#install_date').datetimepicker({format: 'Y-m-d H:i'});
});
</script>