<?php
$i4energy_session = new Zend_Session_Namespace('I4energySession');
$meter_type =  $this->meter->getType();
$meter_unit = $this->meter_attrs->getHourRunWebDialUnit();

$unit_per = ' / H';
if ($meter_unit == 'amps' || $meter_unit == 'c' || $meter_unit == 'ma' || $meter_unit == 'v' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'heat' || $meter_unit == 'rh')
    $unit_per = '';

$chart_display_unit = I4energy_Model_Meters::getDisplayUnit($meter_unit);;
$chart_display_unit = str_replace('<sup>3</sup>', '\u00B3', $chart_display_unit);
$chart_display_unit = str_replace('&deg;', '\u00B0', $chart_display_unit);

if ($this->meter->getUnit() == 'hrun')
{
    $totalRunText = 'Total Hours run';
    $totalRun24HText = 'Total Hours run in last 24H';
    $totalNotRunText = 'Total Hours not run';
    $totalSystemUpText = 'Total Hours system ON';
}
else{
    $totalRunText = 'Total Hours open';
    $totalRun24HText = 'Total Hours open in last 24H';
    $totalNotRunText = 'Total Hours closed';
    $totalSystemUpText = 'Total Hours system UP';
}
?>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-9">
            <div class="col-xs-6 col-sm-6 col-md-6 border home-new"><p class=" meter-head bold"><?php echo $this->meter->getName(); ?></p></div>
            <div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-right-none"><p class="meter-head bold"><?php echo $this->site->getName(); ?></p></div>
            <div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-top22">
                <div class="main-left">
                    <p style="float: left;" class="text-left"><?php echo $totalRunText; ?></p>
                    <p class="text-right" id="today_run">
                        <?php
                        if (isset ($this->today_run))
                            echo I4energy_Model_Utils_DateUtils::secondsToHHMM ($this->today_run);
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
                <div class="main-left">
                    <p style="float: left;" class="text-left"><?php echo $totalRun24HText; ?></p>
                    <p class="text-right" id="last24h_run">&nbsp;
                        <?php
                        if (isset ($this->last24h_run))
                            echo I4energy_Model_Utils_DateUtils::secondsToHHMM ($this->last24h_run);
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
                <div class="main-left">
                    <p style="float: left;" class="text-left"><?php echo $totalNotRunText; ?></p>
                    <p class="text-right" id="today_close">&nbsp;
                        <?php
                        if (isset ($this->today_close))
                            echo I4energy_Model_Utils_DateUtils::secondsToHHMM ($this->today_close);
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
                <div class="main-left border-bottom-none">
                    <p style="float: left;" class="text-left"><?php echo $totalSystemUpText; ?></p>
                    <p class="text-right" id="total_run">&nbsp;
                        <?php
                        if (isset ($this->total_run))
                            echo I4energy_Model_Utils_DateUtils::secondsToHHMM ($this->total_run);
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 border home-new margin-top22 margin-right-none">
                <div class="main-left">
                    <p style="float: left;" class="text-left"><?php echo $this->meter_attrs->getHourRunPulseText1(); ?></p>
                    <?php
                    $pulse1_css_class = 'hourrun_status_na';
                    if (isset ($this->pulse1_status) && $this->pulse1_status != '') {
                        if ($this->pulse1_status == '1')
                            $pulse1_css_class = 'hourrun_status_on';
                        else
                            $pulse1_css_class = 'hourrun_status_off';
                    }
                    ?>
                    <p class="text-right <?php echo $pulse1_css_class; ?>" id="pulse1">
                        <?php
                        if (isset ($this->pulse1))
                            echo $this->pulse1;
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
                <div class="main-left">
                    <p style="float: left;" class="text-left"><?php echo $this->meter_attrs->getHourRunPulseText2(); ?></p>
                    <?php
                    $pulse2_css_class = 'hourrun_status_na';
                    if (isset ($this->pulse2_status) && $this->pulse2_status != '') {
                        if ($this->pulse2_status == '1')
                            $pulse2_css_class = 'hourrun_status_on';
                        else
                            $pulse2_css_class = 'hourrun_status_off';
                    }
                    ?>
                    <p class="text-right <?php echo $pulse2_css_class; ?>"  id="pulse1">
                        <?php
                        if (isset ($this->pulse2))
                            echo $this->pulse2;
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
                <div class="main-left border-bottom-none">
                    <p style="float: left;" class="text-left"><?php echo $this->meter_attrs->getHourRunPulseText3(); ?></p>
                    <?php
                    $pulse3_css_class = 'hourrun_status_na';
                    if (isset ($this->pulse3_status) && $this->pulse3_status != '') {
                        if ($this->pulse3_status == '1')
                            $pulse3_css_class = 'hourrun_status_off';
                        else
                            $pulse3_css_class = 'hourrun_status_on';
                    }
                    ?>
                    <p class="text-right <?php echo $pulse3_css_class; ?>" id="pulse1">
                        <?php
                        if (isset ($this->pulse3))
                            echo $this->pulse3;
                        else
                            echo 'NA';
                        ?>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-3">

            <!-- <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none" style="text-align:center">Logo Here</div>-->
            <div class="col-xs-6 col-sm-6 col-md-12 margin-top10 padding-left" style="text-align:center">
                <div id="gauge_div">
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none font-color">
                <?php
                if ($this->meter->getUnit() == 'hrun') {
                    $onText = 'RUNNING';
                    $offText = 'OFF';
                }
                else {
                    $onText = 'OPEN';
                    $offText = 'CLOSED';
                }
                echo '<div id="number_meter_status">';
                if (isset ($this->current_status) && $this->current_status != '')
                    echo ($this->current_status == '1')?'<p id="current_status" class="text-center meter-on">' . $onText . '</p>':'<p id="current_status" class="text-center meter-off">' . $offText . '</p>';
                else
                    echo '<p id="current_status" class="text-center meter-on">NA</p>';
                echo '</div>';
                ?>
            </div>
        </div>
    </div>

    <div class="row">
        <!--<div class="col-xs-6 col-sm-6 col-md-4 width32 margin-top22 margin-right-none"><div  id="gauge_div"></div></div>-->
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
            <div id="hourly_chart" width="100%" style="display: block;"></div>
        </div>
    </div>

    <div class="row margin-top22">
        <button type="button" id='button_download_meterdata_modal' style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#download_meterdata_modal">
            <strong>Download Meter Data</strong>
        </button>

        <button type="button" id="chart_prev_day" class="btn btn-success"><strong>-1 Day</strong></button>
        <button type="button" id="chart_next_day" class="btn btn-success" disabled><strong>+1 Day</strong></button>
        <button type="button" id="chart_select_day" class="btn btn-success" data-toggle="modal" data-target="#chart_select_date"><strong>Select Day</strong></button>

        <?php
        $canViewControlLink = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_control_link', $i4energy_session->user_priviledge);
        if ($canViewControlLink) {
            $controlLink = '<a href="javascript:alert(\'Control Link to TPS1 Server not available\');" class="btn btn-primary"><strong>Control</strong></a>';
            if (isset ($this->meter_attrs) && $this->meter_attrs->getControlLink() != '') {
                $linkUrl = trim ($this->meter_attrs->getControlLink());
                if (!(preg_match ('/^http\:\/\//i', $linkUrl) || preg_match ('/^https\:\/\//i', $linkUrl)))
                    $linkUrl = 'http://' . $linkUrl;

                $controlLink = '<a href="' . $linkUrl . '" target="_blank" class="btn btn-primary"><strong>Control</strong></a>';
            }
            echo $controlLink;
        }
        ?>
    </div>

</div>

<div class="modal fade" id="chart_select_date" tabindex="-1" role="dialog" aria-labelledby="dialog_date_select_label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dialog_date_select_label">Select Date</h4>
            </div>

            <div class="modal-body">
                <input type="datetime" placeholder="Select Date" class="" value="" name="chart_selected_date_text" id="chart_selected_date_text" data-provide="datepicker" readonly>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="dialog_date_select_button" class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="download_meterdata_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Download Meter Data</h4>
            </div>
            <div class="modal-body">
                <form id='meter_data_download_form' action='/meters/downloadhourrundata' method="Post">
                    <h6>Note: Only recent 5000 pings will be downloaded </h6>
                    <label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Date</label>
                    <input type="datetime" placeholder="Start Date" class="" value="" name="start_date" id="start_date" data-provide="datepicker" readonly>
                    to
                    <input type="datetime" placeholder="End Date" class="" value="" name="end_date" id="end_date" data-provide="datepicker" readonly>
                    <input type="text" id="meter_id" name="meter_id" value="<?php echo $this->meter->getId();?>" style="display: none;">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="getmeterdata" onclick="getmeterdatacsv()" class="btn btn-primary">Download</button>
            </div>
        </div>
    </div>
</div>

<?php
$gauge_options = array('width' => 200, 'height' => 200, 'minorTicks' => 5, 'animation' => array ('duration' => 1000), 'annotations' => array ('highContrast' => true));
$gauge_options['min'] = 0;
$gauge_options['max'] = 100;

$webMinScale = $this->meter_attrs->getWebMinScale();
$statusGoodMin = $this->meter_alert->getStatusGoodMin();
if (isset ($webMinScale) && $webMinScale != '')
    $gauge_options['min'] = $webMinScale;
else if (isset ($statusGoodMin) && $statusGoodMin != '')
    $gauge_options['min'] = $statusGoodMin;

$webMaxScale = $this->meter_attrs->getWebMaxScale();
$statusAlertMax = $this->meter_alert->getStatusAlertMax();
if (isset ($webMaxScale) && $webMaxScale != '')
    $gauge_options['max'] = $webMaxScale;
else if (isset ($statusAlertMax) && $statusAlertMax != '')
    $gauge_options['max'] = $statusAlertMax;

$statusGoodMax = $this->meter_alert->getStatusGoodMax();
if (isset ($statusGoodMin))
    $gauge_options['greenFrom'] = $statusGoodMin;
if (isset ($statusGoodMax))
    $gauge_options['greenTo'] = $statusGoodMax;

$statusWarningMin = $this->meter_alert->getStatusWarningMin();
$statusWarningMax = $this->meter_alert->getStatusWarningMax();
if (isset ($statusWarningMin))
    $gauge_options['yellowFrom'] = $statusWarningMin;
if (isset ($statusWarningMax))
    $gauge_options['yellowTo'] = $statusWarningMax;

$statusAlertMin = $this->meter_alert->getStatusAlertMin();
if (isset ($statusAlertMin))
    $gauge_options['redFrom'] = $statusAlertMin;
if (isset ($statusAlertMax))
    $gauge_options['redTo'] = $statusAlertMax;

$gauge_update_interval = $this->meter_attrs->getWebUpdateInterval();
if (isset ($gauge_update_interval) && $gauge_update_interval > 0)
    $gauge_update_interval = $gauge_update_interval*1000;
else
    $gauge_update_interval = 60000; //1 minute
?>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    jQuery (document).ready ( function () {
        $('#start_date').datetimepicker({format: 'Y-m-d H:i'});
        $('#end_date').datetimepicker({format: 'Y-m-d H:i'});
        $('#chart_selected_date_text').datetimepicker({format: 'Y-m-d', timepicker: false, maxDate:'+1970/01/01', closeOnDateSelect: true});
    });

    google.load("visualization", "1.1", {packages:["corechart", "gauge"]});
    google.setOnLoadCallback(drawChart);

    var chart_date = new Date();
    var gauge_chart_wrapper;
    var hourly_chart_wrapper;

    function drawChart ()
    {
        <?php if (isset ($this->webdial_reading)) { ?>
        drawGaugeChart();
        <?php } ?>

        <?php if (isset ($this->hourly_chart_data) && sizeof ($this->hourly_chart_data) > 0) { ?>
        drawHourlyChart();
        <?php } ?>
    }

    function drawGaugeChart()
    {
        var data = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['<?php echo $chart_display_unit . $unit_per; ?>', <?php echo ($this->webdial_reading == '' || $this->webdial_reading == 'NA')?0:$this->webdial_reading; ?>]
        ]);

        gauge_chart_wrapper = new google.visualization.ChartWrapper({
            chartType: 'Gauge',
            dataTable: data,
            options: <?php echo json_encode ($gauge_options); ?>,
            containerId: 'gauge_div'
        });
        gauge_chart_wrapper.draw();
    }

    function drawHourlyChart() {
        var data = google.visualization.arrayToDataTable([
            ["Time", "Status", {'type': 'string', 'role': 'tooltip', 'p': {'html': true}}]
        <?php
             if (isset ($this->hourly_chart_data))
             {
                 foreach ($this->hourly_chart_data as $key => $value) {
                    if ($value == 0)
                        $toolTip = $offText;
                    else if ($value == 1)
                        $toolTip = $onText;
                    else
                        $toolTip = 'No Ping';

                    echo ',["' . $key . '",' . $value . ', getTooltipHtml ("' . $key . '", "' . $toolTip . '")]' . "\n";
                 }
             }
        ?>
        ]);

        var options = {
            title: '<?php echo $onText; ?> / <?php echo $offText; ?> status of <?php echo $this->site->getName(); ?> for <?php echo gmdate('Y-m-d'); ?>',
            isStacked: false,
            width: 1024,
            height: 400,
            animation:{
                duration: 1000,
                easing: 'out'
            },
            legend: { position: "none" },
            hAxis: {title: 'Time', showTextEvery: 60, slantedText: true, slantedTextAngle: 45},
            annotations: {highContrast: true, alwaysOutside: true},
            connectSteps: true,
            areaOpacity: 0,
            vAxis: {ticks: [{v:-1, f:''}, {v:0, f:'<?php echo $offText; ?>'}, {v:1, f:'<?php echo $onText; ?>'}]},
            tooltip: { isHtml: true }
        };

        hourly_chart_wrapper = new google.visualization.ChartWrapper({
            chartType: 'SteppedAreaChart',
            dataTable: data,
            options: options,
            containerId: 'hourly_chart'
        });
        hourly_chart_wrapper.draw();
    }

    jQuery (document).ready ( function () {
        setInterval(function() {
            jQuery.ajax ({
                url: "/meters/hourrun-readings/<?php echo $this->site->getId(); ?>/<?php echo $this->meter->getId(); ?>",
                type: "POST",
                data: { time : 1 },
                dataType: "json"
            })
            .done (function( res )
            {
                if (res.webdial_reading =='' || res.webdial_reading == 'NA')
                    res.webdial_reading = 0;

                // Gauge Chart
                if (gauge_chart_wrapper)
                {
                    gauge_chart_wrapper.getDataTable().setValue (0, 1, res.webdial_reading);
                    gauge_chart_wrapper.draw();
                }

                jQuery ('#today_run').text (res.today_run);
                jQuery ('#last24h_run').text (res.last24h_run);
                jQuery ('#today_close').text (res.today_close);
                jQuery ('#total_run').text (res.total_run);

                jQuery('#pulse1').removeClass ('hourrun_status_na');
                jQuery('#pulse1').removeClass ('hourrun_status_on');
                jQuery('#pulse1').removeClass ('hourrun_status_off');
                jQuery('#pulse1').text (res.pulse1);
                if (res.pulse1 == '1')
                    jQuery('#pulse1').addClass ('hourrun_status_off');
                else if (res.pulse1 == '0')
                    jQuery('#pulse1').addClass ('hourrun_status_on');
                else
                    jQuery('#pulse1').addClass ('hourrun_status_na');

                jQuery('#pulse2').removeClass ('hourrun_status_na');
                jQuery('#pulse2').removeClass ('hourrun_status_on');
                jQuery('#pulse2').removeClass ('hourrun_status_off');
                jQuery('#pulse2').text (res.pulse2);
                if (res.pulse2 == '1')
                    jQuery('#pulse2').addClass ('hourrun_status_off');
                else if (res.pulse2 == '0')
                    jQuery('#pulse2').addClass ('hourrun_status_on');
                else
                    jQuery('#pulse2').addClass ('hourrun_status_na');

                jQuery('#pulse3').removeClass ('hourrun_status_na');
                jQuery('#pulse3').removeClass ('hourrun_status_on');
                jQuery('#pulse3').removeClass ('hourrun_status_off');
                jQuery('#pulse3').text (res.pulse3);
                if (res.pulse3 == '1')
                    jQuery('#pulse3').addClass ('hourrun_status_off');
                else if (res.pulse3 == '0')
                    jQuery('#pulse3').addClass ('hourrun_status_on');
                else
                    jQuery('#pulse3').addClass ('hourrun_status_na');

                jQuery ('#current_status').removeClass ('meter-on');
                jQuery ('#current_status').removeClass ('meter-off');
                if (res.current_status == '1')
                {
                    jQuery ('#current_status').addClass ('meter-off');
                    jQuery ('#current_status').text ('<?php echo $onText; ?>');
                }
                else if (res.current_status == '0')
                {
                    jQuery ('#current_status').addClass ('meter-on');
                    jQuery ('#current_status').text ('<?php echo $offText; ?>');
                }
                else
                {
                    jQuery ('#current_status').addClass ('meter-on');
                    jQuery ('#current_status').text ('NA');
                }

                // Hourly Column Chart
                if (hourly_chart_wrapper && isTodayOrFuture())
                {
                    var dataTable = hourly_chart_wrapper.getDataTable();
                    if (dataTable != null)
                    {
                        rowIndex = 0;

                        var hourly_keys = Object.keys(res.hourly_chart_data);
                        hourly_keys.sort(function(a,b)
                        {
                            if (isNaN(a) || isNaN(b))
                            {
                                return a > b ? 1 : -1;
                            }
                            return a - b;
                        });

                        for (var hi = 0; hi < hourly_keys.length; hi++)
                        {
                            var tooltip = 'No Ping';
                            if (res.hourly_chart_data[hourly_keys[hi]] == 0)
                                tooltip = '<?php echo $offText; ?>';
                            else if (res.hourly_chart_data[hourly_keys[hi]] == 1)
                                tooltip = '<?php echo $onText; ?>';
                            dataTable.setValue (rowIndex, 1, res.hourly_chart_data[hourly_keys[hi]]);
                            dataTable.setValue (rowIndex, 2, getTooltipHtml (dataTable.getValue (rowIndex, 0), tooltip));
                            rowIndex++;
                        }
                    }

                    hourly_chart_wrapper.draw();
                }
            });
        }, <?php echo $gauge_update_interval; ?>);
    });

    jQuery ('#chart_prev_day').click (function () {
        var current_date = chart_date.getDate();
        var current_month = chart_date.getMonth();
        var current_year = chart_date.getFullYear();

        chart_date = new Date(current_year, current_month, current_date-1);

        if (!isTodayOrFuture())
        {
            jQuery ('#chart_next_day').removeAttr('disabled');
        }

        getHourRunChartData (chart_date.getFullYear() + "-" + (chart_date.getMonth()+1) + "-" + chart_date.getDate(), <?php echo $this->meter->getId(); ?>);
    });

    jQuery ('#chart_next_day').click (function () {
        var current_date = chart_date.getDate();
        var current_month = chart_date.getMonth();
        var current_year = chart_date.getFullYear();

        var today = new Date();
        var today_date = today.getDate();
        var today_month = today.getMonth();
        var today_year = today.getFullYear();

        if (isTodayOrFuture())
        {
            jQuery ('#chart_next_day').attr('disabled','disabled');
            return;
        }

        chart_date = new Date(current_year, current_month, current_date+1);

        if (isTodayOrFuture())
        {
            jQuery ('#chart_next_day').attr('disabled','disabled');
        }

        getHourRunChartData (chart_date.getFullYear() + "-" + (chart_date.getMonth()+1) + "-" + chart_date.getDate(), <?php echo $this->meter->getId(); ?>);
    });

    jQuery ('#dialog_date_select_button').click (function () {
        var selected_date = jQuery('#chart_selected_date_text').val();
        if (selected_date == '')
            return;

        chart_date = new Date (selected_date);

        if (isTodayOrFuture())
            jQuery ('#chart_next_day').attr('disabled','disabled');
        else
            jQuery ('#chart_next_day').removeAttr('disabled');

        getHourRunChartData (chart_date.getFullYear() + "-" + (chart_date.getMonth()+1) + "-" + chart_date.getDate(), <?php echo $this->meter->getId(); ?>);

        $('#chart_select_date').modal('hide');
    });

    function isTodayOrFuture()
    {
        var current_date = chart_date.getDate().toString();
        var current_month = chart_date.getMonth().toString();
        var current_year = chart_date.getFullYear().toString();

        var today = new Date();
        var today_date = today.getDate().toString();
        var today_month = today.getMonth().toString();
        var today_year = today.getFullYear().toString();

        if (current_date.length == 1)
            current_date = '0' + current_date;
        if (current_month.length == 1)
            current_month = '0' + current_month;
        if (today_date.length == 1)
            today_date = '0' + today_date;
        if (today_month.length == 1)
            today_month = '0' + today_month;

        if ((today_year + today_month + today_date) <= (current_year + current_month + current_date))
        {
            return true;
        }
        else
            return false;
    }

    function getHourRunChartData (date, meter_id) {
        jQuery.ajax({
            url: "/meters/hourrunchartdata",
            type: "POST",
            data: {date: date, meter_id: meter_id},
            dataType: "json"
        })
        .done(function (res) {
            if (hourly_chart_wrapper) {
                hourly_chart_wrapper.setOption('title', '<?php echo $onText; ?> / <?php echo $offText; ?> status of <?php echo $this->site->getName(); ?> for ' + date);
                var dataTable = hourly_chart_wrapper.getDataTable();
                if (dataTable != null) {
                    rowIndex = 0;

                    var hourly_keys = Object.keys(res.chart_data);
                    hourly_keys.sort(function (a, b) {
                        if (isNaN(a) || isNaN(b)) {
                            return a > b ? 1 : -1;
                        }
                        return a - b;
                    });

                    for (var hi = 0; hi < hourly_keys.length; hi++) {
                        var tooltip = 'No Ping';
                        if (res.chart_data[hourly_keys[hi]] == 0)
                            tooltip = '<?php echo $offText; ?>';
                        else if (res.chart_data[hourly_keys[hi]] == 1)
                            tooltip = '<?php echo $onText; ?>';
                        dataTable.setValue (rowIndex, 1, res.chart_data[hourly_keys[hi]]);
                        dataTable.setValue (rowIndex, 2, getTooltipHtml (dataTable.getValue (rowIndex, 0), tooltip));
                        rowIndex++;
                    }
                }

                hourly_chart_wrapper.draw();
            }
        });
    }

    function getTooltipHtml (time, status) {
        var css_class = 'hourrun_status_na';
        if (status == '<?php echo $offText; ?>')
            css_class = 'hourrun_status_off';
        else if (status == '<?php echo $onText; ?>')
            css_class = 'hourrun_status_on';

        return '<div style="padding:5px 5px 5px 5px;">' +
                '<b>' + time + '</b><br/>' +
                '<p class="' + css_class + '">' + status + '</p></div>';
    }

    function getmeterdatacsv() {
        $("#meter_data_download_form").submit();
    }
</script>