 
<!-- Include the plugin's CSS and JS: -->

 
<div class="page-header">
	<h1>User Meter Mapper</h1>
</div>  
<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="" method="POST" onsubmit="return check_channel_value()" >
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Site</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Site" class="form-control chosen-select" id="site" name="site" placeholder="Site" tabindex="2" >
				<option value="">--Select--</option>
				<?php
				foreach ($this->sites->rows as $site)
				{
					$selected = '';
					echo '<option value="' . $site['id'] . '" ' . $selected . '>' . ucfirst($site['name']) . '</option>';
				} 
				?>
				</select>  			
			</div>
		</div>
	<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Meter</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Meter" class="form-control chosen-select" id="meters" name="meters" placeholder="Meter" >
			
				</select>  			
			</div>
		</div>
		
				<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Users</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<select id="users" name="users" data-placeholder="Choose  users" class="chosen-select" multiple style="width:255px;" tabindex="3"  >
				<?php
				foreach ($this->users->rows as $user)
				{
					$selected = '';
					echo '<option id="user'.$user['id'] . '"  value="' . $user['id'] . '" ' . $selected . '>' . ucfirst($user['name']) . '</option>';
				} 
				?>
				</select>
			<div style="padding-left: 177px;">
			<button type="button" class="button" style="padding: 3px 22px;" onclick="addmeterusers()">
  			Save
  			</button>		
			</div>
			</div>
			
		</div>

		
		</form>
</div>		


<script type="text/javascript">

var config = {
	    '.chosen-select': {},
	    '.chosen-select-deselect': {
	        allow_single_deselect: true
	    },
	    '.chosen-select-no-single': {
	        disable_search_threshold: 10
	    },
	    '.chosen-select-no-results': {
	        no_results_text: 'Oops, nothing found!'
	    },
	    '.chosen-select-width': {
	        width: "95%"
	    }
	}
	//for (var selector in config) {
	//    $(selector).chosen(config[selector]);
	//}

jQuery(document).ready (function () {
	jQuery ('.chosen-select').chosen();


});

$("#site").bind('change',function(){

	 var siteid = $("#site").val();
	 var meterobj = document.getElementById('meters');
	 var op = document.createElement("option");		     
	 	clrMeter();
	 	clearSelected("users");
	 	op.value="";
	    op.text="--Select--";
	    meterobj.options.add(op);
	 console.log("1");   	
	jQuery.ajax ({
		type: "POST",
		url: "/sites/allocatedmeters",
		dataType:'JSON',
		data: {
		            siteid: siteid
		        },	
	})
	.done(function( response ) {
		response.rows.forEach(function(entry){
		var meterobj = document.getElementById('meters');
		var op = document.createElement("option");		     
			op.value=entry['id'];
		    op.text=entry['name'].toUpperCase();
		    meterobj.options.add(op);
		      jQuery ('#meters').trigger("chosen:updated");
		    
		});
		
	});

});

$("#meters").bind('change',function(){
	var meterid = $("#meters").val();
 	clearSelected("users");
	jQuery.ajax ({
		type: "POST",
		url: "/meters/allocatedusers",
		dataType:'JSON',
		data: {
		            meterid: meterid
		        },	
	})
	.done(function( response ) {
		response.data.forEach(function(entry){
			
		$("#user"+entry).attr('selected', true);
			jQuery ('.chosen-select').trigger("chosen:updated");
		});
	});

});


function addmeterusers(){
	var meterid = $("#meters").val();
	var userid = $("#users").val();
	jQuery.ajax ({
		type: "POST",
		url: "/meters/addusers",
		dataType:'JSON',
		data: {
			meterid: meterid,
			userid: userid
		        },	
	})
	.done(function( msg ) {
		if(msg.returnvalue =='valid' ){
			alert("User added ");
		}
	});	
}

function clrMeter(){
	 document.getElementById('meters').options.length=0;	
	  jQuery ('#meters').trigger("chosen:updated");     		     

	
}
function clrUser(){
	  document.getElementById('users').options.length=0;	
	  jQuery ('#users').trigger("chosen:updated");     		     
	
}
function clearSelected(id){
    var elements = document.getElementById(id).options;

    for(var i = 0; i < elements.length; i++){
      elements[i].selected = false;
      jQuery ('#'+id).trigger("chosen:updated");
    }
  }
</script>