<?php
$i4energy_session = new Zend_Session_Namespace('I4energySession');
$meter_type =  $this->meter->getType();
$meter_unit = $this->meter->getUnit();

$cost_unit = $this->display_unit;
$now_cost_usage = $this->now_usage;
$today_cost_usage = $this->today_usage;
$last24h_cost_usage = $this->last24h_usage;
$total_cost_usage = $this->total_usage;
if ($meter_type == 'gas' && $meter_unit == 'm3')
{
	$cost_unit = 'kWh';
	$now_cost_usage = ($now_cost_usage * 1.022640 * 39.3) / 3.6;
	$today_cost_usage = ($today_cost_usage * 1.022640 * 39.3) / 3.6;
	$last24h_cost_usage = ($last24h_cost_usage * 1.022640 * 39.3) / 3.6;
	$total_cost_usage = ($total_cost_usage * 1.022640 * 39.3) / 3.6;
}

$unit_per = ' / H';
if ($meter_unit == 'amps' || $meter_unit == 'c' || $meter_unit == 'ma' || $meter_unit == 'v' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'heat' || $meter_unit == 'rh')
	$unit_per = '';

$chart_display_unit = $this->display_unit;
$chart_display_unit = str_replace('<sup>3</sup>', '\u00B3', $chart_display_unit);
$chart_display_unit = str_replace('&deg;', '\u00B0', $chart_display_unit);
?>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-9">
      <div class="col-xs-6 col-sm-6 col-md-6 border home-new"><p class=" meter-head bold"><?php echo $this->meter->getName(); ?></p></div>
      <div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-right-none"><p class="meter-head bold"><?php echo $this->site->getName(); ?></p></div>
      <div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-top22">
        <div class="main-left">
          <p style="float: left;" class="text-left">Now</p>
          <p class="text-right" id="now_usage">
            <?php
			if (isset ($this->now_usage))
				echo $this->now_usage . ' ' . $this->display_unit . $unit_per;
			else
				echo 'NA';
			?>
          </p>
        </div>
        <div class="main-left border-bottom-none">
          <p style="float: left;" class="text-left">Cost</p>
          <p class="text-right" id="now_usage_cost">
            <?php
			if (isset ($this->now_usage) && $this->meter->getCost() > 0)
				echo '<i class="fa fa-gbp"></i> ' . number_format($now_cost_usage * $this->meter->getCost(), 2) . $unit_per;
			else
				echo 'NA';
			?>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 border home-new margin-top22 margin-right-none">
        <div class="main-left">
          <p style="float: left;" class="text-left">Rates</p>
          <p class="text-right">
            <?php
			if ($this->meter->getCost() > 0)
				echo '<i class="fa fa-gbp"></i> ' . $this->meter->getCost() . ' / ' . $cost_unit;
			else
				echo 'NA';
			?>
          </p>
        </div>
        <div class="main-left border-bottom-none">
          <p style="float: left;" class="text-left">Carbon</p>
          <p class="text-right">
            <?php
			if ($this->meter->getCarbonSavings() > 0)
				echo $this->meter->getCarbonSavings() . 'kg/kWh';
			else
				echo 'NA';
			?>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 border home-new margin-top22">
        <div class="main-left">
          <p style="float: left;" class="text-left">Today</p>
          <p class="text-right">
            <?php
            if ($meter_type == 'number')
            {
            	echo $this->today_usage;
            }
            else
            {
				if (isset ($this->today_usage) && $this->meter->getCost() > 0)
					echo '<i class="fa fa-gbp"></i> ' . number_format($today_cost_usage * $this->meter->getCost(), 2);
				else
					echo 'NA';
            }
			?>
          </p>
        </div>
        <div class="main-left">
          <p style="float: left;" class="text-left">Last 24H</p>
          <p class="text-right">
            <?php
            if ($meter_type == 'number')
            {
            	echo $this->last24h_usage;
            }
            else
            {
				if (isset ($this->last24h_usage) && $this->meter->getCost() > 0)
					echo '<i class="fa fa-gbp"></i> ' . number_format($last24h_cost_usage * $this->meter->getCost(), 2);
				else
					echo 'NA';
            }
			?>
          </p>
        </div>
        <div class="main-left border-bottom-none">
          <p style="float: left;" class="text-left">Total</p>
          <p class="text-right">
            <?php
            if ($meter_type == 'number')
            {
            	echo $this->total_usage;
            }
            else
            {
				if (isset ($this->total_usage) && $this->meter->getCost() > 0)
					echo '<i class="fa fa-gbp"></i> ' . number_format($total_cost_usage * $this->meter->getCost(), 2);
				else
					echo 'NA';
            }
			?>
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-4 border home-new margin-top22 margin-right-none">
        <p class="text-center">Today's Carbon data</p>
        <br/>
        <h3>
          <p class="text-center">
          	<?php
          	if ($this->meter->getType() == 'power' || $this->meter->getType() == 'gas' || $this->meter->getType() == 'heat')
          		echo $this->today_carbonsavings; 
          	else
          		echo 'NA';
          	?>
          </p>
        </h3>
      </div>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-3">
    
	    <!-- <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none" style="text-align:center">Logo Here</div>-->
	    <div class="col-xs-6 col-sm-6 col-md-12 margin-top10 padding-left" style="text-align:center">
	    	<div id="gauge_div">
	    	</div>
	    </div>
	    
	    <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none font-color">
	    <?php
	    if ($this->meter->getType() == 'power' || $this->meter->getType() == 'gas' || $this->meter->getType() == 'water' || $this->meter->getType() == 'heat')
	    { 
	    	$tmp_unit_per = ($meter_type == 'gas' || $meter_type == 'water' || $meter_type == 'power')?'':$unit_per;
	    ?>
	    	<p style="float: left;" class="text-left">Today:</p>
	    	<p class="text-right" id="today_usage_container">
	    	<?php
	    	if (isset ($this->today_usage)) 
	    		echo $this->today_usage . ' ' . $this->display_unit . $tmp_unit_per;
	    	else
	    		echo 'NA';
	    	?>
	    	</p>
	    	<br/>
	    	<p style="float: left;" class="text-left">Total:</p>
	    	<p class="text-right" id="total_usage_container">
	    	<?php
	    	if (isset ($this->total_usage)) 
	    		echo $this->total_usage . ' ' . $this->display_unit . $tmp_unit_per;
	    	else
	    		echo 'NA';
	    	?>
	    	</p>
	    <?php 
	    }
	    else if ($this->meter->getType() == 'number')
	    {
	    	echo '<div id="number_meter_status">';
	    	if (isset ($this->current_status) && $this->current_status != '')
	    		echo ($this->current_status == '1')?'<p class="text-center meter-on">ON</p>':'<p class="text-center meter-off">OFF</p>';
	    	else
	    		echo '<p class="text-center meter-on">NA</p>';
	    	echo '</div>';
	    }
	    ?>
	    </div>
    </div>
  </div>
  
  <div class="row"> 
    <!--<div class="col-xs-6 col-sm-6 col-md-4 width32 margin-top22 margin-right-none"><div  id="gauge_div"></div></div>--> 
  </div>

<?php
if ($meter_type == 'boiler' && $this->boilder_other_info != null)
{ 
	if ($this->boilder_other_info['boiler_boilerstatus'] == '1')
		$this->boilder_other_info['boiler_boilerstatus'] = '<font color="#5cb85c">on</font>';
	else if ($this->boilder_other_info['boiler_boilerstatus'] == '0')
		$this->boilder_other_info['boiler_boilerstatus'] = '<font color="#c9302c">off</font>';
	else
		$this->boilder_other_info['boiler_boilerstatus'] = 'NA';
	
	if ($this->boilder_other_info['boiler_demandstatus'] == '1')
		$this->boilder_other_info['boiler_demandstatus'] = '<font color="#5cb85c">on</font>';
	else if ($this->boilder_other_info['boiler_demandstatus'] == '0')
		$this->boilder_other_info['boiler_demandstatus'] = '<font color="#c9302c">off</font>';
	else
		$this->boilder_other_info['boiler_demandstatus'] = 'NA';
	
	if ($this->boilder_other_info['boiler_requeststatus'] == '1')
		$this->boilder_other_info['boiler_requeststatus'] = '<font color="#5cb85c">on</font>';
	else if ($this->boilder_other_info['boiler_requeststatus'] == '0')
		$this->boilder_other_info['boiler_requeststatus'] = '<font color="#c9302c">off</font>';
	else
		$this->boilder_other_info['boiler_requeststatus'] = 'NA';
	
	if ($this->boilder_other_info['boiler_automaticstatus'] == '1')
		$this->boilder_other_info['boiler_automaticstatus'] = '<font color="#5cb85c">on</font>';
	else if ($this->boilder_other_info['boiler_automaticstatus'] == '0')
		$this->boilder_other_info['boiler_automaticstatus'] = '<font color="#c9302c">off</font>';
	else
		$this->boilder_other_info['boiler_automaticstatus'] = 'NA';
	
	if ($this->boilder_other_info['boiler_booststatus'] == '1')
		$this->boilder_other_info['boiler_booststatus'] = '<font color="#5cb85c">on</font>';
	else if ($this->boilder_other_info['boiler_booststatus'] == '0')
		$this->boilder_other_info['boiler_booststatus'] = '<font color="#c9302c">off</font>';
	else
		$this->boilder_other_info['boiler_booststatus'] = 'NA';
?>
	<div class="border margin-top22 col-md-12" style="width: 100%; padding-left:20px; padding-right:20px;">
	  <div class="row">
	  		<div class="col-xs-6 col-sm-4 main-left text-left">Boiler</div>
	  		<div class="col-xs-6 col-sm-4 main-left" id="boiler_boilerstatus"><?php echo $this->boilder_other_info['boiler_boilerstatus']; ?></div>
	  		<div class="col-xs-6 col-sm-4 main-left text-right"><span id="boiler_boilerdata"><?php echo $this->boilder_other_info['boiler_boilerdata']; ?></span> cycles</div>
	  </div>
	  
	  <div class="row">
	  		<div class="col-xs-6 col-sm-4 main-left text-left">Demand</div>
	  		<div class="col-xs-6 col-sm-4 main-left" id="boiler_demandstatus"><?php echo $this->boilder_other_info['boiler_demandstatus']; ?></div>
	  		<div class="col-xs-6 col-sm-4 main-left text-right"><span id="boiler_demanddata"><?php echo $this->boilder_other_info['boiler_demanddata']; ?></span> demands</div>
	  </div>
	  
	  <div class="row">
	  		<div class="col-xs-6 col-sm-4 main-left text-left">Request</div>
	  		<div class="col-xs-6 col-sm-4 main-left" id="boiler_requeststatus"><?php echo $this->boilder_other_info['boiler_requeststatus']; ?></div>
	  		<div class="col-xs-6 col-sm-4 main-left text-right"><span id="boiler_requestdata"><?php echo $this->boilder_other_info['boiler_requestdata']; ?></span> requests</div>
	  </div>
	  
	  <div class="row">
	  		<div class="col-xs-6 col-sm-4 main-left text-left">Automatic</div>
	  		<div class="col-xs-6 col-sm-4 main-left" id="boiler_automaticstatus"><?php echo $this->boilder_other_info['boiler_automaticstatus']; ?></div>
	  		<div class="col-xs-6 col-sm-4 main-left text-right"><span id="boiler_automaticdata"><?php echo $this->boilder_other_info['boiler_automaticdata']; ?></span> operations</div>
	  </div>
	  
	  <div class="row">
	  		<div class="col-xs-6 col-sm-4 main-left text-left border-bottom-none">2 Hours Boost</div>
	  		<div class="col-xs-6 col-sm-4 main-left border-bottom-none" id="boiler_booststatus"><?php echo $this->boilder_other_info['boiler_booststatus']; ?></div>
	  		<div class="col-xs-6 col-sm-4 main-left text-right border-bottom-none"><span id="boiler_boostdata"><?php echo $this->boilder_other_info['boiler_boostdata']; ?></span> operations</div>
	  </div>
	</div>
<?php
} 
?>
    
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
      <div id="hourly_chart" width="100%" style="display: block;"></div>
      <div>
      		<a href="javascript:void('0');" id="displaybutton_hourly_chart" class="btn" onclick="showhourlychart()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show hourly graph</a>
      		<div id="hourly_chart_byhours" width="100%" style="display: block;"></div>
      </div>
    </div>
  </div>

<?php if ($meter_type != 'boiler') { ?>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
			<div id="daily_chart" width="100%" style="display: block;"></div>
			<div id='hourly_chart_byday_div';>
				<a href="javascript:void('0');" id="displaydaily_chart_button" class="btn" onclick="showDailyChart()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show daily graph</a>
				 <div id="hourly_chart_byday" width="100%" style="display: none;"></div>
			</div>
			<div id='minute_chart_byday_div';>
				<a href="javascript:void('0');" id="displayhourly_chart_ofday_button" class="btn" onclick="showHouralyChartOfDay()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show hourly graph</a>
				 <div id="minute_chart_byday" width="100%" style="display: none;"></div>
			</div>
		 </div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
			<div id="monthly_chart" width="100%" style="display: block;"></div>
			<div id="daily_chart_formonth_div">
				<a href="javascript:void('0');" id="displaymonthly_chart_button_ofmonth" class="btn" onclick="monthlyShowMonthlyGraph()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show monthly graph</a>
				<div id="daily_chart_formonth" width="100%" style="display: none;"></div>
			</div>
			<div id='hourly_chart_formonth_div';>
				<a href="javascript:void('0');" id="displaydaily_chart_button_ofday" class="btn" onclick="monthlyShowDailyGraph()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show daily graph</a>
				<div id="hourly_chart_formonth" width="100%" style="display: none;"></div>
			</div>
			<div id='minute_chart_formonth_div';>
				<a href="javascript:void('0');" id="displayhourly_chart_button_ofhour" class="btn" onclick="monthlyShowHourlyGraph()" style="display: none;text-align: left;"><i class="fa fa-reply"></i> Show hourly graph</a>
				<div id="minute_chart_formonth" width="100%" style="display: none;"></div>
			</div>
		</div>
	</div>
<?php } ?>

  <div class="row margin-top22">
  <?php
  if ($meter_type == 'boiler')
  { 
  ?>
  	<button type="button" id="boiler_chart_prev_day" class="btn btn-success"><strong>-1 Day</strong></button>
  	<button type="button" id="boiler_chart_next_day" class="btn btn-success" disabled><strong>+1 Day</strong></button>
  	<button type="button" id="boiler_chart_select_day" class="btn btn-success" data-toggle="modal" data-target="#boiler_chart_select_date"><strong>Select Day</strong></button>
	<a href="javascript:void(0)" onclick="openZoomInChart()" class="btn btn-success"><strong>Zoom In</strong></a>

	<form id="zoomin_hidden_link" name="zoomin_hidden_link" action="/meters-zoomin/site-<?php echo $this->site->getId(); ?>/<?php echo $this->meter->getId(); ?>" method="GET" target="_blank" style="display: none;">
		<input type="hidden" name="start_date" id="start_date" value="<?php echo @gmdate('Y-m-d'); ?>" />
	</form>
  <?php
  }

  $canViewControlLink = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_field_control_link', $i4energy_session->user_priviledge);
  if ($canViewControlLink) {
	  $controlLink = '<a href="javascript:alert(\'Control Link to TPS1 Server not available\');" class="btn btn-primary"><strong>Control</strong></a>';
	  if (isset ($this->meter_attrs) && $this->meter_attrs->getControlLink() != '') {
		  $linkUrl = trim ($this->meter_attrs->getControlLink());
		  if (!(preg_match ('/^http\:\/\//i', $linkUrl) || preg_match ('/^https\:\/\//i', $linkUrl)))
		  	$linkUrl = 'http://' . $linkUrl;

		  $controlLink = '<a href="' . $linkUrl . '" target="_blank" class="btn btn-primary"><strong>Control</strong></a>';
	  }
	  echo $controlLink;
  }

  if ($meter_type != 'boiler') {
  ?>
	  <button type="button" id="month_chart_prev" class="btn btn-success"><strong>Previous Month</strong></button>
	  <button type="button" id="month_chart_next" class="btn btn-success" disabled><strong>Next Month</strong></button>
  <?php
  }
  ?>
	  <button type="button" id='button_download_meterdata_modal' style="float: right; margin-left: 20px;" class="btn btn-primary" data-toggle="modal" data-target="#download_meterdata_modal">
		  <strong>Download Meter Data</strong>
	  </button>

	<?php if ($meter_type != 'boiler') { ?>
		<button type="button" id='button_download_hourlydata_modal' style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#download_hourlydata_modal">
			<strong>Download Hourly Data</strong>
		</button>
	<?php } ?>
  </div>
</div>

<div class="modal fade" id="boiler_chart_select_date" tabindex="-1" role="dialog" aria-labelledby="dialog_date_select_label" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="dialog_date_select_label">Select Date</h4>
	      	</div>
	      	
	      	<div class="modal-body">
	      		<input type="datetime" placeholder="Select Date" class="" value="" name="boiler_chart_selected_date" id="boiler_chart_selected_date" data-provide="datepicker" readonly>
	      	</div>
	      	
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	<button type="button" id="dialog_date_select_button" class="btn btn-primary">Select</button>
	      	</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="download_meterdata_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Meter Data</h4>
      </div>
      <div class="modal-body">
      <form id='meter_data_download_form' action='/meters/getmetercsvdata' method="Post">
      		<h6>Note: Only recent 5000 pings will be downloaded </h6>
      		<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Date</label>
				<input type="datetime" placeholder="Start Date" class="" value="" name="start_date" id="start_date" data-provide="datepicker" readonly>
				to
				<input type="datetime" placeholder="End Date" class="" value="" name="end_date" id="end_date" data-provide="datepicker" readonly>
				<input type="text" id="meter_id" name="meter_id" value="<?php echo $this->meter->getId();?>" style="display: none;">
		</form>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="getmeterdata" onclick="getmeterdatacsv()" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="download_hourlydata_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Download Hourly Data</h4>
			</div>
			<div class="modal-body">
				<form id='meter_hourlydata_download_form' action='/meters/getmeterhourlycsvdata' method="Post">
					<h6>Note: Only recent 5000 pings will be downloaded </h6>
					<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Date</label>
					<input type="datetime" placeholder="Start Date" class="" value="" name="hourly_start_date" id="hourly_start_date" data-provide="datepicker" readonly>
					to
					<input type="datetime" placeholder="End Date" class="" value="" name="hourly_end_date" id="hourly_end_date" data-provide="datepicker" readonly>
					<input type="text" id="hourly_meter_id" name="hourly_meter_id" value="<?php echo $this->meter->getId();?>" style="display: none;">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="gethourlymeterdata" onclick="gethourlymeterdatacsv()" class="btn btn-primary">Download</button>
			</div>
		</div>
	</div>
</div>

<?php
// Gauge settings 
$gauge_options = array('width' => 200, 'height' => 200, 'minorTicks' => 5, 'animation' => array ('duration' => 1000), 'annotations' => array ('highContrast' => true));
$gauge_options['min'] = 0;
$gauge_options['max'] = 100;

$webMinScale = $this->meter_attrs->getWebMinScale();
$statusGoodMin = $this->meter_alert->getStatusGoodMin(); 
if (isset ($webMinScale) && $webMinScale != '')
	$gauge_options['min'] = $webMinScale;
else if (isset ($statusGoodMin) && $statusGoodMin != '')
	$gauge_options['min'] = $statusGoodMin;

$webMaxScale = $this->meter_attrs->getWebMaxScale();
$statusAlertMax = $this->meter_alert->getStatusAlertMax();
if (isset ($webMaxScale) && $webMaxScale != '')
	$gauge_options['max'] = $webMaxScale;
else if (isset ($statusAlertMax) && $statusAlertMax != '')
	$gauge_options['max'] = $statusAlertMax;

$statusGoodMax = $this->meter_alert->getStatusGoodMax();
if (isset ($statusGoodMin))
	$gauge_options['greenFrom'] = $statusGoodMin;
if (isset ($statusGoodMax))
	$gauge_options['greenTo'] = $statusGoodMax;

$statusWarningMin = $this->meter_alert->getStatusWarningMin();
$statusWarningMax = $this->meter_alert->getStatusWarningMax();
if (isset ($statusWarningMin))
	$gauge_options['yellowFrom'] = $statusWarningMin;
if (isset ($statusWarningMax))
	$gauge_options['yellowTo'] = $statusWarningMax;

$statusAlertMin = $this->meter_alert->getStatusAlertMin();
if (isset ($statusAlertMin))
	$gauge_options['redFrom'] = $statusAlertMin;
if (isset ($statusAlertMax))
	$gauge_options['redTo'] = $statusAlertMax;

$daily_start_date = '';
$daily_end_date = '';
if (isset ($this->daily_chart_data))
{
	reset ($this->daily_chart_data);
	$daily_start_date = key ($this->daily_chart_data);
	end ($this->daily_chart_data);
	$daily_end_date = key ($this->daily_chart_data);
}

$gauge_update_interval = $this->meter_attrs->getWebUpdateInterval();
if (isset ($gauge_update_interval) && $gauge_update_interval > 0)
	$gauge_update_interval = $gauge_update_interval*1000;
else
	$gauge_update_interval = 60000; //1 minute

$graph_yaxis_prefix = 'Avg ';
$hourly_graph_title = 'Avg Daily usage';
$daily_graph_title = 'Avg Weekly usage';
$individual_pinger_graph_title = 'Usage';
$monthly_graph_title = 'Monthly usage';
if ($meter_type == 'number' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'gas' || $meter_type == 'heat' || $meter_type == 'amps' || $meter_type == 'water')
{
	$hourly_graph_title = 'Hourly usage';
	$daily_graph_title = 'Daily usage';
	$monthly_graph_title = 'Monthly usage';
	
	$graph_yaxis_prefix = '';
}
else if ($meter_type == 'temp')
{
	$hourly_graph_title = 'Avg Hourly Temperature';
	$daily_graph_title = 'Avg Daily Temperature';
	$monthly_graph_title = 'Avg Monthly Temperature';
	$individual_pinger_graph_title = 'Temperature';
}
else if ($meter_type == 'rh')
{
	$hourly_graph_title = 'Avg Hourly Humidity';
	$daily_graph_title = 'Avg Daily Humidity';
	$individual_pinger_graph_title = 'Humidity';
	$monthly_graph_title = 'Avg Monthly Humidity';
}
?>
<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script type="text/javascript">
jQuery (document).ready ( function () {
	jQuery('#start_date').datetimepicker({format: 'Y-m-d H:i'});
	jQuery('#end_date').datetimepicker({format: 'Y-m-d H:i'});
	jQuery('#hourly_start_date').datetimepicker({format: 'Y-m-d H:i'});
	jQuery('#hourly_end_date').datetimepicker({format: 'Y-m-d H:i'});
	jQuery('#boiler_chart_selected_date').datetimepicker({format: 'Y-m-d', timepicker: false, maxDate:'+1970/01/01', closeOnDateSelect: true});
});

	google.load("visualization", "1.1", {packages:["corechart", "gauge"]});
	google.setOnLoadCallback(drawChart);

	var boiler_chart_date = new Date();
	var month_chart_current = new Date();

	var gauge_chart_wrapper;
	var hourly_chart_wrapper;
	var daily_chart_wrapper;
	var boiler_chart_wrapper;
	var hourly_chart_wrapper_day;
	var hourly_chart_wrapper_byhours;
	var minute_chart_wrapper_byday;

	var monthly_chart_wrapper;
	
	var houralychartday="<?php echo gmdate('Y-m-d'); ?>"; 
	function drawChart ()
	{
		<?php
		if (isset ($this->now_usage))// && $this->meter->getType() != 'number')
		{
		?>
			drawGaugeChart();
		<?php
		}
		if (isset ($this->hourly_chart_data) && sizeof ($this->hourly_chart_data) > 0)
		{
		?>
			drawHourlyChart();
		<?php
		} 
		if (isset ($this->daily_chart_data) && sizeof ($this->daily_chart_data) > 0)
		{
		?>
			drawDailyChart();
		<?php
		} 
		if (isset ($this->monthly_chart_data) && sizeof ($this->monthly_chart_data) > 0)
		{
		?>
			drawMonthlyChart();
		<?php
		} 
		if (isset ($this->boiler_chart_data) && sizeof ($this->boiler_chart_data) > 0)
		{
		?>
			drawBoilerChart();
		<?php 
		}
		?>
	}

	function drawGaugeChart() 
	{
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['<?php echo $chart_display_unit . $unit_per; ?>', <?php echo ($this->now_usage == '' || $this->now_usage == 'NA')?0:$this->now_usage; ?>]
        ]);

        gauge_chart_wrapper = new google.visualization.ChartWrapper({
        	chartType: 'Gauge',
            dataTable: data,
            options: <?php echo json_encode ($gauge_options); ?>,
            containerId: 'gauge_div'
        });
        gauge_chart_wrapper.draw();
	}
	
	function drawHourlyChart() 
	{
		
		var data = google.visualization.arrayToDataTable([
                                                  ["Time", "<?php echo $chart_display_unit; ?>"]
                                             <?php
                                             if (isset ($this->hourly_chart_data))
                                             {
                                             	foreach ($this->hourly_chart_data as $key => $value)
                                             		echo ',["' . $key . '",' . $value . ']' . "\n";
                                             }
                                             ?>
		                                     ]);

		var options = {
			title: "<?php echo $hourly_graph_title; ?> for <?php echo $this->site->getName(); ?> for <?php echo gmdate('Y-m-d'); ?>",
			width: 1024,
			height: 400,
			animation:{
		        duration: 1000,
		        easing: 'out'
		    },
			bar: {groupWidth: "75%"},
			legend: { position: "none" },
			hAxis: {title: 'Time', showTextEvery: 1},
			vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>'},
			annotations: {highContrast: true, alwaysOutside: true},
		};

        hourly_chart_wrapper = new google.visualization.ChartWrapper({
        	chartType: 'ColumnChart',
            dataTable: data,
            options: options,
            containerId: 'hourly_chart'
        });
        hourly_chart_wrapper.draw();
		google.visualization.events.addListener(hourly_chart_wrapper.getChart(), 'select', eventHourlyChartSelected);
	    
	}
	function eventHourlyChartSelected() {
		var selection = hourly_chart_wrapper.getChart().getSelection();
		var meter_id=<?php echo $this->meter->getId();?>;
		var chart_hours=hourly_chart_wrapper.getDataTable().getValue (selection[0].row, 0);
		var end_hours=parseInt(chart_hours) + 1;
		var today_date="<?php echo gmdate('Y-m-d');?>";
		
		jQuery.ajax ({
			type: "POST",
			url: "/meters/gethourlychartdata",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_hour:chart_hours,
				today_date:today_date
			        },	
		})
		.done(function( response ) {
			document.getElementById('hourly_chart').style.display = 'none';
			document.getElementById('hourly_chart_byhours').style.display = 'block';
			document.getElementById('displaybutton_hourly_chart').style.display = 'block';
				
			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];
		
			rowIndex = 0;

			var hourly_keys = Object.keys(response.data); 
			hourly_keys.sort(function(a,b) 
	  		{
				if (isNaN(a) || isNaN(b)) 
  				{
				   	return a > b ? 1 : -1;
				}
				  	return a - b;
			});
				
  			for (var hi = 0; hi < hourly_keys.length; hi++)
  			{
				data_rows.push ([chart_hours + ":" + hourly_keys[hi], response.data[hourly_keys[hi]]]);
  				rowIndex++;
  			}
			
        	var data = google.visualization.arrayToDataTable(data_rows);
					                                    
			var options = {
					title: "<?php echo $individual_pinger_graph_title; ?> for <?php echo $this->site->getName(); ?> between "+ response.date +" "+chart_hours+":00 to "+end_hours.toFixed(2) ,
					width: 1024,
					height: 400,
					animation:{
				        duration: 1000,
				        easing: 'out'
				    },
				    colors: ['green'],
					bar: {groupWidth: "75%"},
					legend: { position: "none" },
					hAxis: {title: 'Time', showTextEvery: 3, slantedText: true},
					vAxis: {title: '<?php echo $chart_display_unit; ?>' },
					annotations: {highContrast: true, alwaysOutside: true},
				};

			 hourly_chart_wrapper_byhours = new google.visualization.ChartWrapper({
	        	chartType: 'ColumnChart',
	            dataTable: data,
	            options: options,
	            containerId: 'hourly_chart_byhours'
	        });
			hourly_chart_wrapper_byhours.draw();
	
		});
		
		
	}
	function showhourlychart() {
		document.getElementById('hourly_chart').style.display = 'block';
		document.getElementById('hourly_chart_byhours').style.display = 'none';
		document.getElementById('displaybutton_hourly_chart').style.display = 'none';
		hourly_chart_wrapper.getChart().setSelection([]);
		
	}


	function drawMonthlyChart() 
	{
		var data = google.visualization.arrayToDataTable([
                                                  ["Month", "<?php echo $chart_display_unit; ?>" ]
												<?php
												if (isset ($this->monthly_chart_data))
												{
													foreach ($this->monthly_chart_data as $date => $value)
														echo ',["' . $date . '", ' . $value . ']' . "\n";
												} 
												?>
		                                     ]);

		var options = {
			title: "<?php echo $monthly_graph_title; ?> for <?php echo $this->site->getName(); ?>",
			width: 1024,
			height: 400,
			animation:{
		        duration: 1000,
		        easing: 'out'
		    },
			bar: {groupWidth: "75%"},
			legend: { position: "none" },
			hAxis: {title: 'Month'},
			vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>'},
			annotations: {highContrast: true}
		};

		monthly_chart_wrapper = new google.visualization.ChartWrapper({
        	chartType: 'ColumnChart',
            dataTable: data,
            options: options,
            containerId: 'monthly_chart'
        });
		monthly_chart_wrapper.draw();

		google.visualization.events.addListener(monthly_chart_wrapper.getChart(), 'select', eventMonthlyChartSelected);
	
	}
	
	function eventMonthlyChartSelected(){
		var selection = monthly_chart_wrapper.getChart().getSelection();

		var meter_id = <?php echo $this->meter->getId();?>;
		var chart_month = monthly_chart_wrapper.getDataTable().getValue(selection[0].row, 0);
		jQuery.ajax ({
			type: "POST",
			url: "/meters/getmetermonthlydatabyday",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_month:chart_month
	        }
		})
		.done(function( response ) {

			 //houralychartday = response.date;
			document.getElementById('monthly_chart').style.display = 'none';
			document.getElementById('daily_chart_formonth').style.display = 'block';
			document.getElementById('displaymonthly_chart_button_ofmonth').style.display = 'block';
				
			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];
  			rowIndex = 0;

			var hourly_keys = Object.keys(response.data); 
			hourly_keys.sort(function(a,b) 
	  		{
				if (isNaN(a) || isNaN(b)) 
  				{
				   	return a > b ? 1 : -1;
				}
				  	return a - b;
			});
				
  			for (var hi = 0; hi < hourly_keys.length; hi++)
  			{
				data_rows.push ([hourly_keys[hi], response.data[hourly_keys[hi]]]);
  				rowIndex++;
  			}
			
        	var data = google.visualization.arrayToDataTable(data_rows);
						                                    
			var options = {
				title: "<?php echo $hourly_graph_title; ?> for <?php echo $this->site->getName(); ?> for "+response.date,
				width: 1024,
				height: 400,
				animation:{
					duration: 1000,
					easing: 'out'
				},
				bar: {groupWidth: "75%"},
				legend: { position: "none" },
				hAxis: {title: 'Date'},
				vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>'},
				annotations: {highContrast: true}
			};

			hourly_chart_wrapper_day = new google.visualization.ChartWrapper({
				chartType: 'ColumnChart',
				dataTable: data,
				options: options,
				containerId: 'daily_chart_formonth'
			});
			hourly_chart_wrapper_day.draw();

			
			google.visualization.events.addListener(hourly_chart_wrapper_day.getChart(), 'select', eventMonthlyChartDayChartSelected);
		});
		
	}

	function eventMonthlyChartDayChartSelected () {
		var selection = hourly_chart_wrapper_day.getChart().getSelection();
		var meter_id = <?php echo $this->meter->getId();?>;
		var chart_date = hourly_chart_wrapper_day.getDataTable().getValue (selection[0].row, 0);

		jQuery.ajax ({
			type: "POST",
			url: "/meters/gethourlychartdatabyday",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_date: chart_date
			}
		})
		.done(function( response ) {

			houralychartday = response.date;
			jQuery ('#displaymonthly_chart_button_ofmonth').hide();
			jQuery ('#daily_chart_formonth').hide();
			jQuery ('#displaydaily_chart_button_ofday').show();
			jQuery ('#hourly_chart_formonth').show();

			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];
			rowIndex = 0;

			var hourly_keys = Object.keys(response.data);
			hourly_keys.sort(function(a,b)
			{
				if (isNaN(a) || isNaN(b))
				{
					return a > b ? 1 : -1;
				}
				return a - b;
			});

			for (var hi = 0; hi < hourly_keys.length; hi++)
			{
				data_rows.push ([hourly_keys[hi], response.data[hourly_keys[hi]]]);
				rowIndex++;
			}

			var data = google.visualization.arrayToDataTable(data_rows);

			var options = {
				title: "<?php echo $hourly_graph_title; ?> for <?php echo $this->site->getName(); ?> for "+response.date,
				width: 1024,
				height: 400,
				animation:{
					duration: 1000,
					easing: 'out'
				},
				colors: ['green'],
				bar: {groupWidth: "75%"},
				legend: { position: "none" },
				hAxis: {title: 'Time', showTextEvery: 1},
				vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>' },
				annotations: {highContrast: true, alwaysOutside: true},
			};

			hourly_chart_wrapper_byhours = new google.visualization.ChartWrapper({
				chartType: 'ColumnChart',
				dataTable: data,
				options: options,
				containerId: 'hourly_chart_formonth'
			});
			hourly_chart_wrapper_byhours.draw();

			google.visualization.events.addListener(hourly_chart_wrapper_byhours.getChart(), 'select', eventMonthlyChartHourChartSelected);
		});
	}

	function eventMonthlyChartHourChartSelected () {
		var selection = hourly_chart_wrapper_byhours.getChart().getSelection();
		var meter_id=<?php echo $this->meter->getId();?>;
		var chart_hours = hourly_chart_wrapper_byhours.getDataTable().getValue (selection[0].row, 0);
		var end_hours=parseInt(chart_hours) + 1;
		var today_date=houralychartday;

		jQuery.ajax ({
			type: "POST",
			url: "/meters/gethourlychartdata",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_hour:chart_hours,
				today_date:today_date
			},
		})
		.done(function( response ) {
			jQuery ('#displaydaily_chart_button_ofday').hide();
			jQuery ('#hourly_chart_formonth').hide();
			jQuery ('#displayhourly_chart_button_ofhour').show();
			jQuery ('#minute_chart_formonth').show();

			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];

			rowIndex = 0;

			var hourly_keys = Object.keys(response.data);
			hourly_keys.sort(function(a,b)
			{
				if (isNaN(a) || isNaN(b))
				{
					return a > b ? 1 : -1;
				}
				return a - b;
			});

			for (var hi = 0; hi < hourly_keys.length; hi++)
			{
				data_rows.push ([chart_hours + ":" + hourly_keys[hi], response.data[hourly_keys[hi]]]);
				rowIndex++;
			}

			var data = google.visualization.arrayToDataTable(data_rows);

			var options = {
				title: "<?php echo $individual_pinger_graph_title; ?> for <?php echo $this->site->getName(); ?> between "+ response.date +" "+chart_hours+":00 to "+end_hours.toFixed(2) ,
				width: 1024,
				height: 400,
				animation:{
					duration: 1000,
					easing: 'out'
				},
				colors: ['green'],
				bar: {groupWidth: "75%"},
				legend: { position: "none" },
				hAxis: {title: 'Time', showTextEvery: 3, slantedText: true},
				vAxis: {title: '<?php echo $chart_display_unit; ?>' },
				annotations: {highContrast: true, alwaysOutside: true},
			};

			minute_chart_wrapper_byday = new google.visualization.ChartWrapper({
				chartType: 'ColumnChart',
				dataTable: data,
				options: options,
				containerId: 'minute_chart_formonth'
			});
			minute_chart_wrapper_byday.draw();
		})
	}

	function drawDailyChart() 
	{
		var data = google.visualization.arrayToDataTable([
                                                  ["Date", "<?php echo $chart_display_unit; ?>" ]
												<?php
												if (isset ($this->daily_chart_data))
												{
													foreach ($this->daily_chart_data as $date => $value)
														echo ',["' . $date . '", ' . $value . ']' . "\n";
												} 
												?>
		                                     ]);

		var options = {
			title: "<?php echo $daily_graph_title; ?> for <?php echo $this->site->getName(); ?> between <?php echo $daily_start_date; ?> to <?php echo $daily_end_date; ?>",
			width: 1024,
			height: 400,
			animation:{
		        duration: 1000,
		        easing: 'out'
		    },
			bar: {groupWidth: "75%"},
			legend: { position: "none" },
			hAxis: {title: 'Date'},
			vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>'},
			annotations: {highContrast: true}
		};

		daily_chart_wrapper = new google.visualization.ChartWrapper({
        	chartType: 'ColumnChart',
            dataTable: data,
            options: options,
            containerId: 'daily_chart'
        });
		daily_chart_wrapper.draw();

		google.visualization.events.addListener(daily_chart_wrapper.getChart(), 'select', eventDailyChartSelected);
	
	}

	function eventDailyChartSelected()
	{
		var selection = daily_chart_wrapper.getChart().getSelection();
		var meter_id=<?php echo $this->meter->getId();?>;
		var chart_date=daily_chart_wrapper.getDataTable().getValue (selection[0].row, 0);

		jQuery.ajax ({
			type: "POST",
			url: "/meters/gethourlychartdatabyday",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_date:chart_date
			        },	
		})
		.done(function( response ) {

			houralychartday = response.date;
			//console.log("insid:"+houralychartday);
			//console.log(houralychartday);
			document.getElementById('daily_chart').style.display = 'none';
			document.getElementById('hourly_chart_byday').style.display = 'block';
			document.getElementById('displaydaily_chart_button').style.display = 'block';
				
			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];
  			rowIndex = 0;

			var hourly_keys = Object.keys(response.data); 
			hourly_keys.sort(function(a,b) 
	  		{
				if (isNaN(a) || isNaN(b)) 
  				{
				   	return a > b ? 1 : -1;
				}
				  	return a - b;
			});
				
  			for (var hi = 0; hi < hourly_keys.length; hi++)
  			{
				data_rows.push ([hourly_keys[hi], response.data[hourly_keys[hi]]]);
  				rowIndex++;
  			}
			
        	var data = google.visualization.arrayToDataTable(data_rows);
						                                    
			var options = {
					title: "<?php echo $hourly_graph_title; ?> for <?php echo $this->site->getName(); ?> for "+response.date,
					width: 1024,
					height: 400,
					animation:{
				        duration: 1000,
				        easing: 'out'
				    },
				    colors: ['green'],
					bar: {groupWidth: "75%"},
					legend: { position: "none" },
					hAxis: {title: 'Time', showTextEvery: 1},
					vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>' },
					annotations: {highContrast: true, alwaysOutside: true},
				};

			 hourly_chart_wrapper_day = new google.visualization.ChartWrapper({
	        	chartType: 'ColumnChart',
	            dataTable: data,
	            options: options,
	            containerId: 'hourly_chart_byday'
	        });
			hourly_chart_wrapper_day.draw();

			
			google.visualization.events.addListener(hourly_chart_wrapper_day.getChart(), 'select', eventHouralyChartOfDaySelected);
			
		});
				
	}
	
	function eventHouralyChartOfDaySelected() {

		var selection = hourly_chart_wrapper_day.getChart().getSelection();
		var meter_id=<?php echo $this->meter->getId();?>;
		var chart_hours = hourly_chart_wrapper_day.getDataTable().getValue (selection[0].row, 0);
		var end_hours=parseInt(chart_hours) + 1;
		var today_date=houralychartday;
		
		jQuery.ajax ({
			type: "POST",
			url: "/meters/gethourlychartdata",
			dataType:'JSON',
			data: {
				meter_id: meter_id,
				chart_hour:chart_hours,
				today_date:today_date
			        },	
		})
		.done(function( response ) {
			document.getElementById('hourly_chart_byday').style.display = 'none';
			document.getElementById('displaydaily_chart_button').style.display = 'none';
			document.getElementById('minute_chart_byday').style.display = 'block';
			document.getElementById('displayhourly_chart_ofday_button').style.display = 'block';
				
			var data_rows = [["Time", "<?php echo $chart_display_unit; ?>" ]];
		
			rowIndex = 0;

			var hourly_keys = Object.keys(response.data); 
			hourly_keys.sort(function(a,b) 
	  		{
				if (isNaN(a) || isNaN(b)) 
  				{
				   	return a > b ? 1 : -1;
				}
				  	return a - b;
			});
				
  			for (var hi = 0; hi < hourly_keys.length; hi++)
  			{
				data_rows.push ([chart_hours + ":" + hourly_keys[hi], response.data[hourly_keys[hi]]]);
  				rowIndex++;
  			}
			
        	var data = google.visualization.arrayToDataTable(data_rows);
					                                    
			var options = {
					title: "<?php echo $individual_pinger_graph_title; ?> for <?php echo $this->site->getName(); ?> between "+ response.date +" "+chart_hours+":00 to "+end_hours.toFixed(2) ,
					width: 1024,
					height: 400,
					animation:{
				        duration: 1000,
				        easing: 'out'
				    },
				    colors: ['green'],
					bar: {groupWidth: "75%"},
					legend: { position: "none" },
					hAxis: {title: 'Time', showTextEvery: 3, slantedText: true},
					vAxis: {title: '<?php echo $chart_display_unit; ?>' },
					annotations: {highContrast: true, alwaysOutside: true},
				};

			minute_chart_wrapper_byday = new google.visualization.ChartWrapper({
	        	chartType: 'ColumnChart',
	            dataTable: data,
	            options: options,
	            containerId: 'minute_chart_byday'
	        });
			minute_chart_wrapper_byday.draw();
		})
	}

	function showHouralyChartOfDay() {
		document.getElementById('hourly_chart_byday').style.display = 'block';
		document.getElementById('minute_chart_byday').style.display = 'none';
		document.getElementById('displayhourly_chart_ofday_button').style.display = 'none';
		document.getElementById('displaydaily_chart_button').style.display = 'block';
		hourly_chart_wrapper_day.getChart().setSelection([]);
		daily_chart_wrapper.getChart().setSelection([]);
		google.visualization.events.addListener(hourly_chart_wrapper_day.getChart(), 'select', eventHouralyChartOfDaySelected);
		
	}
	
	function showDailyChart() {
		document.getElementById('daily_chart').style.display = 'block';
		document.getElementById('hourly_chart_byday').style.display = 'none';
		document.getElementById('displaydaily_chart_button').style.display = 'none';
		hourly_chart_wrapper_day.getChart().setSelection([]);
		daily_chart_wrapper.getChart().setSelection([]);
		google.visualization.events.addListener(daily_chart_wrapper.getChart(), 'select', eventDailyChartSelected);		
	}
	
	function drawBoilerChart()
	{
		var data = google.visualization.arrayToDataTable([
		                                                  ["Time", "Outside", "Flow", "Return", "Hot water", "Boiler demand"]
		                                             <?php
		                                             if (isset ($this->boiler_chart_data))
		                                             {
		                                             	for ($i=0; $i < sizeof ($this->boiler_chart_data['outside_temp']); $i++)
		                                             	{
		                                             		echo ',["' . $this->boiler_chart_data['outside_temp'][$i]['time'] . '",';
		                                             		echo ($this->boiler_chart_data['outside_temp'][$i]['data'] === null)?'null,':$this->boiler_chart_data['outside_temp'][$i]['data'] . ',';
		                                             		echo ($this->boiler_chart_data['heating_flow'][$i]['data'] === null)?'null,':$this->boiler_chart_data['heating_flow'][$i]['data']  . ',';
		                                             		echo ($this->boiler_chart_data['return_temp'][$i]['data'] === null)?'null,':$this->boiler_chart_data['return_temp'][$i]['data'] . ',';
		                                             		echo ($this->boiler_chart_data['hot_water'][$i]['data'] === null)?'null,':$this->boiler_chart_data['hot_water'][$i]['data'] . ',';
		                                             		echo ($this->boiler_chart_data['demand'][$i]['data'] === null)?'null':$this->boiler_chart_data['demand'][$i]['data'];
		                                             		echo "]\n";
		                                             	}
		                                             }
		                                             ?>
				                                     ]);

		var options = {
			title: "Heating graph for <?php echo $this->site->getName(); ?> for <?php echo gmdate('Y-m-d'); ?>",
			width: 1024,
			height: 400,
			animation:{
		        duration: 1000,
		        easing: 'out'
		    },
			legend: { position: "out" },
			hAxis: {title: 'Time', showTextEvery: 1},
			vAxis: {title: 'Temperature <?php echo $chart_display_unit; ?>'},
			annotations: {highContrast: true, alwaysOutside: true},
			colors: ['blue', 'red', '#f1ca3a', 'green', '#800080']
		};

		boiler_chart_wrapper = new google.visualization.ChartWrapper({
        	chartType: 'LineChart',
            dataTable: data,
            options: options,
            containerId: 'hourly_chart'
        });
        boiler_chart_wrapper.draw();
	}

	
	function getmeterdatacsv() {
			
		$("#meter_data_download_form").submit();
<?php /*
		var start_date= $('#start_date').val();
		var end_date= $('#end_date').val();
		var meter_id=<?php echo $this->meter->getId();?>;
	  	jQuery.ajax ({
  			url: "/meters/getmetercsvdata/",
  			type: "POST",
  			data: { start_date : start_date,end_date : end_date,meter_id : meter_id },
  			dataType: "json"
  		})
  		.done (function( response ) 
	  		{
			});
	  	*/ ?>
	}

	function gethourlymeterdatacsv() {
		$("#meter_hourlydata_download_form").submit();
	}

	jQuery ('#boiler_chart_prev_day').click (function () {
		var current_date = boiler_chart_date.getDate();
		var current_month = boiler_chart_date.getMonth();
		var current_year = boiler_chart_date.getFullYear();

		boiler_chart_date = new Date(current_year, current_month, current_date-1);
		//console.log (boiler_chart_date.toString());

		if (!isTodayOrFuture())
		{
			jQuery ('#boiler_chart_next_day').removeAttr('disabled');
		}

		getBoilerData (boiler_chart_date.getFullYear() + "-" + (boiler_chart_date.getMonth()+1) + "-" + boiler_chart_date.getDate(), <?php echo $this->meter->getId(); ?>);
	});

	jQuery ('#boiler_chart_next_day').click (function () {
		var current_date = boiler_chart_date.getDate();
		var current_month = boiler_chart_date.getMonth();
		var current_year = boiler_chart_date.getFullYear();

		var today = new Date();
		var today_date = today.getDate();
		var today_month = today.getMonth();
		var today_year = today.getFullYear();

		if (isTodayOrFuture())
		{
			jQuery ('#boiler_chart_next_day').attr('disabled','disabled');
			return;
		}

		boiler_chart_date = new Date(current_year, current_month, current_date+1);
		console.log (boiler_chart_date.toString());

		if (isTodayOrFuture())
		{
			jQuery ('#boiler_chart_next_day').attr('disabled','disabled');
		}

		getBoilerData (boiler_chart_date.getFullYear() + "-" + (boiler_chart_date.getMonth()+1) + "-" + boiler_chart_date.getDate(), <?php echo $this->meter->getId(); ?>);
	});

	jQuery ('#dialog_date_select_button').click (function () {
		var selected_date = jQuery('#boiler_chart_selected_date').val();
		if (selected_date == '')
			return;

		boiler_chart_date = new Date (selected_date);
		console.log (boiler_chart_date);

		if (isTodayOrFuture())
			jQuery ('#boiler_chart_next_day').attr('disabled','disabled');
		else
			jQuery ('#boiler_chart_next_day').removeAttr('disabled');

		getBoilerData (boiler_chart_date.getFullYear() + "-" + (boiler_chart_date.getMonth()+1) + "-" + boiler_chart_date.getDate(), <?php echo $this->meter->getId(); ?>);

		$('#boiler_chart_select_date').modal('hide');
	});
	
	function getBoilerData (date, meter_id)
	{
		jQuery.ajax ({
  			url: "/meters/boilerdata",
  			type: "POST",
  			data: { date: date, meter_id: meter_id },
  			dataType: "json"
  		})
  		.done (function( res ) 
  		{
  	  		// Boiler Chart Data
  			if (boiler_chart_wrapper)
  			{
  				boiler_chart_wrapper.setOption ('title', "Heating graph for <?php echo $this->site->getName(); ?> for " + date);
  				
  				var dataTable = boiler_chart_wrapper.getDataTable();
	  			if (dataTable != null)
	  			{
		  			var rowIndex = 0;
		  			//console.log (res.boiler_chart_data);
		  			//console.log (res.boiler_chart_data.outside_temp);
		  			for (var i=0; i < res.boiler_chart_data.outside_temp.length; i++)
		  			{
			  			var outside = res.boiler_chart_data.outside_temp[i];
			  			var returnFlow = res.boiler_chart_data.return_temp[i];
			  			var heatingFlow = res.boiler_chart_data.heating_flow[i];
			  			var hotWater = res.boiler_chart_data.hot_water[i];
			  			var demand = res.boiler_chart_data.demand[i];
			  			
		  				dataTable.setValue (rowIndex, 1, outside.data);
		  				dataTable.setValue (rowIndex, 2, heatingFlow.data);
		  				dataTable.setValue (rowIndex, 3, returnFlow.data);
		  				dataTable.setValue (rowIndex, 4, hotWater.data);
		  				dataTable.setValue (rowIndex, 5, demand.data);
		  				rowIndex++;
		  			}
	  			}
	  			boiler_chart_wrapper.draw();
  			}

  	  		if (res.boilder_other_info)
  			{
	  			for (var key in res.boilder_other_info)
	  			{
		  			if (jQuery ('#' + key).length)
		  			{
			  			if (key.substr(-6) == 'status')
			  			{
				  			if (res.boilder_other_info[key] == '1')
				  				jQuery ('#' + key).html ('<font color="#5cb85c">on</font>');
				  			else if (res.boilder_other_info[key] == '0')
				  				jQuery ('#' + key).html ('<font color="#c9302c">off</font>');
				  			else
				  				jQuery ('#' + key).html ('NA');
			  			}
			  			else
			  			{
			  				jQuery ('#' + key).text (res.boilder_other_info[key]);
			  			}
		  			}
	  			}
  			}
  		});
	}
	
	function isTodayOrFuture()
	{
		var current_date = boiler_chart_date.getDate().toString();
		var current_month = boiler_chart_date.getMonth().toString();
		var current_year = boiler_chart_date.getFullYear().toString();

		var today = new Date();
		var today_date = today.getDate().toString();
		var today_month = today.getMonth().toString();
		var today_year = today.getFullYear().toString();

		if (current_date.length == 1)
			current_date = '0' + current_date;
		if (current_month.length == 1)
			current_month = '0' + current_month;
		if (today_date.length == 1)
			today_date = '0' + today_date;
		if (today_month.length == 1)
			today_month = '0' + today_month;
		
		if ((today_year + today_month + today_date) <= (current_year + current_month + current_date))
		{
			return true;
		}
		else 
			return false;
	}

	jQuery ('#month_chart_prev').click (function () {
		month_chart_current = new Date(month_chart_current.getFullYear(), month_chart_current.getMonth()-1, 1);

		var selected_month = month_chart_current.getMonth();
		var selected_year = month_chart_current.getFullYear();

		if (isFutureMonth (selected_month, selected_year))
			jQuery ('#month_chart_next').attr('disabled','disabled');
		else
			jQuery ('#month_chart_next').removeAttr('disabled');

		monthlyShowMonthlyGraph();
		getMonthlyChartData (<?php echo $this->meter->getId(); ?>, selected_month, selected_year);
	});

	jQuery ('#month_chart_next').click (function () {
		month_chart_current = new Date(month_chart_current.getFullYear(), month_chart_current.getMonth()+1, 1);

		var selected_month = month_chart_current.getMonth();
		var selected_year = month_chart_current.getFullYear();

		if (isFutureMonth (selected_month, selected_year))
			jQuery ('#month_chart_next').attr('disabled','disabled');
		else
			jQuery ('#month_chart_next').removeAttr('disabled');

		monthlyShowMonthlyGraph();
		getMonthlyChartData (<?php echo $this->meter->getId(); ?>, selected_month, selected_year);
	});

	function isFutureMonth (month, year) {
		var current = new Date();
		var current_month = current.getMonth().toString();
		year = year.toString();

		if (month.toString().length == 1)
			month = '0' + month.toString();
		if (current_month.toString().length == 1)
			current_month = '0' + current_month.toString();

		//console.log ((current.getFullYear().toString() + current_month) + " >= " + (year + month));
		if ((current.getFullYear() + current_month) <= (year + month))
			return true;
		return false;
	}

	function getMonthlyChartData (meter_id, month, year) {
		jQuery.ajax ({
			url: "/meters/monthlychartdata",
			type: "POST",
			data: { month: month+1, year: year, meter_id: meter_id },
			dataType: "json"
		})
		.done (function( res ) {
			if (monthly_chart_wrapper != undefined) {
				var dataTable = monthly_chart_wrapper.getDataTable();
				if (dataTable != null) {
					dataTable.removeRows (0, dataTable.getNumberOfRows()+1);
					for (key in res) {
						dataTable.addRow([key, res[key]]);
					}
				}
				monthly_chart_wrapper.draw();
			}
		});
	}

	jQuery (document).ready ( function () {
		setInterval(function() {
	      	jQuery.ajax ({
	  			url: "/meters/readings/<?php echo $this->site->getId(); ?>/<?php echo $this->meter->getId(); ?>",
	  			type: "POST",
	  			data: { time : 1 },
	  			dataType: "json"
	  		})
	  		.done (function( res ) 
	  		{
	      		if (res.now =='' || res.now == 'NA')
	          		res.now = 0;

          		// Gauge Chart
          		if (gauge_chart_wrapper)
          		{
	          		gauge_chart_wrapper.getDataTable().setValue (0, 1, res.now);
	          		gauge_chart_wrapper.draw();
          		}
          			
	  			jQuery('#now_usage').html (res.now + ' <?php echo $this->display_unit . $unit_per; ?>');
	  			<?php
	  			if ($this->meter->getCost() > 0)
	  			{
	  			?>
	  			jQuery('#now_usage_cost').html ('<i class="fa fa-gbp"></i> ' + (res.now*<?php echo $this->meter->getCost(); ?>).toFixed(2) + '<?php echo  $unit_per; ?>');
	  			<?php 
	  			}

	  			if ($this->meter->getType() == 'number')
	  			{
		  		?>
	  			if (res.current_status != '')
	  			{
		  			if (res.current_status == '1')
		  				$('#number_meter_status').html ('<p class="meter-on  text-center">ON</p>');
		  			else if (res.current_status == '0')
		  				$('#number_meter_status').html ('<p class="meter-off  text-center">OFF</p>');
		  			else
		  				$('#number_meter_status').html ('<p class="meter-on  text-center">NA</p>');
	  			}
	  			else if (res.current_status == '')
	  			{
	  				$('#number_meter_status').html ('<p class="meter-on  text-center">NA</p>');
	  			}
	  			<?php
				} 
				
				if ($meter_type == 'gas' || $meter_type == 'water' || $meter_type == 'power')
					$unit_per = '';
	  			?>
	  			
	  			if ($('#today_usage_container').length)
	  			{
	  				$('#today_usage_container').html (res.today + ' <?php echo $this->display_unit . $unit_per; ?>');
	  			}
	  			if ($('#total_usage_container').length)
	  			{
	  				$('#total_usage_container').html (res.total + ' <?php echo $this->display_unit . $unit_per; ?>');
	  			}

	  			// Hourly Column Chart
	  			if (hourly_chart_wrapper && jQuery('#hourly_chart').is(':visible'))
	  			{
		  			var dataTable = hourly_chart_wrapper.getDataTable();
		  			if (dataTable != null)
		  			{
		  				rowIndex = 0;

		  				var hourly_keys = Object.keys(res.hourly_chart_data); 
		  				hourly_keys.sort(function(a,b) 
				  		{
		  					if (isNaN(a) || isNaN(b)) 
			  				{
		  				    	return a > b ? 1 : -1;
		  					}
		  				  	return a - b;
		  				});
		  				
			  			for (var hi = 0; hi < hourly_keys.length; hi++)
			  			{
			  				dataTable.setValue (rowIndex, 1, res.hourly_chart_data[hourly_keys[hi]]);
			  				rowIndex++;
			  			}
		  			}

		  			hourly_chart_wrapper.draw();
	  			}
	  				  			
	  			// Daily Column Chart
	  			if (daily_chart_wrapper  && jQuery('#daily_chart').is(':visible') )
	  			{
		  			var dataTable = daily_chart_wrapper.getDataTable();
		  			if (dataTable != null)
		  			{
			  			dataTable.removeRows (0, dataTable.getNumberOfRows());
			  			for (key in res.daily_chart_data)
			  			{
			  				dataTable.addRow ([key, res.daily_chart_data[key]]);
			  			}
		  			}
		  			daily_chart_wrapper.draw();
	  			}

				// Monthly Column Chart
				if (monthly_chart_wrapper && jQuery('#monthly_chart').is(':visible')) {
					var currentDate = new Date();
					if (month_chart_current.getMonth() == currentDate.getMonth() && month_chart_current.getFullYear() == currentDate.getFullYear()) {
						var dataTable = monthly_chart_wrapper.getDataTable();
						if (dataTable != null)
						{
							dataTable.removeRows (0, dataTable.getNumberOfRows());
							for (key in res.monthly_chart_data)
							{
								dataTable.addRow ([key, res.monthly_chart_data[key]]);
							}
						}
						monthly_chart_wrapper.draw();
					}
				}

	  			// Boiler Chart Date
	  			if (boiler_chart_wrapper && isTodayOrFuture())
	  			{
	  				var dataTable = boiler_chart_wrapper.getDataTable();
		  			if (dataTable != null)
		  			{
			  			var rowIndex = 0;
			  			//console.log (res.boiler_chart_data);
			  			//console.log (res.boiler_chart_data.outside_temp);
			  			for (var i=0; i < res.boiler_chart_data.outside_temp.length; i++)
			  			{
				  			var outside = res.boiler_chart_data.outside_temp[i];
				  			var returnFlow = res.boiler_chart_data.return_temp[i];
				  			var heatingFlow = res.boiler_chart_data.heating_flow[i];
				  			var hotWater = res.boiler_chart_data.hot_water[i];
				  			var demand = res.boiler_chart_data.demand[i];
				  			
			  				dataTable.setValue (rowIndex, 1, outside.data);
			  				dataTable.setValue (rowIndex, 2, heatingFlow.data);
			  				dataTable.setValue (rowIndex, 3, returnFlow.data);
			  				dataTable.setValue (rowIndex, 4, hotWater.data);
			  				dataTable.setValue (rowIndex, 5, demand.data);
			  				rowIndex++;
			  			}
		  			}
		  			boiler_chart_wrapper.draw();
	  			}
	  		<?php
	  		if ($meter_type == 'boiler')
	  		{ 
	  		?>
	  			if (res.boilder_other_info && isTodayOrFuture())
	  			{
		  			for (var key in res.boilder_other_info)
		  			{
			  			if (jQuery ('#' + key).length)
			  			{
				  			if (key.substr(-6) == 'status')
				  			{
					  			if (res.boilder_other_info[key] == '1')
					  				jQuery ('#' + key).html ('<font color="#5cb85c">on</font>');
					  			else if (res.boilder_other_info[key] == '0')
					  				jQuery ('#' + key).html ('<font color="#c9302c">off</font>');
					  			else
					  				jQuery ('#' + key).html ('NA');
				  			}
				  			else
				  			{
				  				jQuery ('#' + key).text (res.boilder_other_info[key]);
				  			}
			  			}
		  			}
	  			}
	  		<?php
			} 
	  		?>
	  		});
	      }, <?php echo $gauge_update_interval; ?>);
	});

	function monthlyShowMonthlyGraph () {
		jQuery ('#displaymonthly_chart_button_ofmonth').hide();
		jQuery ('#daily_chart_formonth').hide();
		jQuery ('#monthly_chart').show();

		monthly_chart_wrapper.getChart().setSelection([]);
		//google.visualization.events.addListener(monthly_chart_wrapper.getChart(), 'select', eventMonthlyChartSelected);
	}

	function monthlyShowDailyGraph() {
		jQuery ('#daily_chart_formonth').show();
		jQuery ('#displaymonthly_chart_button_ofmonth').show();
		jQuery ('#displaydaily_chart_button_ofday').hide();
		jQuery ('#hourly_chart_formonth').hide();

		hourly_chart_wrapper_byhours.getChart().setSelection([]);
		google.visualization.events.addListener(hourly_chart_wrapper_byhours.getChart(), 'select', eventMonthlyChartHourChartSelected);
	}

	function monthlyShowHourlyGraph() {
		jQuery ('#displaydaily_chart_button_ofday').show();
		jQuery ('#hourly_chart_formonth').show();
		jQuery ('#displayhourly_chart_button_ofhour').hide();
		jQuery ('#minute_chart_formonth').hide();

		hourly_chart_wrapper_day.getChart().setSelection([]);
		google.visualization.events.addListener(hourly_chart_wrapper_day.getChart(), 'select', eventMonthlyChartHourChartSelected);
	}

	function openZoomInChart () {
		var current_date = boiler_chart_date.getDate();
		var current_month = boiler_chart_date.getMonth()+1;
		var current_year = boiler_chart_date.getFullYear();

		if (current_month < 9)
			current_month = "0" + current_month;
		if (current_date < 9)
			current_date = "0" + current_date;

		jQuery ('#zoomin_hidden_link #start_date').val (current_year + "-" + current_month + "-" + current_date);
		jQuery ('#zoomin_hidden_link').submit();
	}
</script>