<?php
$meter_unit = $this->meter->getUnit();
$unit_per = ' / H';
if ($meter_unit == 'amps' || $meter_unit == 'c' || $meter_unit == 'ma' || $meter_unit == 'v' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'heat' || $meter_unit == 'rh')
    $unit_per = '';

$chart_display_unit = $this->display_unit;
$chart_display_unit = str_replace('<sup>3</sup>', '\u00B3', $chart_display_unit);
$chart_display_unit = str_replace('&deg;', '\u00B0', $chart_display_unit);
?>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-6 col-sm-6 col-md-6 border home-new"><p class=" meter-head bold"><?php echo $this->meter->getName(); ?></p></div>
            <div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-right-none"><p class="meter-head bold"><?php echo $this->site->getName(); ?></p></div>
        </div>
    </div>
</div>

<div class="row">
    <!--<div class="col-xs-6 col-sm-6 col-md-4 width32 margin-top22 margin-right-none"><div  id="gauge_div"></div></div>-->
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
        Hold left button of your mouse and draw an area on chart to zoom in. Click right button of your mouse to zoom out.
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 width100 margin-top22">
        <div id="hourly_chart" width="100%" style="display: block;"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
var boiler_chart_wrapper;

google.load("visualization", "1.1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);

function drawChart () {
    <?php
    if (isset ($this->boiler_chart_data) && sizeof ($this->boiler_chart_data) > 0)
    {
    ?>
        drawBoilerChart();
    <?php
    }
    ?>
}
function drawBoilerChart()
{
    var data = google.visualization.arrayToDataTable([
        [{label: 'Time', id: 'Time', type: 'timeofday'}, "Outside", "Flow", "Return", "Hot water", "Boiler demand"]
        <?php
        if (isset ($this->boiler_chart_data))
        {
            for ($i=0; $i < sizeof ($this->boiler_chart_data['outside_temp']); $i++)
            {
                $timeofday = explode (':', $this->boiler_chart_data['outside_temp'][$i]['time']);
                echo ',[[' . $timeofday[0] . ', ' . $timeofday[1] . ', 0],';
                echo ($this->boiler_chart_data['outside_temp'][$i]['data'] === null)?'null,':$this->boiler_chart_data['outside_temp'][$i]['data'] . ',';
                echo ($this->boiler_chart_data['heating_flow'][$i]['data'] === null)?'null,':$this->boiler_chart_data['heating_flow'][$i]['data']  . ',';
                echo ($this->boiler_chart_data['return_temp'][$i]['data'] === null)?'null,':$this->boiler_chart_data['return_temp'][$i]['data'] . ',';
                echo ($this->boiler_chart_data['hot_water'][$i]['data'] === null)?'null,':$this->boiler_chart_data['hot_water'][$i]['data'] . ',';
                echo ($this->boiler_chart_data['demand'][$i]['data'] === null)?'null':$this->boiler_chart_data['demand'][$i]['data'];
                echo "]\n";
            }
        }
        ?>
    ]);

    var options = {
        title: "Heating graph for <?php echo $this->site->getName(); ?> for <?php echo $this->start_date; ?>",
        width: 1024,
        height: 400,
        animation:{
            duration: 1000,
            easing: 'out'
        },
        legend: { position: "out" },
        hAxis: {title: 'Time', gridlines: {color: '#fff'}},
        vAxis: {title: 'Temperature <?php echo $chart_display_unit; ?>'},
        annotations: {highContrast: true, alwaysOutside: true},
        colors: ['blue', 'red', '#f1ca3a', 'green', '#800080'],
        interpolateNulls: true,
        explorer: { actions: ['dragToZoom', 'rightClickToReset']}
    };

    boiler_chart_wrapper = new google.visualization.ChartWrapper({
        chartType: 'LineChart',
        dataTable: data,
        options: options,
        containerId: 'hourly_chart'
    });
    boiler_chart_wrapper.draw();
}
</script>