<div class="page-header">
	<h1><?php echo (isset($this->site))?'Update Site':'Add New Site'; ?></h1>
</div>


<?php
if (isset ($this->response))
{	
?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<?php if(  in_array("null", $this->response['data'])){?>
  		<?php if($this->response['data']['site_name']=='null'){?>
  		<strong>Error!</strong> Site Name can't be left blank.
  		<?php }elseif ($this->response['data']['site_code']=='null'){?>
  		<strong>Error!</strong> Site Code can't be left blank.
  		<?php }?>
  		<?php } elseif ( in_array("duplicate", $this->response['data'])){?>
  		<strong>Error!</strong> Site code is already exsist.
  		<?php }?>
	</div>
<?php 
} 
?>

<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Site has been <?php echo (isset($this->site))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> An error occurred while <?php echo (isset($this->site))?'updating':'adding'; ?> this site.
	</div>
	<?php 
	}
} 
?>

<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo (isset($this->site))?'/sites/add/' . $this->site->getId():'/sites/add'; ?>" method="POST">
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Site Name *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Site Name" class="form-control" value="<?php echo (isset($this->site))?$this->site->getName():''; ?>" name="site_name" id="site_name" required="required"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Site Code *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Site Code" class="form-control" value="<?php echo (isset($this->site))?$this->site->getCode():''; ?>" name="site_code" id="site_code" required="required"> 
			</div>
		</div>
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button type="submit" class="btn btn-primary"><i class="fa fa-rocket"></i> <?php echo (isset($this->site))?'Update Site':'Add New Site'; ?></button> 
			</div> 
		</div> 
	</form> 
</div>

<script type="text/javascript">
$(document).ready(function() {
	jQuery('.alert').bind("destroyed", function() {
		location.href = '/sites';
	});
});
</script>