<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1>Sites</h1>
</div>

<div class="row" style="margin-bottom: 10px;">
	<div class="col-xs-11">
		<input type="text" name="search" id="search" class="form-control" placeholder="Search" />
	</div>
	<div class="col-xs-1">
		<input type="button" name="searchBtn" id="searchBtn" value="Search" class="btn btn-danger"/>
	</div>
</div>

<div class="row">
	<div class="col-xs-8">
		<p class="lead">Here you may find our sites:</p> 
	</div>
	<div class="col-xs-4">
		<div class="pull-right">
		<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_add', $i4energy_session->user_priviledge)) {?>
			<a href="/sites/add" class="btn btn-primary"><i class="fa fa-plus"></i> New Site</a>
		<?php } ?>
		</div>
	</div>
</div>

<div class="site-container">
<?php 
if (sizeof ($this->rows) > 0)
{
	foreach ($this->rows as $site)
	{
	?>
		<h2 class="h2-head"><?php echo $site->getCode() . ': ' . $site->getName(); ?></h2>
		<p><strong class="h2-head"><?php echo $site->getUpdatedDate(); ?></strong></p>
		
		<p>
			<a href="/sites/<?php echo $site->getId(); ?>" class="btn btn-success">
				<i class="fa fa-file-text"></i> View Site
			</a>
			<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_edit', $i4energy_session->user_priviledge)) {?>
			<a href="/sites/add/<?php echo $site->getId(); ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit Site
			</a>
			
			<?php } if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_delete', $i4energy_session->user_priviledge)) {?>
			<a class="btn btn-danger" data-toggle="modal" data-target="#site_delete_modal" onclick="set_site_id(<?php echo $site->getId(); ?>)">
				<i class="fa fa-times"></i> Delete Site
			</a>  
			<?php } ?>
		</p>
		
		<div id="site_msg_<?php echo $site->getId(); ?>"></div>
		<br/>
	<?php
	}
}
?>
</div>

<div class="modal fade" id="site_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this site! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_site">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<div class="alert alert-success fade in" role="alert" style="display: none;">
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<strong>Success!</strong> Site has been deleted.
</div>

<link media="all" type="text/css" rel="stylesheet" href="/assets/css/jquery-ui.min.css">
<script src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript">
function set_site_id(site_id) {
	jQuery ('#site_delete_modal').attr('site-id', site_id);
}

$('#site_delete_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#site_delete_modal').attr('site-id', '');
})

jQuery('#delete_site').bind("click", function() {
	var site_id = jQuery ('#site_delete_modal').attr('site-id');
	if (site_id > 0 && site_id != '')
	{
		jQuery ('#delete_site').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/sites/delete/" + site_id
		})
		.done(function( msg ) {
			jQuery ('#delete_site').text ('Yes');
			jQuery ('#site_msg_' + site_id).append(jQuery('.alert'))
			jQuery ('#site_delete_modal').modal('hide')
			jQuery ('.alert').show();

			setTimeout(function() {
		        alerts = $('.alert');
		        alerts.addClass('bounceOut');
		        alerts.addClass('animated');
		        setTimeout(function() {
		            alerts.slideUp(500, function() {
		                alerts.remove();
		                location.href = '/sites';
		            });
		        }, 500);
		    }, 1500);
		});
	}
});

$(function() {
	$( "#search" ).autocomplete({
		source: '/home/search',
		minLength: 2,
		select: function( event, ui ) {
			$.ajax({
				dataType: "html",
				type : 'GET',
				data: {data: (ui.item.value.split(':')[1]).trim(),
					table: (ui.item.value.split(':')[0]).trim()
				},
				url: '/searchsites',
				success: function(response) {
					$('#search').removeClass('ui-autocomplete-loading');  // hide loading image
					jQuery('.site-container').html('');
					$('.site-container').html( response );
				},
				error: function(response) {
					$('#search').removeClass('ui-autocomplete-loading');
					if(response.status == 200)
					{
						jQuery('.site-container').html('');
						jQuery('.site-container').html('<div style="border-bottom: 1px solid #666666;" id="site_5" class="row white-border">'+
						'<div class="col-xs-6 .col-sm-4 col-md-2 margin-bottom22 box1">'+
						'No result found..</div></div>');
					}
				}
			})
		}
	});
});

$( "#searchBtn" ).click(function() {
	$.ajax({
		type: "GET",
		url: "/searchsites",
		dataType:'html',
		data: {data : $( "#search").val().trim()},
		success: function(response) {
			$('#search').removeClass('ui-autocomplete-loading');  // hide loading image
			jQuery('.site-container').html('');
			$('.site-container').html( response );
		},
		error: function(response) {
			jQuery('.site-container').html('');
			jQuery('.site-container').html('<div style="border-bottom: 1px solid #666666;" id="site_5" class="row white-border">'+
			'<div class="col-xs-6 .col-sm-4 col-md-2 margin-bottom22 box1">'+
			'No result found..</div></div>');
		}
	});
});
</script>