<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1>Site User Mapper</h1>
</div>  
<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="" method="POST" onsubmit="return false;">
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Site</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Site" class="form-control chosen-select" id="site" name="site" placeholder="Sites" >
				<option value="">--Select--</option>
				<?php
				foreach ($this->sites->rows as $sites)
				{
					$selected = '';
					echo '<option value="' . $sites['id'] . '" ' . $selected . '>' . ucfirst($sites['name']) . '</option>';
				} 
				?>
				</select>  			
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Users</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select id="user" name="user" data-placeholder="Choose  Users" class="chosen-select" multiple style="width:441px;" tabindex="2"  >
				<?php
				foreach ($this->users->rows as $users)
				{
					$selected = '';
					echo '<option id="user'.$users['id'] . '"  value="' . $users['id'] . '" ' . $selected . '>' . ucfirst($users['name']) . '</option>';
				} 
				?>
				</select>
			</div>
		</div>
		
		<?php
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_mapping_add', $i4energy_session->user_priviledge))
		{
		?>
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button type="submit" class="btn btn-primary" onclick="addsiteuser()"><i class="fa fa-rocket"></i> Save </button> 
			</div> 
		</div> 
		<?php
		} 
		?>		
	</form>
</div>		


<script type="text/javascript">

var config = {
	    '.chosen-select': {},
	    '.chosen-select-deselect': {
	        allow_single_deselect: true
	    },
	    '.chosen-select-no-single': {
	        disable_search_threshold: 10
	    },
	    '.chosen-select-no-results': {
	        no_results_text: 'Oops, nothing found!'
	    },
	    '.chosen-select-width': {
	        width: "95%"
	    }
	}
	//for (var selector in config) {
	//    $(selector).chosen(config[selector]);
	//}

jQuery(document).ready (function () {
	jQuery ('.chosen-select').chosen();


});
$("#site").bind('change',function(){
	var siteid = $("#site").val();
	var elements = document.getElementById("user").options;

    for(var i = 0; i < elements.length; i++){
      elements[i].selected = false;
      jQuery ('.chosen-select').trigger("chosen:updated");
      
    }
		
	jQuery.ajax ({
		type: "POST",
		url: "/sites/allocatedusers",
		dataType:'JSON',
		data: {
		            siteid: siteid
		        },	
	})
	.done(function( response ) {
		console.log(response);
		response.data.forEach(function(entry){
			var userid=""; 
			
		$("#user"+entry).attr('selected', true);
			jQuery ('.chosen-select').trigger("chosen:updated");
		});
	});

});


function addsiteuser(){
	var siteid = $("#site").val();
	var userid = $("#user").val();
	jQuery.ajax ({
		type: "POST",
		url: "/sites/addusers",
		dataType:'JSON',
		data: {
		            userid: userid,
		            siteid: siteid
		        },	
	})
	.done(function( msg ) {
		if(msg.returnvalue =='valid' ){
			alert("User added ");
		}
	});	
}
</script>