<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1><?php echo $this->site->getCode() . ': ' . $this->site->getName(); ?></h1>
</div>
<div class="row">
	<div class="col-xs-8">
		<p class="lead">Updated on <?php echo $this->site->getUpdatedDate(); ?></p> 
	</div>
	<div class="col-xs-4">
		<div class="pull-right">
		<?php 
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_edit', $i4energy_session->user_priviledge))
		{
		?>
			<a href="/sites/add/<?php echo $this->site->getId(); ?>" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Edit Site</a>
		<?php
		} 
		?>
		</div>
	</div>
</div>

<?php 
if (!I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_view', $i4energy_session->user_priviledge))
{
	return;
}
?>
<div class="row">
	<div class="col-xs-8">
		<h1 class="h2-head">Meters</h1>
	</div>
	<div class="col-xs-4">
		<div class="pull-right">
		<?php 
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_add', $i4energy_session->user_priviledge))
		{
		?>
			<a href="/meters/add/site-<?php echo $this->site->getId(); ?>" class="btn btn-primary"><i class="fa fa-plus"></i> Add Meter</a>
		<?php
		} 
		?>
		</div>
	</div>
</div>

<?php 
if (sizeof ($this->meters) > 0)
{
	foreach ($this->meters as $meter)
	{
	?>
		<h2 class="h2-head"><?php echo $meter->getMac() . ': ' . $meter->getName(); ?></h2>
		<p><strong class="h2-head"><?php echo $meter->getUpdatedDate(); ?></strong></p>
		
		<p>
		<?php 
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_view', $i4energy_session->user_priviledge))
		{
		?>
			<a href="/meters/site-<?php echo $this->site->getId(); ?>/<?php echo $meter->getId(); ?>" class="btn btn-success">
				<i class="fa fa-file-text"></i> View Meter
			</a>
		<?php
		}
		 
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_edit', $i4energy_session->user_priviledge))
		{
		?>
			<a href="/meters/add/site-<?php echo $this->site->getId(); ?>/<?php echo $meter->getId(); ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit Meter
			</a>
		<?php
		}
		
		if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_delete', $i4energy_session->user_priviledge))
		{
		?>
			<a class="btn btn-danger" data-toggle="modal" data-target="#meter_delete_modal" onclick="set_meter_id(<?php echo $meter->getId(); ?>)">
				<i class="fa fa-times"></i> Delete Meter
			</a>
		<?php
		} 
		?>  
		</p>
		
		<div id="site_msg_<?php echo $meter->getId(); ?>"></div>
		<br/>
	<?php 
	}
}
?>

<div class="modal fade" id="meter_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this meter! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_meter">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<div class="alert alert-success fade in" role="alert" style="display: none;">
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<strong>Success!</strong> Meter has been deleted.
</div>

<script type="text/javascript">
function set_meter_id(meter_id) {
	jQuery ('#meter_delete_modal').attr('meter-id', meter_id);
}

$('#meter_delete_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#meter_delete_modal').attr('meter-id', '');
})

jQuery('#delete_meter').bind("click", function() {
	var meter_id = jQuery ('#meter_delete_modal').attr('meter-id');
	if (meter_id > 0 && meter_id != '')
	{
		jQuery ('#delete_meter').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/meters/delete/" + meter_id
		})
		.done(function( msg ) {
			jQuery ('#delete_meter').text ('Yes');
			jQuery ('#meter_msg_' + meter_id).append(jQuery('.alert'))
			jQuery ('#meter_delete_modal').modal('hide')
			jQuery ('.alert').show();

			setTimeout(function() {
		        alerts = $('.alert');
		        alerts.addClass('bounceOut');
		        alerts.addClass('animated');
		        setTimeout(function() {
		            alerts.slideUp(500, function() {
		                alerts.remove();
		                location.href = '/sites/<?php echo $this->site->getId(); ?>';
		            });
		        }, 500);
		    }, 1500);
		});
	}
});
</script>