<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-9">
			<div class="col-xs-6 col-sm-6 col-md-6 border home-new">
				<p class=" meter-head bold">Database Size</p>
			</div>
			<div
				class="col-xs-6 col-sm-6 col-md-6 border home-new margin-right-none">
				<p class="meter-head bold">Disk Space</p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 border home-new margin-top22">
        
        <div class="main-left">
        <p style="float: left;" class="text-left">Database Size</p>
        <p class="text-right" id="now_usage"><?php echo $this->dbsize[0]['db_size_in_mb']." MB"; ?></p>
        </div>
        <?php
        
			if ($this->tablesize > 0) {
				$count = count($this->tablesize);
				$i=1;
				foreach ( $this->tablesize as $size ) {
					$i++;
					if ($i == $count) {
				?><div class="main-left">
				<?php }
					else {	
				?><div class="main-left border-bottom-none">
				<?php }
				?>
					<p style="float: left;" class="text-left">
						<?php
							if($size['Table'] == 'meter_data')	
								echo "Process Data"; 
							if($size['Table'] == 'meter_rawdata')
								echo "Pinger Data";
							?></p>
					<p class="text-right" id="now_usage"><?php echo $size['Size in MB']." MB"; ?></p>
				</div>
		<?php
				}
			}
		?>
		</div>
		
		<?php
		$freespace = disk_free_space ( "/" );
		$totalspace = disk_total_space ( "/" );

		function dataSize($size) {
			$i = 0;
			$iec = array (
					"B",
					"KB",
					"MB",
					"GB",
					"TB" 
			);
			while ( ($size / 1024) > 1 ) {
				$size = $size / 1024;
				$i ++;
			}
			return (round ( $size, 1 ) . " " . $iec [$i]);
		}
		
		function GetDirectorySize($path){
			$bytestotal = 0;
			$path = realpath($path);
			if($path!==false){
				foreach(new RecursiveIteratorIterator(new RecursiveDirectoryIterator($path, FilesystemIterator::SKIP_DOTS)) as $object){
					$bytestotal += $object->getSize();
				}
			}
			return $bytestotal;
		}
		
		function getPercentage($value,$total) {
			$per = ($value/$total)*100;
			return number_format((float)$per, 2, '.', '');
		}
		
		?>
		
			<div class="col-xs-6 col-sm-6 col-md-4 border home-new margin-top22 margin-right-none">
				<div class="main-left">
					<p style="float: left;" class="text-left">Total Space</p>
					<p class="text-right">
	            <?php
					echo dataSize ( $totalspace );
				?>
	          		</p>
				</div>
				<div class="main-left">
					<p style="float: left;" class="text-left">Used Space</p>
					<p class="text-right">
	            <?php
					echo dataSize ( $totalspace - $freespace );
					echo " (".getPercentage(dataSize ( $totalspace - $freespace ),dataSize ( $totalspace ))." %)"
				?>
	          		</p>
				</div>
				<div class="main-left">
					<p style="float: left;" class="text-left">Free Space</p>
					<p class="text-right">
	            <?php
					echo dataSize ( $freespace );
					echo " (".getPercentage(dataSize ($freespace ),dataSize ( $totalspace ))." %)"
				?>
					</p>
				</div>
				
				<div class="main-left border-bottom-none">
					<p style="float: left;" class="text-left">Archive Size</p>
					<p class="text-right">
	            <?php
					
					 $dir = $_SERVER['DOCUMENT_ROOT'] . '/../scripts/';
						echo dataSize(GetDirectorySize ($dir));
				?>
					</p>
				</div>

			</div>
		</div>
	</div>
</div>








