<div class="row">
<input type="text" name="search" id="search" class="form-control" placeholder="Search" style="width: 90%;float:left;margin-right: 2px;"/>
<input type="button" name="searchBtn" id="searchBtn" value="Search" class="btn btn-danger"/>
</div>
<div class="container-fluid" id='container-fluid'>

<?php
$page_limit = $this->page_limit;
if (!(isset ($page_limit) && $page_limit > 0))
	$page_limit = 30;

$meter_ids = array();
if ($this->totalsites > 0)
{	
	foreach ($this->sites as $site_id => $site_details)
	{
?>
  <div class="row white-border" id="site_<?php echo $site_id; ?>" style="border-bottom: 1px solid #666666;" >
    <div class="col-xs-6 .col-sm-4 col-md-2 only-border margin-bottom22 box1">
      <p class="text-center text-capitalize"><?php echo $site_details['site']->getName(); ?></p>
      <br/>
      <p class="text-center"><?php echo $site_details['site']->getCode(); ?></p>
    </div>
    <div class="col-xs-6 .col-sm-8 col-md-9 only-border pull-right border-none">
      <?php
  			if (sizeof ($site_details['meters']) > 0)
  			{
  				echo '<div class="row">';
  				foreach ($site_details['meters'] as $meter)
  				{
  					array_push($meter_ids, $meter->getId());
  					
  					$css_class = 'internal-border';
  					$latest_reading = null;

					$meter_type = $meter->getType();
					if ($meter_type == 'hourrun')
						$meter_type = 'hours run';
  				?>

        <div class="col-xs-6 .col-sm-4 col-md-2">
          <p id="meter-id-<?php echo $meter->getId(); ?>" class="text-center text-capitalizen <?php echo $css_class; ?>">
          	<a class="link" href="/meters/site-<?php echo $site_id; ?>/<?php echo $meter->getId(); ?>"><?php echo $meter->getName(); ?></a> 
          	<br/>
            <?php echo $meter->getMac(); ?> / <?php echo $meter_type; ?>
            <br/>
            <?php
            /*if ($latest_reading != null)
            {
            	$meter_unit = $meter->getUnit();
            	$unit_per = ' / H';
            	if ($meter_unit == 'amps' || $meter_unit == 'c' || $meter_unit == 'ma' || $meter_unit == 'v')
            		$unit_per = '';
            	echo '<span id="meter-reading-' . $meter->getId() . '">' . $latest_reading . '</span> ' . I4energy_Model_Meters::getDisplayUnit ($meter_unit) . $unit_per;
            }*/
            ?> 
            	<span  id="meter-reading-<?php echo $meter->getId(); ?>"></span>
          </p>
        </div>
	
      <?php 
  				}
  				echo '</div>';
  			
  			}
  			else
  			{
  			?>
      <p class="text-center">No meter associated with this site.</p>
      <?php 
  			} 
  			?>
  		
    </div>
  </div>
  <?php 		
	}
	?>
<?php 	 
}
else
{
?>
  <p class="text-center lead">No sites found.</p>
  <?php 
}
?>
</div>

<div class="col-md-12 text-center" id="loadmore" <?php echo ($this->totalsites <= $this->page_limit)?'style="display: none;"':''; ?>>
	<button class="btn btn-primary btn-lg btn-block" type="button" onclick="loadmoresites()">Load <?php echo $page_limit; ?> more sites</button>
</div>

<?php
if (sizeof ($meter_ids) > 0)
{ 
?>
<script type="text/javascript">
var meter_ids=<?php echo json_encode($meter_ids); ?>;	
jQuery (document).ready ( function () {
	getLatestReading();
	setInterval(function() {
		getLatestReading()
    }, 60000);
});

function getLatestReading ()
{

	jQuery.ajax ({
			url: "/meters/latest-readings",
			type: "POST",
			data: { ids : meter_ids.join() },
//			data: { ids : '<?php // echo implode(',', $meter_ids); ?>' },
			dataType: "json"
		})
		.done (function( res ) 
		{

			for(var meter_id in res)
			{
	  			if ( jQuery ('#meter-id-' + meter_id).length )
	  			{
	  				jQuery ('#meter-id-' + meter_id).removeClass ('internal-border-green');
	  				jQuery ('#meter-id-' + meter_id).removeClass ('internal-border-red');
	  				jQuery ('#meter-id-' + meter_id).removeClass ('internal-border-yellow');
	  				jQuery ('#meter-id-' + meter_id).removeClass ('internal-border-bold');
	  				
  	  				jQuery ('#meter-id-' + meter_id).addClass ( res[meter_id].class );
	  			}
	  			if ( jQuery ('#meter-reading-' + meter_id).length )
  	  				jQuery ('#meter-reading-' + meter_id).html ( res[meter_id].display_reading );
			}
		});
}
</script>
<?php
} 
?>

<script>
var page="";
if(page ==''){
	page=2;
}

function loadmoresites(){
	jQuery.ajax ({
		type: "POST",
		url: "/loadmoresites",
		dataType:'JSON',
		data: {
		            page: page,
		            limit: <?php echo $page_limit; ?>,
		            meter_ids:'<?php echo implode(',', $meter_ids); ?>'
		        },	
	})
	.done(function( response ) {
		
		//console.log(response.data);
		page = response.page;
	
		meter_ids = meter_ids.concat(response.meterids);
		//console.log(meter_ids);
		if(response.data=='' || page > response.totalpages){
			document.getElementById('loadmore').style.display = 'none';
		}
		$('#container-fluid').append( response.data );
		getLatestReading();
	});	
}

</script>
<link media="all" type="text/css" rel="stylesheet" href="/assets/css/jquery-ui.min.css">
<script src="/assets/js/jquery-ui.min.js"></script>

<script>
  $(function() {
     $( "#search" ).autocomplete({
      source: '/home/search',
      minLength: 2,
      select: function( event, ui ) {
            $.ajax({
              dataType: "json",
              type : 'GET',
              data: {data: (ui.item.value.split(':')[1]).trim(),
					table: (ui.item.value.split(':')[0]).trim()
                	},
              url: '/home/searchSelect',
              success: function(response) {
            	  var len = response.length;
                $('#search').removeClass('ui-autocomplete-loading');  // hide loading image
				jQuery('#container-fluid').html('');
				page = response.page;
				meter_ids = meter_ids.concat(response[0].meterids);
				if(response.data=='' || page > response.totalpages){
					document.getElementById('loadmore').style.display = 'none';
				}
				$('#container-fluid').append( response[--len].data );
				getLatestReading();

              /* response( $.map( data, function(item) {
                  // your operation on data
              })); */
            },
            error: function(response) {
                    $('#search').removeClass('ui-autocomplete-loading');  
                    if(response.status == 200)
    				{
    					jQuery('#container-fluid').html('');
    					jQuery('#container-fluid').html('<div style="border-bottom: 1px solid #666666;" id="site_5" class="row white-border">'+
    							'<div class="col-xs-6 .col-sm-4 col-md-2 margin-bottom22 box1">'+
    							'No result found..</div></div>');
    				}
            }
          })
}
    }); 

  });


  $( "#searchBtn" ).click(function() {
	  var value = $("#search").val();
	  //console.log(value);
	  $.ajax({
			type: "GET",
			url: "/home/searchSelect",
			dataType:'JSON',
			data: {data : value},
			success: 
				function(response) {
				var len = response.length;
					$('#search').removeClass('ui-autocomplete-loading');  // hide loading image
					jQuery('#container-fluid').html('');
					if(len>0)
					{
						page = response.page;
						meter_ids = meter_ids.concat(response[0].meterids);
						if(response.data=='' || page > response.totalpages){
							document.getElementById('loadmore').style.display = 'none';
						}
						$('#container-fluid').append( response[--len].data );
						getLatestReading();
					}
					else
					{
						jQuery('#container-fluid').html('<div style="border-bottom: 1px solid #666666;" id="site_5" class="row white-border">'+
								'<div class="col-xs-6 .col-sm-4 col-md-2 margin-bottom22 box1">'+
								'No result found..</div></div>');
					}
			},
			error: function(response) {
				if(response.status == 200)
				{
					jQuery('#container-fluid').html('');
					jQuery('#container-fluid').html('<div style="border-bottom: 1px solid #666666;" id="site_5" class="row white-border">'+
							'<div class="col-xs-6 .col-sm-4 col-md-2 margin-bottom22 box1">'+
							'No result found..</div></div>');
				}
            }
	  });
	});
  </script>
