<div class="page-header"> 
	<h1>Login</h1> 
</div>    
<p class="lead">Please enter your details:</p> 
<div class="well"> 
	<form method="POST" action="/login<?php echo $this->bkurl; ?>" accept-charset="UTF-8" class="form-horizontal" id="login_frm">
		<div class="form-group"> 
			<label class="col-md-2 col-sm-3 col-xs-10 control-label" for="email">Email</label> 
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<input name="email" id="email" value="" type="text" class="form-control" placeholder="Email">
			</div> 
		</div> 
		
		<div class="form-group">
			<label class="col-md-2 col-sm-3 col-xs-10 control-label" for="password">Password</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<input name="password" id="password" value="" type="password" class="form-control" placeholder="Password">
			</div> 
		</div> 
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12"> 
				<div class="checkbox"> 
					<label><input type="checkbox" name="rememberMe" value="1"> Remember Me</label> 
				</div> 
			</div> 
		</div> 
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12"> 
				<button class="btn btn-primary" type="submit" id="login_btn"><i class="fa fa-sign-in"></i> Log In</button>  
				<label>
					<a href="/resetpassword" class="btn btn-link">Forgot Password?</a>
				</label>
			</div> 
		</div> 
		
		<?php if (isset ($this->error)) { ?>
		<div class="form-group">
			<p class="bg-danger" style="padding: 10px;"><?php echo $this->error; ?></p>
		</div>
		<?php } ?>
	</form> 
</div>

<script type="text/javascript" charset="utf-8">
$('#login_frm #login_btn').click (function () {
	
});
</script>
