<div class="page-header"> 
	<h1>Reset Password</h1> 
</div>  
<p class="lead">Please enter your email:</p>
<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Password has been successfully reset & sent to your mail addreess.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> <?php echo (isset($this->error_msg) && $this->error_msg !='')?$this->error_msg:'An error occurred while reset email.'; ?>
	</div>
	<?php 
	}
}  
?>
<div class="well"> 
	<form method="POST" action="/resetpassword<?php echo $this->bkurl; ?>" accept-charset="UTF-8" class="form-horizontal" id="login_frm">
		<div class="form-group"> 
			<label class="col-md-2 col-sm-3 col-xs-10 control-label" for="email">Email</label> 
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<input name="email" id="email" value="" type="email" class="form-control" placeholder="Email" required="required">
			</div> 
		</div> 

		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12"> 
				<button class="btn btn-primary" type="submit" id="login_btn"><i class="fa fa-sign-in"></i> Submit</button>  
			</div> 
		</div> 
		
		</form> 
</div>
		