<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Meter has been <?php echo (isset($this->meterlink))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> An error occurred while <?php echo (isset($this->meterlink))?'updating':'adding'; ?> this meter link.
	</div>
	<?php 
	}
} 

$form_url = '/metersdisplay/add';
if (isset($this->meterlink) && $this->meterlink->getId() > 0)
	$form_url .= '/' . $this->meterlink->getId();
?>


<div class="page-header">
	<h1><?php echo (isset($this->user))?'Update Meter Link':'Add Meter Link'; ?></h1>
</div>


<div class="well"> 
	<form id="meter_display_link_add_form" class="form-horizontal" accept-charset="UTF-8" action="<?php echo $form_url;?>" method="POST">
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Title *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Display Title" class="form-control" value="<?php echo (isset($this->meterlink))?$this->meterlink->getTitle():''; ?>" name="title" id="title" required="required" onkeyup="seturl()"> 
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Url *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				http://<?php echo $_SERVER['HTTP_HOST']; ?>/display/<input type="text" value="<?php echo (isset($this->meterlink))?$this->meterlink->getUrl():''; ?>" placeholder="Url" class="form-control"  name="url" id="url" required="required" onkeypress="setUrlChanged()" onblur="seturl()"> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Site</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Site" class="form-control chosen-select" multiple id="site" name="site" placeholder="Sites" >
				<option value="">--Select--</option>
				<?php
				foreach ($this->sites->rows as $sites)
				{
					$selected = '';
					echo '<option  id="site-' . $sites['id'] . '"  value="' . $sites['id'] . '" ' . $selected . '>' . ucfirst($sites['name']) . '</option>';
				} 
				?>
				</select>  			
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Meters</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Meters" class="form-control  chosen-select" multiple id="meters" name="meters[]" placeholder="Meters" >
				 
				 </select> 			
			</div>
		</div>

		
		<?php	$selected_login_require = (isset ($this->meterlink))?$this->meterlink->getLoginrequired():''; ?> 
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Login Required *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Login Status" class="form-control" id="login_required" name="login_required" placeholder="Login Status">
				<option value="1" <?php echo ($selected_login_require == '1')?'SELECTED':''; ?>>Yes</option>
				<option value="0" <?php echo ($selected_login_require == '0')?'SELECTED':''; ?>>No</option>
				</select>
			</div>
		</div>

		<div id='authdiv' style="display: block;">
			<div class="form-group">
				<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Customer *</label>
				<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
	
					<select data-placeholder="customer" class="form-control" id="customer" name="customer" placeholder="Customer" >

					<option value="">--Select--</option>
							<?php
						foreach ($this->customers->rows as $row)
						{					
							$selected = '';
							if (isset($this->meterlink) && $this->meterlink->getCustomerId() == $row['id']){
								$selected = 'SELECTED';
							}
							echo '<option value="' . $row['id'] . '" ' . $selected . '>' . ucfirst($row['name']) . '</option>';
						}
					?>
						
					</select> 
				</div>
			</div>
	
			<?php	$selected_theme = (isset ($this->meterlink))?$this->meterlink->getTheme():''; ?> 
	
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Theme *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Theme" class="form-control" id="theme" name="theme" placeholder="User Theme">
					<option value="" <?php echo ($selected_theme == '')?'SELECTED':''; ?>>Default</option>
					<option value="cyborg" <?php echo ($selected_theme == 'cyborg')?'SELECTED':''; ?>>Cyborg</option>
					<option value="darkly" <?php echo ($selected_theme == 'darkly')?'SELECTED':''; ?>>Darkly</option>
				<!-- 	<option value="lumen" <?php echo ($selected_theme == 'lumen')?'SELECTED':''; ?>>Lumen</option>
					<option value="paper" <?php echo ($selected_theme == 'paper')?'SELECTED':''; ?>>Paper</option>
					<option value="simplex" <?php echo ($selected_theme == 'simplex')?'SELECTED':''; ?>>Simplex</option>
					
					<option value="yeti" <?php echo ($selected_theme == 'yeti')?'SELECTED':''; ?>>Yeti</option>  -->
					<option value="united" <?php echo ($selected_theme == 'united')?'SELECTED':''; ?>>United</option>
					<option value="cerulean" <?php echo ($selected_theme == 'cerulean')?'SELECTED':''; ?>>Cerulean</option>
					<option value="slate" <?php echo ($selected_theme == 'slate')?'SELECTED':''; ?>>Slate</option>
				</select>
			</div>
		</div>
	</div>
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button id="submit" type="submit" class="btn btn-primary" style="float: right;"><i class="fa fa-rocket"></i> Add Meter Display</button> 
			</div> 
		</div> 
	</form> 
</div>

	<?php if (isset($this->meterlink)){
		if ($this->meterlink->getMeter1() != NULL && $this->meterlink->getMeter1()>0){ 
		$meter1=$this->meterlink->getMeter1();
		}
		
		if ($this->meterlink->getMeter2() != NULL && $this->meterlink->getMeter2()>0){
			$meter2=$this->meterlink->getMeter2();
		}
		
		if ($this->meterlink->getMeter3() != NULL && $this->meterlink->getMeter3()>0){
			$meter3=$this->meterlink->getMeter3();
		}
		
		if ($this->meterlink->getMeter4() != NULL && $this->meterlink->getMeter4()>0){
			$meter4=$this->meterlink->getMeter4();
		}
	}?>

<script type="text/javascript">
var isUrlChanged = false;

function setUrlChanged()
{
	isUrlChanged = true;
}

var config = {
	    '.chosen-select': {max_selected_options: 4},
	    '.chosen-select-deselect': {
	        allow_single_deselect: true
	    },
	    '.chosen-select-no-single': {
	        disable_search_threshold: 10
	    },
	    '.chosen-select-no-results': {
	        no_results_text: 'Oops, nothing found!'
	    },
	    '.chosen-select-width': {
	        width: "95%"
	    }
	}
	//for (var selector in config) {
	//    $(selector).chosen(config[selector]);
	//}

jQuery(document).ready (function () {
	jQuery ('.chosen-select').chosen();

	var login_required = $("#login_required").val();
	if(login_required == 1)
		{
			document.getElementById('authdiv').style.display = 'none';
		}else{
			document.getElementById('authdiv').style.display = 'block';
		}
	<?php 
	if (isset($this->siteidarray))
	foreach ($this->siteidarray as $siteid){?>
	console.log(<?php echo $siteid;?>);
	var siteid = "<?php echo $siteid;?>";
	$("#site-"+siteid).attr('selected', true);
	createmeter();
	jQuery ('.chosen-select').trigger("chosen:updated");
	
	<?php }?>
	
});

$("#login_required").bind('change',function(){
	var login_required = $("#login_required").val();
	if(login_required == 1)
	{
		document.getElementById('authdiv').style.display = 'none';
	}else{
		document.getElementById('authdiv').style.display = 'block';
	}

});


$("#site").bind('change',function(){
	createmeter();
	});

	function createmeter(){
		var siteids = $("#site").val();
		 var selectmeters = document.getElementById('meters');		     		     
		 selectmeters.options.length=0;
	     
		jQuery.ajax ({
			type: "POST",
			url: "/metersdisplay/getmeters",
			dataType:'JSON',
			data: {
			            siteids: siteids
			        },	
		})
		.done(function( response ) {
			console.log(response);
			for (var entry in response){
				 var op = document.createElement("option");
				 	op.id='meter-'+response[entry]['id'];		     
					op.value=response[entry]['id'];
				    op.text=response[entry]['name'];
				    selectmeters.options.add(op);
				    
					jQuery ('.chosen-select').trigger("chosen:updated");
				    <?php 
				    if (isset($this->meteridarray))
				    foreach ($this->meteridarray as $meterid){?>
					var meterid = "<?php echo $meterid;?>";
					$("#meter-"+meterid).attr('selected', true);
					jQuery ('.chosen-select').trigger("chosen:updated");
					<?php }?>
					
				}
		});
	}

	function seturl() {
		var existing_url = jQuery("#url").val().trim();
		
		if (!isUrlChanged || existing_url == '')
		{
			var title = jQuery("#title").val().trim();
			title = title.replace(/[^a-z0-9_-]/gi,'-').replace(/-+/gi, '-').replace (/^-/gi, '').replace (/-$/gi, '');

			var newurl = title.toLowerCase();

			jQuery("#url").val (newurl);
		}
	}

	
</script>

