<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1>Users</h1>
</div>
<div class="row">
	<div class="pull-right pull-right-width">
	<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_display_link_edit', $i4energy_session->user_priviledge)) {?>
		<a href="/metersdisplay/add" class="btn btn-primary"><i class="fa fa-plus"></i> New meter Link</a>
	<?php } ?>
	</div>
</div>
<div class="table-responsive">
   <table id="meterlink_table" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
         <tr>
            <th class="table-header">Title</th>
            <th class="table-header">Url</th>
            <th class="table-header">Login Required</th>
            <th class="table-header">Action</th>
         </tr>
      </thead>
      <tbody>
        
        <?php
        foreach ($this->rows as $rws)
        {
        ?>
         <tr>
            <td><?php echo ucfirst($rws->getTitle());?></td>
            <td><?php echo "http://" . $_SERVER['HTTP_HOST'].'/display/'.$rws->getUrl();?></td>
            <td><?php if($rws->getLoginrequired()==1){ echo 'Yes';}else{echo 'No';}?></td>
            <td>
            <?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_display_link_edit', $i4energy_session->user_priviledge)) {?>
            <a href="/metersdisplay/add/<?php echo $rws->getId(); ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit
			</a>
			<?php
        	}
        	if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_display_link_delete', $i4energy_session->user_priviledge)) {
			?>
			<a class="btn btn-danger" data-toggle="modal" data-target="#meterlink_modal" onclick="set_meterlink_id(<?php echo $rws->getId(); ?>)">
				<i class="fa fa-times"></i> Delete
			</a>
			<?php
        	} 
			?>
			</td>
           </tr>
		<?php }?>
         </tbody>
   </table>
</div>  


<!-- Modal : Delete  -->
<div class="modal fade" id="meterlink_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this user! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_meterlink">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	 jQuery('#meterlink_table').dataTable({
		    "pagingType": "full"
		    });
} );
function set_meterlink_id(user_id) {
	jQuery ('#meterlink_modal').attr('meterlink-id', user_id);
}

$('#meterlink_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#meterlink_modal').attr('meterlink-id', '');
})

$('#delete_meterlink').bind("click", function() {
	var meterlink_id = jQuery ('#meterlink_modal').attr('meterlink-id');
	if (meterlink_id > 0 && meterlink_id != '')
	{
		jQuery ('#delete_meterlink').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/metersdisplay/delete/?id=" + meterlink_id
		})
		.done(function( msg ) {
			alert ("Successfully deleted");
	        location.href = '/metersdisplay/';
		});
	}
});


</script>