html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#wrap > .container {
    padding: 80px 15px;
}

.navbar {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-right {
    padding-right: 20px;
    padding-left: 5px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.container .credit {
    margin: 20px 0;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.hidden-xs .jumbotron {
    margin: 28px 0;
}

.visible-xs .jumbotron {
    margin: 20px 0;
}

.jumbotron h1 {
    line-height: 1;
}

.hidden-xs .jumbotron .hidden-sm h1 {
    font-size: 100px;
}

.hidden-xs .jumbotron .visible-sm h1 {
    font-size: 80px;
}

.visible-xs .jumbotron h1 {
    font-size: 60px;
}

.jumbotron .lead {
    line-height: 1.25;
}

.hidden-xs .jumbotron .lead {
    font-size: 24px;
}

.visible-xs .jumbotron .lead {
    font-size: 20px;
}

.hidden-xs .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.visible-xs .jumbotron .btn {
    font-size: 20px;
    padding: 12px 18px;
}

.comment-box {
    resize: none;
}

.comment-button {
    margin-top:15px;
    margin-bottom:10px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/***** new css *****/
p {
    margin: 0 0 0px;
}
.border{ border:1px solid #ddd; padding:5px; text-align:center; width:48%; margin-right:22px;}
.margin-right-none{ margin-right:0px !important;}
.margin-top22{margin-top:25px;}
.margin-top10{margin-top:10px;}
.main-left{ border-bottom:1px solid #ddd; padding:5px;}
.border-bottom-none{ border-bottom:none;}
.padding-left{padding-left:30px;}
.border-none{ border:0 !important;}
.width100{ width:100%;border:1px solid #ddd;}
.only-border{ border:1px solid #ddd; margin-bottom:0px; margin-top:22px;}
.internal-border{border:1px solid #ddd; padding:5px; margin-bottom:22px; font-size:11px;}
.internal-border-yellow{border:3px solid #ffcc00;padding:5px; margin-bottom:22px;}
.internal-border-green{border:3px solid #33cc33;padding:5px; margin-bottom:22px;}
.internal-border-red{border:3px solid #ff0000;padding:5px; margin-bottom:22px;}
.internal-border-bold{border:3px solid #ddd;padding:5px; margin-bottom:22px;}
.margin-bottom22{ margin-bottom:22px;}
.bold{ font-weight:700; font-size:18px;}
.bold-11px {font-weight:700; font-size:11px;}
.meter-on {font-weight: 700; font-size: 40px; color: #c9302c}
.meter-off {font-weight: 700; font-size: 40px; color: #5cb85c}

.hourrun_status_na { color: #999999; }
.hourrun_status_on { color: #5cb85c; }
.hourrun_status_off { color: #c9302c; }

/****** new *******/
.pull-right-width{
    float: right;
    margin: 0 0 10px;
    width: 10.2%;
}
.pull-right-width-cust{
    float: right;
    margin: 0 0 10px;
    width: 13.0%;
}

.table.dataTable.no-footer {
    border-bottom: 1px solid #111111;
    margin: 10px 0 0;
}

.form-horizontal .control-label {
    color: #222222 !important;
    margin-bottom: 0;
    padding-top: 7px;
    text-align: right;
    font-weight: normal;
}