<?PHP
$i=1;
foreach ($this->response as $meter){
?>
<div class="col-md-6" style="float:left; min-height:350px;">
<div id="meter<?php echo $i;?>" class="col-md-7">
	    <!-- <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none" style="text-align:center">Logo Here</div>-->
	    <div id='"metername<?php echo $i;?>"' class="col-xs-6 col-sm-6 col-md-12 border home-new" style="width:100%;"><p class=" meter-head bold"><?php echo $meter['meter']->getName(); ?></p></div>
	<?php //if ($this->totalmeters==2){ ?>
	    <!-- <div id="hourly_chart<?php echo $i;?>" width="100%" style="display: block;"></div> -->
	    <?php //}?>
		    <div class="col-xs-6 col-sm-6 col-md-12 margin-top10 padding-left" style="text-align:center">
		    	<div id="gauge_div<?php echo $i;?>">
		    	</div>
		    </div>
    
		    <div class="col-xs-6 col-sm-6 col-md-12 margin-right-none border-none font-color">
		    <?php
		    $meter_type=$meter['meter']->getType();
		    $meter_unit = $meter['meter']->getUnit();
		    
		    $unit_per = ' / H';
		    if ($meter_unit == 'amps' || $meter_unit == 'c' || $meter_unit == 'ma' || $meter_unit == 'v' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'heat')
		    	$unit_per = '';
		    
		    $chart_display_unit = $meter['display_unit'];
		    $chart_display_unit = str_replace('<sup>3</sup>', '\u00B3', $chart_display_unit);
		    $chart_display_unit = str_replace('&deg;', '\u00B0', $chart_display_unit);
		     
		    $tmp_unit_per = ($meter_type == 'gas' || $meter_type == 'water' || $meter_type == 'power')?'':$unit_per;
		    
		    if ($meter['meter']->getType() == 'power' || $meter['meter']->getType() == 'gas' || $meter['meter']->getType() == 'water' || $meter['meter']->getType() == 'heat')
		    {  
		    	
		    ?>
		    	<p style="float: left;" class="text-left">Today:</p>
		    	<p class="text-right" id="today_usage_container<?php echo $i;?>">
		    	<?php
		    	if (isset ($meter['today_usage'])) 
		    		echo $meter['today_usage'] . ' ' . $meter['display_unit'] . $tmp_unit_per;
		    	else
		    		echo 'NA';
		    	?>
		    	</p>
		    	<br/>
		    	<p style="float: left;" class="text-left">Total:</p>
		    	<p class="text-right" id="total_usage_container<?php echo $i;?>">
		    	<?php
		    	if (isset ($meter['total_usage'])) 
		    		echo $meter['total_usage'] . ' ' . $meter['display_unit'] . $tmp_unit_per;
		    	else
		    		echo 'NA';
		    	?>
		    	</p>
		    <?php 
		    }
		    else if ($meter['meter']->getType() == 'number')
		    {
		    	echo "<div id='number_meter_status$i'>";
		    	if (isset ($meter['current_status']) && $meter['current_status'] != '')
		    		echo ($meter['current_status'] == '1')?'<p class="text-center meter-on">ON</p>':'<p class="text-center meter-off">OFF</p>';
		    	else
		    		echo '<p class="text-center meter-on">NA</p>';
		    	echo '</div>';
		    }
		    ?>
		    </div>
	</div>
	</div>
<?php
// Gauge settings 
$gauge_options = array('width' => 200, 'height' => 200, 'minorTicks' => 5, 'animation' => array ('duration' => 1000), 'annotations' => array ('highContrast' => true));
$gauge_options['min'] = 0;
$gauge_options['max'] = 100;

$webMinScale = $meter['meter_attrs']->getWebMinScale();
$statusGoodMin = $meter['meter_alert']->getStatusGoodMin(); 
if (isset ($webMinScale) && $webMinScale != '')
	$gauge_options['min'] = $webMinScale;
else if (isset ($statusGoodMin) && $statusGoodMin != '')
	$gauge_options['min'] = $statusGoodMin;

$webMaxScale = $meter['meter_attrs']->getWebMaxScale();
$statusAlertMax = $meter['meter_alert']->getStatusAlertMax();
if (isset ($webMaxScale) && $webMaxScale != '')
	$gauge_options['max'] = $webMaxScale;
else if (isset ($statusAlertMax) && $statusAlertMax != '')
	$gauge_options['max'] = $statusAlertMax;

$statusGoodMax = $meter['meter_alert']->getStatusGoodMax();
if (isset ($statusGoodMin))
	$gauge_options['greenFrom'] = $statusGoodMin;
if (isset ($statusGoodMax))
	$gauge_options['greenTo'] = $statusGoodMax;

$statusWarningMin = $meter['meter_alert']->getStatusWarningMin();
$statusWarningMax = $meter['meter_alert']->getStatusWarningMax();
if (isset ($statusWarningMin))
	$gauge_options['yellowFrom'] = $statusWarningMin;
if (isset ($statusWarningMax))
	$gauge_options['yellowTo'] = $statusWarningMax;

$statusAlertMin = $meter['meter_alert']->getStatusAlertMin();
if (isset ($statusAlertMin))
	$gauge_options['redFrom'] = $statusAlertMin;
if (isset ($statusAlertMax))
	$gauge_options['redTo'] = $statusAlertMax;

$gauge_update_interval = $meter['meter_attrs']->getWebUpdateInterval();
if (isset ($gauge_update_interval) && $gauge_update_interval > 0)
	$gauge_update_interval = $gauge_update_interval*1000;
else
	$gauge_update_interval = 60000; //1 minute

$graph_yaxis_prefix = 'Avg ';
$hourly_graph_title = 'Avg Daily usage';
$individual_pinger_graph_title = 'Usage';
if ($meter_type == 'number' || ($meter_type == 'power' && $meter_unit == 'kwh') || $meter_type == 'gas' || $meter_type == 'heat' || $meter_type == 'amps')
{
	$hourly_graph_title = 'Hourly usage';
	$graph_yaxis_prefix = '';
}
else if ($meter_type == 'temp')
{
	$hourly_graph_title = 'Avg Hourly Temperature';
}
?>

<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script type="text/javascript">

	google.load("visualization", "1.1", {packages:["corechart", "gauge"]});
	google.setOnLoadCallback(drawChart<?php echo $i;?>);

	var gauge_chart_wrapper<?php echo $i;?>;
	
	function drawChart<?php echo $i;?> ()
	{
		<?php
		if (isset ($meter['now_usage']))// && $this->meter->getType() != 'number')
		{
		?>
		drawGaugeChart<?php echo $i;?>();
		<?php }
		if (isset ($meter['hourly_chart_data']) && sizeof ($meter['hourly_chart_data']) > 0 && $this->totalmeters==2)
		{
		?>
		//drawHourlyChart<?php echo $i;?>();
		<?php
		}
		?>
		
	}

	function drawGaugeChart<?php echo $i;?>() 
	{
		
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['<?php echo $chart_display_unit . $unit_per; ?>', <?php echo ($meter['now_usage'] == '' || $meter['now_usage'] == 'NA')?0:$meter['now_usage']; ?>]
        ]);

        gauge_chart_wrapper<?php echo $i;?> = new google.visualization.ChartWrapper({
        	chartType: 'Gauge',
            dataTable: data,
            options: <?php echo json_encode ($gauge_options); ?>,
            containerId: 'gauge_div<?php echo $i;?>'
        });
        gauge_chart_wrapper<?php echo $i;?>.draw();
        
	}
	function drawHourlyChart<?php echo $i;?>() 
			{
				
				var data = google.visualization.arrayToDataTable([
		                                                  ["Time", "<?php echo $chart_display_unit; ?>"]
		                                             <?php
		                                             if (isset ($meter['hourly_chart_data']))
		                                             {
		                                             	foreach ($meter['hourly_chart_data'] as $key => $value)
		                                             		echo ',["' . $key . '",' . $value . ']' . "\n";
		                                             }
		                                             ?>
				                                     ]);

				var options = {
					title: "<?php echo $hourly_graph_title; ?> for <?php echo $meter['site']->getName(); ?> for <?php echo gmdate('Y-m-d'); ?>",
					width: 1024,
					height: 400,
					animation:{
				        duration: 1000,
				        easing: 'out'
				    },
					bar: {groupWidth: "75%"},
					legend: { position: "none" },
					hAxis: {title: 'Time', showTextEvery: 1},
					vAxis: {title: '<?php echo $graph_yaxis_prefix . ' ' . $chart_display_unit; ?>'},
					annotations: {highContrast: true, alwaysOutside: true},
				};

		        hourly_chart_wrapper<?php echo $i;?> = new google.visualization.ChartWrapper({
		        	chartType: 'ColumnChart',
		            dataTable: data,
		            options: options,
		            containerId: 'hourly_chart<?php echo $i;?>'
		        });
		        hourly_chart_wrapper<?php echo $i;?>.draw();
			    
			}
	
	jQuery (document).ready ( function () {
		setInterval(function() {
	      	jQuery.ajax ({
	  			url: "/meters/readings/<?php echo $meter['site']->getId(); ?>/<?php echo $meter['meter']->getId(); ?>",
	  			type: "POST",
	  			data: { time : 1 },
	  			dataType: "json"
	  		})
	  		.done (function( res ) 
	  		{
	      		if (res.now =='' || res.now == 'NA')
	          		res.now = 0;

          		// Gauge Chart
          		if (gauge_chart_wrapper<?php echo $i;?>)
          		{
	          		gauge_chart_wrapper<?php echo $i;?>.getDataTable().setValue (0, 1, res.now);
	          		gauge_chart_wrapper<?php echo $i;?>.draw();
          		}
          			
	  			<?php 
	  			if ($meter['meter']->getType() == 'number')
	  			{
		  		?>
	  			if (res.current_status != '')
	  			{
		  			if (res.current_status == '1')
		  				$('#number_meter_status<?php echo $i;?>').html ('<p class="meter-on  text-center">ON</p>');
		  			else if (res.current_status == '0')
		  				$('#number_meter_status<?php echo $i;?>').html ('<p class="meter-off  text-center">OFF</p>');
		  			else
		  				$('#number_meter_status<?php echo $i;?>').html ('<p class="meter-on  text-center">NA</p>');
	  			}
	  			else if (res.current_status == '')
	  			{
	  				$('#number_meter_status<?php echo $i;?>').html ('<p class="meter-on  text-center">NA</p>');
	  			}
	  			<?php
				}
				if ($meter_type == 'gas' || $meter_type == 'water' || $meter_type == 'power')
					$unit_per = '';
	  			?>
	  			
	  			if ($('#today_usage_container<?php echo $i;?>').length)
	  			{
	  				$('#today_usage_container<?php echo $i;?>').html (res.today + ' <?php echo $meter['display_unit'] . $unit_per; ?>');
	  			}
	  			if ($('#total_usage_container<?php echo $i;?>').length)
	  			{
	  				$('#total_usage_container<?php echo $i;?>').html (res.total + ' <?php echo $meter['display_unit'] . $unit_per; ?>');
	  			}

	  			// Hourly Column Chart
	  			/*
	  			if (hourly_chart_wrapper<?php echo $i;?> )
	  			{
		  			var dataTable = hourly_chart_wrapper<?php echo $i;?>.getDataTable();
		  			if (dataTable != null)
		  			{
		  				rowIndex = 0;

		  				var hourly_keys = Object.keys(res.hourly_chart_data); 
		  				hourly_keys.sort(function(a,b) 
				  		{
		  					if (isNaN(a) || isNaN(b)) 
			  				{
		  				    	return a > b ? 1 : -1;
		  					}
		  				  	return a - b;
		  				});
		  				
			  			for (var hi = 0; hi < hourly_keys.length; hi++)
			  			{
			  				dataTable.setValue (rowIndex, 1, res.hourly_chart_data[hourly_keys[hi]]);
			  				rowIndex++;
			  			}
		  			}

		  			hourly_chart_wrapper<?php echo $i;?>.draw();
	  			}
	  			*/
	  		});
	      }, <?php echo $gauge_update_interval; ?>);
	});
	
</script>
<?php
$i++; 
}

?>
