<!DOCTYPE html>

<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>i4energy</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Savitriya Technologies Pvt. Ltd.">
	
	<link media="all" type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
	<link media="all" type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
	
<?php
$i4energy_session = new Zend_Session_Namespace('I4energySession');
//$theme_css = 'bootstrap.min.css';
$theme_css = 'bootstrap-theme-cerulean.min.css';
//$theme_fix_css = 'bootstrap-theme-default-fix.css';
$theme_fix_css = 'bootstrap-theme-cerulean-fix.css';
if (isset ($i4energy_session->user_obj) && $i4energy_session->user_obj->theme != '')
{
	$theme_file = 'bootstrap-theme-' . strtolower($i4energy_session->user_obj->theme) . '.min.css';
	if (file_exists($_SERVER['DOCUMENT_ROOT'] . '/assets/css/' . $theme_file))
		$theme_css = $theme_file;
	
	$theme_fix_file = 'bootstrap-theme-' . strtolower($i4energy_session->user_obj->theme) . '-fix.css';
	if (file_exists($_SERVER['DOCUMENT_ROOT'] . '/assets/css/' . $theme_fix_file))
		$theme_fix_css = $theme_fix_file;
} 

?>
<?php 
$url= $_SERVER['REQUEST_URI'];
if (strpos ($url, '?') !== false)
	$url = substr ($url, 0, strpos($url, '?'));

$active_home = '';
$active_usermapper='';
$active_site='';
$active_users='';
$active_customers='';
$active_pingerdata='';
$active_correctdata='';
$active_metersdisplay='';
$active_sysinfo = '';
$active_myprofile='';
if ($url == '/sites/usermapper')
{
	$active_usermapper='active';
}
else if ((preg_match ('/^\/sites.*/', $url) || preg_match ('/^\/meters.*/', $url)) &&  !preg_match ('/^\/metersdisplay.*/', $url) )
{
	$active_site='active';
}elseif (preg_match ('/^\/users.*/', $url)){
	$active_users='active';
}elseif (preg_match ('/^\/customers.*/', $url)){
	$active_customers='active';
}elseif (preg_match ('/^\/pinger-data.*/', $url)){
	$active_pingerdata='active';
}elseif (preg_match ('/^\/correct-index.*/', $url)){
  $active_correctdata='active';
}elseif (preg_match ('/^\/metersdisplay.*/', $url)){
	$active_metersdisplay='active';
}elseif (preg_match ('/^\/myprofile.*/', $url)){
	$active_myprofile='active';
}elseif (preg_match ('/^\/diskspace.*/', $url)){
	$active_sysinfo='active';
}
else
{
	$active_home = 'active';
}
?>

	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/<?php echo $theme_css; ?>">
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/cms-main.css">
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/bootstrap-switch.css">
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/bootstrap-markdown.min.css">
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/chosen.min.css">
	<!-- <link media="all" type="text/css" rel="stylesheet" href="/assets/css/dark.css"> 
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/new-css.css">-->
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/jquery.dataTables.css">
	<link media="all" type="text/css" rel="stylesheet" href="/assets/css/jquery.datetimepicker.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
<?php
if ($theme_fix_css != '')
	echo '<link media="all" type="text/css" rel="stylesheet" href="/assets/css/' . $theme_fix_css . '">'; 
?>
	<!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]--> 
	<link rel="shortcut icon" href="/assets/images/favicon.ico"> 
</head>
<body>
	<div id="wrap">
		<!-- Navigarion and Header -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 
					<a href="<?php if (isset($i4energy_session->user_id) && ($i4energy_session->user_id != '')) echo '/home'; else echo '/'; ?>" class="navbar-brand">
						<?php if(isset($i4energy_session->customer_id) && $i4energy_session->customer_id >0){
						$customer_obj =new  I4energy_Model_Customers();
						$customer_obj->init($i4energy_session->customer_id);?>
						
						<img src="<?php echo I4energy_Model_Utils_CommonFunctions::resizeimage($customer_obj->getLogo(), 150, 160);?>" height="30px" alt="i4energy logo"/>
						
						<?php }else{?>
						
						<img src="/assets/images/i4energy_logo.jpg" height="30px" alt="i4energy logo"/>
						
						<?php }?>
					</a>
				</div>
				<div class="collapse navbar-collapse">
				<?php
				if (isset($i4energy_session->user_id) && ($i4energy_session->user_id != ''))
				{
				?>
					<div id="main-nav">
						<ul class="nav navbar-nav">
							<li id='home' class="<?php echo $active_home; ?>">
								<a href="/home"> Home </a>
							</li>
						<?php
						if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_view', $i4energy_session->user_priviledge)) 
						{
						?>
							<li id='sites' class="<?php echo $active_site; ?>">
								<a href="/sites"> Sites </a>
							</li>
						<?php
						}
						if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'pinger_data ', $i4energy_session->user_priviledge))
						{
						?>
							<li  id='pinger_data'  class="<?php echo $active_pingerdata; ?>">
								<a href="/pinger-data"> Pinger Data </a>
							</li>
						<?php
						}

						$user_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'user_view ', $i4energy_session->user_priviledge);
						$customer_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'customer_view ', $i4energy_session->user_priviledge);
						$siteassign_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'site_mapping_view ', $i4energy_session->user_priviledge);
						$meterlink_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'meter_display_link_view', $i4energy_session->user_priviledge);
						$sysinfo_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'systeminfo', $i4energy_session->user_priviledge);
						$updatemac_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'update_mac_id', $i4energy_session->user_priviledge);
						$update_correct_data_priv = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'correct_data', $i4energy_session->user_priviledge);

						if ($user_priv || $customer_priv || $siteassign_priv || $meterlink_priv || $sysinfo_priv || $updatemac_priv || $update_correct_data_priv)
						{
							if ($active_users != '' || $active_customers != '' || $active_usermapper != '' || $active_metersdisplay != '' || $active_correctdata != '' )
								$admin_selected_class = 'active';
							else 
								$admin_selected_class = '';
						?>
							<li class="dropdown <?php echo $admin_selected_class; ?>" >
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
              					<ul class="dropdown-menu">
              					<?php
              					if ($user_priv)
              					{ 
              					?>
                					<li class="<?php echo $active_users; ?>">
                						<a href="/users"> Users </a>
                					</li>
                				<?php
              					} 
              					if ($customer_priv)
              					{
                				?>
									<li class="<?php echo $active_customers; ?>">
										<a href="/customers"> Customers </a>
									</li>
								<?php 
              					}
              					if ($siteassign_priv)
              					{
								?>
									<li id='sites_usermapper' class="<?php echo $active_usermapper; ?>">
										<a href="/sites/usermapper"> Site Assignment </a>
									</li>
								<?php
              					}
								if ($meterlink_priv)
								{
								?>
									<li id='metersdisplay'  class="<?php echo $active_metersdisplay; ?>">
										<a href="/metersdisplay"> Meter links </a>
									</li>
								<?php
								}
								if ($sysinfo_priv) {
									?>
									<li id='diskspace' class="<?php echo $active_sysinfo; ?>">
										<a href="/diskspace"> System Info </a>
									</li>
								<?php
								}
								if ($updatemac_priv) {
									?>
									<li >
										<a id='mac_id' href="#" data-toggle="modal" data-target="#update_mac_dialog_id">Update MAC ID</a>
									</li>
								<?php
								}
                if ($update_correct_data_priv) {
                  ?>
                  <li class="<?php echo $active_correctdata; ?>">
                    <a href="/correct-index"> Correct Data </a>
                  </li>
                <?php
                }
								?>
								</ul>
            				</li>
						<?php
						}
						?>
						</ul>
					</div>  
					<div id="bar-nav">
						<ul class="nav navbar-nav navbar-right">

              <li id='help'  class="help">
                <a href="/help"> Help </a>
              </li>
						<?php
						if (isset($i4energy_session->user_id) && ($i4energy_session->user_id != ''))
						{
							$selfprofile_update = I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'update_self_profile', $i4energy_session->user_priviledge);
							if ($selfprofile_update) {
						?>
							<li id='myprofile'  class="<?php echo $active_myprofile; ?>">
								<a href="/myprofile"> Welcome <?php echo $i4energy_session->user_obj->name ; ?> </a>
							</li>
						<?php 
							} else {
						?>
							<li id='myprofile'  class="<?php echo $active_myprofile; ?>">
								<a href="#"> Welcome <?php echo $i4energy_session->user_obj->name ; ?> </a>
							</li>
						<?php
							}
						}
						?>
							<li>
								<a href="/logout"> Logout </a>
							</li>
						</ul> 
					</div>
				<?php
				} 
				?>
				</div> 
			</div>
		</div>
		<!-- Navigarion and Header -->
		
		<!-- Content -->
		<div class="container">
			<?php echo $this->layout()->content; ?>
		</div>
		<!-- Content -->
	</div>
	
		<div id="footer">
   			<a href="<?php if (isset($i4energy_session->user_id) && ($i4energy_session->user_id != '')) echo '/home'; else echo '/'; ?>" class="navbar-brand" style="float: right;">
				Powered By <img src="/assets/images/i4energy_logo.jpg" height="30px" alt="i4energy logo"/>
			</a>
   			<div class="container hidden-xs"></div>
		</div>    

		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="/assets/js/cms-alerts.js"></script>
		<script src="/assets/js/bootstrap-switch.js"></script>
		<script src="/assets/js/bootstrap-markdown.js"></script>
		<script src="/assets/js/jquery.datetimepicker.js"></script>
		<script src="/assets/js/chosen.jquery.min.js"></script>
		<script src="/assets/js/jquery.dataTables.min.js"></script>
		<script src="/assets/js/dataTables.bootstrap.js"></script>

	<div class="modal fade" id="update_mac_dialog_id" tabindex="-1" role="dialog" aria-labelledby="dialog_date_select_label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width:600px; float:left;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Update MAC Id</h4>
				</div>
				<div class="modal-body" style="width:100%; float:left;">
					<div class="form-group">
						<input type="text" class="form-control" id="old_mac" value="" placeholder="Old MAC Id">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="new_mac" value="" placeholder="New MAC Id">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-success" id="editMac" value="Submit" style="float: left;">
						<img id="update_mac_wait" alt="loading" src="/assets/images/ajax-loader.gif" style="margin-left: 10px; display:none;">
					</div>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( "#editMac" ).click(function() {
			var new_mac = $("#new_mac").val().trim();
			var old_mac = $("#old_mac").val().trim();

			if (old_mac == "") {
				alert ("Please specify old MAC Id");
				return;
			}
			if(new_mac != "")
			{
				$("#new_mac").attr("disabled","disabled");
				$("#editMac").attr("disabled","disabled");
				$.ajax({
					type: "POST",
					url: "/meters/edit-mac",
					dataType:'JSON',
					data: {	new_mac : new_mac,
							old_mac : old_mac
					},
					beforeSend: function() { $('#update_mac_wait').show(); },
					complete: function() { $('#update_mac_wait').hide(); },
					success: function(response)
					{
						$("#new_mac").val('');
						$("#old_mac").val(new_mac);
						$("#new_mac").attr("disabled",false);
						$("#editMac").attr("disabled",false);
						alert("MAC Id updated successfully");
						$('#update_mac_dialog_id').modal('hide');
					},
					error: function(response) {
						alert("An error occurred");
						$("#new_mac").val('');
						$("#new_mac").attr("disabled",false);
						$("#editMac").attr("disabled",false);
					}
				});
			}
			else
			{
				alert("Please specify new MAC Id");
			}
		});
	</script>
	</body>
</html>