<div class="page-header">
	<h1><?php echo (isset($this->priviledge))?'Update Priviledge':'Add New Priviledge'; ?></h1>
</div>


<?php
if (isset ($this->response))
{	
?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<?php if(  in_array("null", $this->response['data'])){?>
  		<?php if($this->response['data']['priviledge']=='null'){?>
  		<strong>Error!</strong> Site Name can't be left blank.
  		<?php } elseif ( in_array("duplicate", $this->response['data'])){?>
  		<strong>Error!</strong> Priviledge is already exsist.
  		<?php }?>
	</div>
<?php 
} }
?>

<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Priviledge has been <?php echo (isset($this->priviledge))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> An error occurred while <?php echo (isset($this->priviledge))?'updating':'adding'; ?> this site.
	</div>
	<?php 
	}
} 
?>

<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="<?php echo (isset($this->priviledge))?'/priviledge/add/' . $this->priviledge->getId():'/priviledge/add'; ?>" method="POST">
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Priviledge Name *</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Priviledge Name" class="form-control" value="<?php echo (isset($this->priviledge))?$this->priviledge->getPriviledge():''; ?>" name="priviledge" id="priviledge" required="required"> 
			</div>
		</div>
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button type="submit" class="btn btn-primary"><i class="fa fa-rocket"></i> <?php echo (isset($this->priviledge))?'Update Priviledge':'Add Priviledge'; ?></button> 
			</div> 
		</div> 
	</form>
	</div>
	
	
	
	
