 
<!-- Include the plugin's CSS and JS: -->


<div class="page-header">
	<h1>Priviledges</h1>
</div>  
<div class="well"> 

<div class="row">
		<div class="pull-right">
			<a href="/priviledge/add" class="btn btn-primary"><i class="fa fa-plus"></i> New Priviledge</a>
	</div>
</div>

<table id="privilege_table" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
         <tr>
            <th>Privilege</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
        
        <?php foreach ($this->priviledgerows as $rws){?>
         <tr>
            <td><?php echo $rws['priviledge'];?></td>
            <td>
            <a href="/priviledge/add/<?php echo $rws['id']; ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit
			</a>
			<a class="btn btn-danger" data-toggle="modal" data-target="#priviledge_delete_modal" onclick="set_priviledge_id(<?php echo $rws['id']; ?>)">
				<i class="fa fa-times"></i> Delete
			</a>
			</td>
           </tr>
		<?php }?>
		 </tbody>
   </table>

</div>		

<div class="modal fade" id="priviledge_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this priviledge! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_priviledge">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>

<div class="alert alert-success fade in" role="alert" style="display: none;">
	<button type="button" class="close" data-dismiss="alert">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
	</button>
	<strong>Success!</strong> priviledge has been deleted.
</div>


<script type="text/javascript">
 jQuery(document).ready(function() {
	 jQuery('#privilege_table').dataTable({
		 
		    "pagingType": "full"
	    
		    });
 } );
  
function set_priviledge_id(priviledge_id) {
	jQuery ('#priviledge_delete_modal').attr('priviledge-id', priviledge_id);
}

$('#priviledge_delete_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#priviledge_delete_modal').attr('priviledge-id', '');
})

jQuery('#delete_priviledge').bind("click", function() {
	var priviledge_id = jQuery ('#priviledge_delete_modal').attr('priviledge-id');
	if (priviledge_id > 0 && priviledge_id != '')
	{
		jQuery ('#delete_priviledge').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/priviledge/delete/" + priviledge_id
		})
		.done(function( msg ) {
			jQuery ('#delete_priviledge').text ('Yes');
			jQuery ('#priviledge_msg_' + priviledge_id).append(jQuery('.alert'))
			jQuery ('#priviledge_delete_modal').modal('hide')
			jQuery ('.alert').show();

			setTimeout(function() {
		        alerts = $('.alert');
		        alerts.addClass('bounceOut');
		        alerts.addClass('animated');
		        setTimeout(function() {
		            alerts.slideUp(500, function() {
		                alerts.remove();
		                location.href = '/priviledge';
		            });
		        }, 500);
		    }, 1500);
		});
	}
});
</script>