 
<!-- Include the plugin's CSS and JS: -->

 
<div class="page-header">
	<h1>Priviledge Mapper</h1>
</div>  
<div class="well"> 
	<form class="form-horizontal" accept-charset="UTF-8" action="" method="POST" onsubmit="return check_channel_value()">
		<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Role</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select Role" class="form-control chosen-select" id="role" name="role" placeholder="Role" >
				<option value="">--Select--</option>
				<?php
				foreach ($this->roles->rows as $role)
				{
					$selected = '';
					echo '<option value="' . $role['id'] . '" ' . $selected . '>' . ucfirst($role['role']) . '</option>';
				} 
				?>
				</select>  			
			</div>
		</div>
		
				<div class="form-group">
			<label for="name" class="col-md-2 col-sm-3 col-xs-10 control-label">Priviledge</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<select id="priviledge" name="priviledge" data-placeholder="Choose  priviledge" class="chosen-select" multiple style="width:255px;" tabindex="2"  >
				<?php
				foreach ($this->priviledge->rows as $priviledge)
				{
					$selected = '';
					echo '<option id="priviledge'.$priviledge['id'] . '"  value="' . $priviledge['id'] . '" ' . $selected . '>' . ucfirst($priviledge['priviledge']) . '</option>';
				} 
				?>
				</select>
			<div style="padding-left: 177px;">
			<button type="button" class="button" style="padding: 3px 22px;" onclick="addrolepriviledge()">
  			Save
  			</button>		
			</div>
			</div>
			
		</div>

		
		</form>
</div>		


<script type="text/javascript">

var config = {
	    '.chosen-select': {},
	    '.chosen-select-deselect': {
	        allow_single_deselect: true
	    },
	    '.chosen-select-no-single': {
	        disable_search_threshold: 10
	    },
	    '.chosen-select-no-results': {
	        no_results_text: 'Oops, nothing found!'
	    },
	    '.chosen-select-width': {
	        width: "95%"
	    }
	}
	//for (var selector in config) {
	//    $(selector).chosen(config[selector]);
	//}

jQuery(document).ready (function () {
	jQuery ('.chosen-select').chosen();


});
$("#role").bind('change',function(){
	var roleid = $("#role").val();
	var elements = document.getElementById("priviledge").options;

    for(var i = 0; i < elements.length; i++){
      elements[i].selected = false;
      jQuery ('.chosen-select').trigger("chosen:updated");
      
    }
		
	jQuery.ajax ({
		type: "POST",
		url: "/priviledge/allocatedpriviledge",
		dataType:'JSON',
		data: {
		            roleid: roleid
		        },	
	})
	.done(function( response ) {
		console.log(response);
		response.data.forEach(function(entry){
			var priviledgeid=""; 
			
		$("#priviledge"+entry).attr('selected', true);
			jQuery ('.chosen-select').trigger("chosen:updated");
		});
	});

});


function addrolepriviledge(){
	var roleid = $("#role").val();
	var priviledgeid = $("#priviledge").val();
	jQuery.ajax ({
		type: "POST",
		url: "/priviledge/addrolepriviledge",
		dataType:'JSON',
		data: {
			roleid: roleid,
			priviledgeid: priviledgeid
		        },	
	})
	.done(function( msg ) {
		if(msg.returnvalue =='valid' ){
			alert("Priviledge added ");
		}
	});	
}
</script>