<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
  <h1>Manuals</h1>
</div>

<!--<div class="row" style="margin-bottom: 10px;">-->
<!--  <div class="col-xs-11">-->
<!--    <input type="text" name="search" id="search" class="form-control" placeholder="Search" />-->
<!--  </div>-->
<!--  <div class="col-xs-1">-->
<!--    <input type="button" name="searchBtn" id="searchBtn" value="Search" class="btn btn-danger"/>-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-xs-8">
<!--    <p class="lead">Here you may find our Manuals:</p>  -->
  </div>
  <div class="col-xs-4">
    <div class="pull-right">
<!--      --><?php //print_r($i4energy_session->user_role); exit;?>
      <?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'help_add', $i4energy_session->user_priviledge)) {?>
        <a href="/help/add" class="btn btn-primary"><i class="fa fa-plus"></i> New Manual</a>
      <?php } ?>
    </div>
  </div>
</div>

<div class="site-container">
  <?php
  if (sizeof ($this->rows) > 0)
  {
    foreach ($this->rows as $help)
    {

      ?>
      <h2 class="h2-head"><a href="<?php echo $help->getUrl() ; ?>"><?php echo $help->getTitle() ?></a></h2>
      <p><strong class="h2-head"><?php echo $help->getUpdatedDate(); ?></strong></p>

      <p>
        <a href="<?php echo $help->getUrl() ; ?>" class="btn btn-success">
          <i class="fa fa-file-text"></i> View
        </a>
        <?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'help_edit', $i4energy_session->user_priviledge)) {?>
          <a href="/help/add/<?php echo $help->getId(); ?>" class="btn btn-info">
            <i class="fa fa-pencil-square-o"></i> Edit
          </a>

        <?php } if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'help_delete', $i4energy_session->user_priviledge)) {?>
          <a class="btn btn-danger" data-toggle="modal" data-target="#help_delete_modal" onclick="set_help_id(<?php echo $help->getId(); ?>)">
            <i class="fa fa-times"></i> Delete
          </a>
        <?php } ?>
      </p>

      <div id="site_msg_<?php echo $help->getId(); ?>"></div>
      <br/>
    <?php
    }
  }
  ?>
</div>

<div class="modal fade" id="help_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        You are about to delete this Manual! This process cannot be undone.<br/>
        Are you sure you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete_site">Yes</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success fade in" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <strong>Success!</strong> Site has been deleted.
</div>
<script type="text/javascript">
  function set_help_id(site_id) {
    jQuery ('#help_delete_modal').attr('site-id', site_id);
  }

  $('#help_delete_modal').on('hidden.bs.modal', function (e) {
    jQuery ('#help_delete_modal').attr('site-id', '');
  })

  jQuery('#delete_site').bind("click", function() {
    var site_id = jQuery ('#help_delete_modal').attr('site-id');
    if (site_id > 0 && site_id != '')
    {
      jQuery ('#delete_site').text ('Deleting...');
      jQuery.ajax ({
        type: "POST",
        url: "/help/delete/" + site_id
      })
          .done(function( msg ) {
            jQuery ('#delete_site').text ('Yes');
            jQuery ('#site_msg_' + site_id).append(jQuery('.alert'))
            jQuery ('#help_delete_modal').modal('hide')
            jQuery ('.alert').show();

            setTimeout(function() {
              alerts = $('.alert');
              alerts.addClass('bounceOut');
              alerts.addClass('animated');
              setTimeout(function() {
                alerts.slideUp(500, function() {
                  alerts.remove();
                  location.href = '/help';
                });
              }, 500);
            }, 1500);
          });
    }
  });


</script>
