<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
  <h1><a href="<?php echo $this->help->getUrl();?>"><?php echo $this->help->getTitle();?></a></h1>
</div>
<div class="row">
  <div class="col-xs-8">
    <p class="lead">Updated on <?php echo $this->help->getUpdatedDate(); ?></p>
  </div>
  <div class="col-xs-4">
    <div class="pull-right">
      <?php
      if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'help_edit', $i4energy_session->user_priviledge))
      {
        ?>
        <a href="/help/add/<?php echo $this->help->getId(); ?>" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Edit Manual</a>
      <?php
      }
      ?>
    </div>
  </div>
</div>





