<div class="page-header">
	<h1><?php echo (isset($this->customer))?'Update Customer':'Add New Customer'; ?></h1>
</div>
<?php if(isset($this->response)){?>
	<?php if(  in_array("null", $this->response['data'])){?>
<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> Please Fill up all the required fields.
	</div>
<?php }
}
?>
<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> Customer has been <?php echo (isset($this->customer))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	elseif (isset($this->issue) && $this->issue == "invalidDFileFormate")
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> Invalid File format.
	</div>
	<?php 
	}
} 

$form_url = '/customers/add';
if (isset($this->customer) && $this->customer->getId() > 0){
	$form_url .= '/' . $this->customer->getId();
}
?>

<div class="well"> 
	<form id="customer_add_form" class="form-horizontal" accept-charset="UTF-8" action="<?php echo $form_url; ?>" method="POST" enctype="multipart/form-data">
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Customer Name *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Customer Name" class="form-control" value="<?php echo (isset($this->customer))?$this->customer->getName():''; ?>" name="customer_name" id="customer_name" required="required"> 
			</div>
		</div>
			
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Logo *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
			<span class="btn btn-file">
				<input type="file" name="customer_logo" accept="image/*" placeholder="Select Logo"   id="customer_logo" required="required">
			</span>
			
			<output id="customer_logoInfo" >
			<?php 
			if (isset($this->customer))
			{
				$imageContent = $this->customer->getLogo();
				if ($imageContent != null && $imageContent != '')
				{
			?>	 
				<img src="<?php echo I4energy_Model_Utils_CommonFunctions::resizeimage($imageContent, 150, 160); ?>" alt="" />
			<?php
				}
			} 
			?>
			</output> 
			</div>
		</div>
		
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button id="submit" type="submit" class="btn btn-primary"><i class="fa fa-rocket"></i> <?php echo (isset($this->customer))?'Update Customer':'Add New Customer'; ?></button> 
			</div> 
		</div> 
	</form> 
</div>

<script type="text/javascript">
jQuery (document).ready ( function () {
//	jQuery ('#user_role, #user_timezone').chosen();
//	jQuery("#user_role").trigger("chosen:updated");
});
function clrAddForm(){
	
}

</script>