
<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1>Customers</h1>
</div>
<div class="row">
	<div class="pull-right pull-right-width-cust">
	<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'customer_add', $i4energy_session->user_priviledge)) {?>
		<a href="/customers/add" class="btn btn-primary"><i class="fa fa-plus"></i> New Customer</a>
	<?php } ?>
	</div>
</div>
<div class="table-responsive">
   <table id="customers_table" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
         <tr>
            <th class="table-header">Customer Name</th>
            <th class="table-header">User Name</th>
            <th class="table-header">Logo</th>
            <th class="table-header">Action</th>
         </tr>
      </thead>
      <tbody>
          <?php
        foreach ($this->rows as $rws)
        {
        	$user_name = '';
			$user_obj = new I4energy_Model_Users();
        		$filterUser=array();
				$filterUser[0]['field'] = 'customer_id';
				$filterUser[0]['operation'] = 'eq';
				$filterUser[0]['value'] = $rws->getId();
        	$userObj = $user_obj->listUsers($filterUser);
        	if ($userObj != null && isset($userObj->rows[0]) && count($userObj->rows)>0)
        		$user_name = $userObj->rows[0]['name'];
        ?>
         <tr>
            <td><?php echo ucfirst($rws->getName());?></td>
            <td><?php echo $user_name;?></td>
            <td>
            <?php
            $imageContent = $rws->getLogo();
            if ($imageContent != null && $imageContent != '')
            { 
            ?>
            	<img src="<?php echo I4energy_Model_Utils_CommonFunctions::resizeimage($rws->getLogo(), 150, 60); ?>" alt="<?php echo $rws->getName(); ?>" />
            <?php
            } 
            ?>
            </td>
            <td>
            <?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'customer_edit', $i4energy_session->user_priviledge)) {?>
            <a href="/customers/add/<?php echo $rws->getId(); ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit
			</a>
			<?php
        	}

        	if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'customer_delete', $i4energy_session->user_priviledge)) {
			?>
			<a class="btn btn-danger" data-toggle="modal" data-target="#customer_delete_modal" onclick="set_customer_id(<?php echo $rws->getId(); ?>)">
				<i class="fa fa-times"></i> Delete
			</a>
			<?php
        	} 
			?>
			</td>
           </tr>
		<?php }?>
        
     </tbody>
   </table>
</div>
  
<div class="modal fade" id="customer_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this user! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_customer">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	 jQuery('#customers_table').dataTable({
		    "pagingType": "full"
		    });
} );
function set_customer_id(customer_id) {
	jQuery ('#customer_delete_modal').attr('customer-id', customer_id);
}

$('#customer_delete_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#customer_delete_modal').attr('customer-id', '');
})

$('#delete_customer').bind("click", function() {
	var customer_id = jQuery ('#customer_delete_modal').attr('customer-id');
	if (customer_id > 0 && customer_id != '')
	{
		jQuery ('#delete_customer').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/customers/delete/" + customer_id
		})
		.done(function( msg ) {
			jQuery ('#delete_customer').text ('Yes');
			jQuery ('#meter_msg_' + customer_id).append(jQuery('.alert'))
			jQuery ('#customer_delete_modal').modal('hide')
			jQuery ('.alert').show();

			setTimeout(function() {
		        alerts = $('.alert');
		        alerts.addClass('bounceOut');
		        alerts.addClass('animated');
		        setTimeout(function() {
		            alerts.slideUp(500, function() {
		                alerts.remove();
		                location.href = '/customers/';
		            });
		        }, 500);
		    }, 1500);
		});
	}
});
</script>