<p class="bg-danger" style="padding: 5px; margin-bottom: 10px; display: none;">Please specify values for fields highlighted in red.</p>
<form class="form-inline" role="form" onsubmit="return false;">
  <div class="form-group" id="macid_container">
    <label class="sr-only" for="MAC ID">MAC ID</label>
    <input type="text" class="form-control" id="macid" name="macid" placeholder="MAC Address" value="<?php echo (isset ($_GET['macid']))?$_GET['macid']:''; ?>">
  </div>

  <div class="form-group" id="moduleno_container">
    <label class="sr-only" for="Module No">Module No</label>
    <input type="text" class="form-control" id="moduleno" name="moduleno" placeholder="Module No" value="<?php echo (isset ($_GET['moduleno']))?$_GET['moduleno']:''; ?>">
  </div>

  <div class="form-group" id="slotno_container">
    <label class="sr-only" for="Slot No">Slot No</label>
    <input type="text" class="form-control" id="slotno" name="slotno" placeholder="Slot No" value="<?php echo (isset ($_GET['slotno']))?$_GET['slotno']:''; ?>">
  </div>

  <div class="form-group">
    <label class="sr-only" for="From Date">From Date</label>
    <input type="text" class="form-control" id="from_date" name="from_date" placeholder="From Date" value="" readonly>
  </div>

  <div class="form-group">
    <label class="sr-only" for="From Date">To Date</label>
    <input type="text" class="form-control" id="to_date" name="to_date" placeholder="To Date" value="" readonly>
  </div>
  <!---->
<!--  <div class="form-group" id="channelno_container">-->
<!--    <label class="sr-only" for="Channel No">Channel No</label>-->
<!--    <input type="text" class="form-control" id="channelno" name="channelno" placeholder="Channel No" value="--><?php //echo (isset ($_GET['channelno']))?$_GET['channelno']:''; ?><!--">-->
<!--  </div>-->

  <button type="submit" class="btn btn-primary" id="correct_data_btn">Correct Data</button>
</form>
<br/>
<div class="error_msg"></div>


<script type="text/javascript">

  jQuery (document).ready (function () {
    jQuery('#from_date').datetimepicker({format: 'Y-m-d H:i'});
    jQuery('#to_date').datetimepicker({format: 'Y-m-d H:i'});
  });

  jQuery ('#correct_data_btn').click (function () {
    var macid = jQuery('#macid').val().trim();
    var moduleid = jQuery('#moduleno').val().trim();
    var slotno = jQuery('#slotno').val().trim();
    var from_date = jQuery('#from_date').val();
    var to_date = jQuery ('#to_date').val();

    jQuery("#macid").css("border","");
    jQuery("#moduleno").css("border","");
    jQuery("#slotno").css("border","");
    jQuery("#from_date").css("border","");
    jQuery("#to_date").css("border","");

    if(macid == "" && moduleid == "" && slotno == "" && from_date == "" && to_date == "" ){

      jQuery("#macid").css("border","solid 1px red");
      jQuery("#moduleno").css("border","solid 1px red");
      jQuery("#slotno").css("border","solid 1px red");
      jQuery("#from_date").css("border","solid 1px red");
      jQuery("#to_date").css("border","solid 1px red");

    }else if(macid == ""){
      jQuery("#macid").css("border","solid 1px red");
    }else if(moduleid == ""){
      jQuery("#moduleno").css("border","solid 1px red");
    }else if(slotno == ""){
      jQuery("#slotno").css("border","solid 1px red");
    }else if(from_date == ""){
      jQuery("#from_date").css("border","solid 1px red");
    }else if(to_date == ""){
      jQuery("#to_date").css("border","solid 1px red");
    }else {
      jQuery.ajax ({
        url: "/correct-index",
        type: "POST",
        data: {macid: macid, moduleid: moduleid, slotno: slotno, from_date : from_date, to_date : to_date},
        dataType: "json"
      })
        .done (function( res )
      {
        jQuery(".error_msg").empty();
        if (res == 0)
        {
          jQuery(".error_msg").append ('<p>No record found for specified MAC ID, Module ID and Slot No.</p>');
        }else if(res == 1){
          jQuery(".error_msg").append ('<p>Data corrected successfully.</p>');
        }else {
          jQuery(".error_msg").append ('<p>Module not found.</p>');
        }
      });
    }
  });

</script>