<p class="bg-danger" style="padding: 5px; margin-bottom: 10px; display: none;">Please specify values for fields highlighted in red.</p>
<form class="form-inline" role="form" onsubmit="return false;">
	<div class="form-group" id="macid_container">
    	<label class="sr-only" for="MAC ID">MAC ID</label>
    	<input type="text" class="form-control" id="macid" name="macid" placeholder="MAC Address" value="<?php echo (isset ($_GET['macid']))?$_GET['macid']:''; ?>">
  	</div>
  	<div class="form-group" id="moduleid_container" style="display: none;">
    	<label class="sr-only" for="Module ID">Module ID</label>
    	<select placeholder="Module Id" id="moduleid" name="moduleid" class="form-control" style="width: 150px;">
    		<option value="">Module Id (required)</option>
	    	<?php
	    	for ($i=0; $i<100; $i++)
	    	{
	    		if (isset($_GET['moduleid']) && $_GET['moduleid'] == $i)
	    			$selected = 'SELECTED';
	    		else
	    			$selected = '';
	    		echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
	    	}
	    	?>
	    </select>
  	</div>
  	
  	<div class="form-group" id="slotno_container"  style="display: none;">
    	<label class="sr-only" for="Slot No">Slot No</label>
    	<select placeholder="Slot No" id="slotno" name="slotno" class="form-control">
    		<option value="">Slot No (required)</option>
	    	<?php
	    	for ($i=0; $i<100; $i++)
	    	{
	    		if (isset($_GET['slotno']) && $_GET['slotno'] == $i)
	    			$selected = 'SELECTED';
	    		else
	    			$selected = '';
	    		echo '<option value="' . $i . '" ' . $selected . '>' . $i . '</option>';
	    	}
	    	?>
	    </select>
  	</div>
  	
  	<div class="form-group">
  		<label class="sr-only" for="From Date">From Date</label>
  		<input type="text" class="form-control" id="from_date" name="from_date" placeholder="From Date" value="" readonly>
  	</div>

  	<div class="form-group">
  		<label class="sr-only" for="From Date">To Date</label>
  		<input type="text" class="form-control" id="to_date" name="to_date" placeholder="To Date" value="" readonly>
  	</div>	
  	
  	<div class="form-group" id="slotno_container">
    	<label class="sr-only" for="Slot No">Pings</label>
    	<select placeholder="Pings" id="limit" name="limit" class="form-control">
    		<option value="10">Last 10 Pings</option>
    		<option value="20">Last 20 Pings</option>
    		<option value="50" SELECTED>Last 50 Pings</option>
    		<option value="100">Last 100 Pings</option>
	    </select>
  	</div>
  	<button type="submit" class="btn btn-primary" id="show_pings">Show</button>
  	<button type="submit" class="btn btn-danger" id="reset_frm"> X </button>
</form>
<br/>
<button type="submit" class="btn btn-danger" disabled="disabled" id="delete">Delete</button>
<div class="table-responsive">
	<table id="raw_pings" class="table table-condensed table-striped table-hover">
		<tr>
			<th>Select</th>
			<th>Customer</th>
			<th>MAC ID</th>
			<th>Module</th>
			<th>Slot</th>
			<th>Date</th>
			<th>Status</th>
		<?php
			for ($i = 1; $i <= 16; $i++)
				echo '<th>Ch' . $i . '</th>'; 
		?>
		</tr>
	</table>
</div>
<script type="text/javascript">
jQuery (document).ready (function () {
	jQuery('#from_date').datetimepicker({format: 'Y-m-d H:i'});
	jQuery('#to_date').datetimepicker({format: 'Y-m-d H:i'});
});

jQuery ('#reset_frm').click (function () {
	jQuery('#macid').val('');
	jQuery('#moduleid').val('');
	jQuery('#slotno').val('');
	jQuery('#limit').val('50');
	jQuery('#from_date').val('');
	jQuery('#to_date').val('');
});

jQuery ('#show_pings').click (function () {
	var macid = jQuery('#macid').val().trim();
	var moduleid = jQuery('#moduleid').val().trim();
	var slotno = jQuery('#slotno').val().trim();
	var limit = jQuery('#limit').val();
	var from_date = jQuery('#from_date').val();
	var to_date = jQuery ('#to_date').val();
	
	jQuery('#macid_container').removeClass ('has-error');
	jQuery('#moduleid_container').removeClass ('has-error');
	jQuery('#slotno_container').removeClass ('has-error');
	jQuery('.bg-danger').hide();
	
	/*
	if (macid == '')
	{
		jQuery('.bg-danger').show();
		jQuery('#macid_container').addClass ('has-error');
	}

	if (moduleid == '')
	{
		jQuery('.bg-danger').show();
		jQuery('#moduleid_container').addClass ('has-error');
	}

	if (slotno == '')
	{
		jQuery('.bg-danger').show();
		jQuery('#slotno_container').addClass ('has-error');
	}

	if (macid == "" || moduleid == '' || slotno == '')
		return;
	*/
	jQuery("#raw_pings").find("tr:gt(0)").remove();
	jQuery("#raw_pings").append ('<tr id="loading_row" class="info"><td colspan="22" align="center">Loading..., please wait</td></tr>');
	
	jQuery.ajax ({
		url: "/rawdata",
		type: "POST",
		data: {macid: macid, moduleid: moduleid, slotno: slotno, limit: limit, from_date: from_date, to_date: to_date},
		dataType: "json"
	})
	.done (function( res ) 
  	{
		jQuery("#raw_pings #loading_row").remove();

		if (res.length == 0)
		{
			jQuery("#raw_pings").append ('<tr id="loading_row" class="danger"><td colspan="22" align="center">No ping found for specified MAC ID, Module ID and Slot No.</td></tr>');
		}
		
		for (var row in res)
		{
			var tr = '<tr>' +
				'<td><input type="checkbox" /></td>'+
			
				'<td>' + res[row].customer + '</td>' +
				'<td>' + res[row].macid + '</td>' +
				'<td>' + res[row].moduleid + '</td>' +
				'<td>' + res[row].slotno + '</td>' +
				'<td>' + res[row].rec_date + '</td>' +
				'<td>' + res[row].status + '</td>' +
				'<td>' + res[row].ch1 + '</td>' +
				'<td>' + res[row].ch2 + '</td>' +
				'<td>' + res[row].ch3 + '</td>' +
				'<td>' + res[row].ch4 + '</td>' +
				'<td>' + res[row].ch5 + '</td>' +
				'<td>' + res[row].ch6 + '</td>' +
				'<td>' + res[row].ch7 + '</td>' +
				'<td>' + res[row].ch8 + '</td>' +
				'<td>' + res[row].ch9 + '</td>' +
				'<td>' + res[row].ch10 + '</td>' +
				'<td>' + res[row].ch11 + '</td>' +
				'<td>' + res[row].ch12 + '</td>' +
				'<td>' + res[row].ch13 + '</td>' +
				'<td>' + res[row].ch14 + '</td>' +
				'<td>' + res[row].ch15 + '</td>' +
				'<td>' + res[row].ch16 + '</td>';
			jQuery("#raw_pings").append (tr);
		}
		var checkboxes = $("input[type='checkbox']");
		checkboxes.click(function() {
			//Enable Delete button on checkbox check
		$('#delete').attr("disabled", !checkboxes.is(":checked"));
		});
  	});
});

var tableControl = document.getElementById('raw_pings');
$('#delete').click(function() {
	var x;
    	if (confirm("Are you sure, You want to delete selected items?") == true) {
    	    var result = [];
    	    $('input:checkbox:checked', tableControl).each(function() {
    	        result.push([$(this).parent().next().next().text(),$(this).parent().next().next().next().text(),
    	                     $(this).parent().next().next().next().next().text(),$(this).parent().next().next().next().next().next().text()]);
    	        $(this).parent().parent().remove();
    	    });
    	    console.log(result);

    	    var jsonString = JSON.stringify(result);
    	    jQuery.ajax ({
    			url: "/pinger-data/delete",
    			type: "POST",
    			data: {data: jsonString},
    			cache: false,
    			dataType: "json",
   				success: function(){
   		            alert("OK");
   		        }
    		})
	    }   
    	$('#delete').attr("disabled","disabled");
    	var checkboxes = $("input[type='checkbox']");
		checkboxes.click(function() {
			//Enable Delete button on checkbox check
		$('#delete').attr("disabled", !checkboxes.is(":checked"));
		});
});


</script>