<div class="page-header">
	<h1><?php echo (isset($this->user))?'Update User':'Add New User'; ?></h1>
</div>
<?php if(isset($this->response)){?>
	<?php if(  in_array("null", $this->response['data'])){?>
<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> Please Fill up all the required fields.
	</div>
<?php }
}
?>
<?php
if (isset ($this->success))
{
	if ($this->success)
	{
	?>
	<div class="alert alert-success cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Success!</strong> User has been <?php echo (isset($this->user))?'updated':'added'; ?>.
	</div>
	<?php 
	}
	else
	{
	?>
	<div class="alert alert-warning cms-alert" role="alert">
  		<button type="button" class="close" data-dismiss="alert">
  			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  		</button>
  		<strong>Error!</strong> An error occurred while <?php echo (isset($this->user))?'updating':'adding'; ?> this user.
	</div>
	<?php 
	}
} 

$form_url = '/users/add';
if (isset($this->user) && $this->user->getId() > 0){
	$form_url .= '/' . $this->user->getId();
}
?>

<div class="well"> 
	<form id="user_add_form" class="form-horizontal" accept-charset="UTF-8" action="<?php echo $form_url; ?>" method="POST">
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Name *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Display Name" class="form-control" value="<?php echo (isset($this->user))?$this->user->getName():''; ?>" name="user_name" id="user_name" required="required"> 
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Email *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="email" name="user_email"  placeholder="Email address" class="form-control" value="<?php echo (isset($this->user))?$this->user->getEmail():''; ?>"  id="user_email" required="required"> 
			</div>
		</div>
		
	<?php if(!isset($this->user)){ ?>	
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Password *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="password" name="password"  placeholder="Password" class="form-control"  id="password" required="required"> 
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Confirm Password *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="password" name="confpassword"  placeholder="Same password as above" class="form-control"  id="confpassword" onmouseout="check(this)" required="required"> 
			</div>
		</div>
	<?php }?>	
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Mobile </label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="Mobile Number" class="form-control" value="<?php echo (isset($this->user))?$this->user->getMobile():''; ?>" name="user_mobile" id="user_mobile" > 
			</div>
		</div>

		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Role *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">

				<select data-placeholder="Select Unit No" class="form-control" id="user_role" name="user_role" placeholder="User Role" required>
					<option value="">Select Role</option>
						<?php
					foreach ($this->roles as $row){
				
					if (isset($this->user) && $this->user->getRole_id() == $row['id'])
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $row['id'] . '" ' . $selected . '>' . ucfirst($row['role']) . '</option>';
				}
				?>
					
				</select> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Customer *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">

				<select data-placeholder="customer" class="form-control" id="customer" name="customer" placeholder="Customer" required>
					<option value="">--Select--</option>
						<?php
					foreach ($this->customers->rows as $row)
					{					
						if (isset($this->user) && $this->user->getCustomer_id() == $row['id'])
							$selected = 'SELECTED';
						else
							$selected = '';
						echo '<option value="' . $row['id'] . '" ' . $selected . '>' . ucfirst($row['name']) . '</option>';
					}
				?>
					
				</select> 
			</div>
		</div>
		
	<?php /* 	<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">User Token</label>
			<div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
				<input type="text" placeholder="token" class="form-control" value="<?php echo (isset($this->user))?$this->user->getToken():''; ?>" name="user_token" id="user_token"> 
			</div>
		</div>
	*/	?>
	
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Timezone</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select User Timezone" class="form-control" id="user_timezone" name="user_timezone" placeholder="User Timezone">
				<?php
				if (isset($this->user))
					$selected_timezone = $this->user->getTimezone();
				else
					$selected_timezone = 'Europe/London';
				
				$tzlist = DateTimeZone::listIdentifiers(DateTimeZone::ALL);
				foreach ($tzlist as $tz)
				{
					if ($selected_timezone == $tz)
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $tz . '" ' . $selected . '>' . $tz . '</option>';
				}
				?>
				</select> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Date Format</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
			<select data-placeholder="Select User Dateformate" class="form-control" id="user_dateformate" name="user_dateformate" placeholder="User DateFormate">
			<?php 
				$dateFormate=new I4energy_Model_Utils_CommonFunctions();
				$user_date_formate = '';
				if (isset($this->user)){
					$user_date_formate = trim($this->user->getDateFormat());
				}
				
				foreach ($dateFormate->getDateFormateList() as $row)
				{
					$current_date_format = substr ($user_date_formate, 0, strlen($row['exp']));

					if ($current_date_format == $row['exp'])
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $row['exp'] . '" ' . $selected . '>' . $row['val'] . ' (' . $row['exp'] . ')</option>';
						
				}
			?>
			</select>
			<select data-placeholder="Select User TimeFormate" class="form-control" id="user_timeformate" name="user_timeformate" placeholder="User Timeformate">
			<?php 
				foreach ($dateFormate->getTimeFormateList() as $row)
				{
					$current_time_format = substr ($user_date_formate, (strlen($row['exp'])*-1));

					if ($current_time_format == $row['exp'])
						$selected = 'SELECTED';
					else
						$selected = '';
					echo '<option value="' . $row['exp'] . '" ' . $selected . '>' . $row['val'] . ' (' . $row['exp'] . ')</option>';
						
				}
			?>
			</select>
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Status *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Select User Status" class="form-control" id="user_status" name="user_status" placeholder="User Status">
				<option value="1">Active</option>
				<option value="0">Deactive</option>
				</select>
			
<?php /*				<input type="checkbox"  class="form-control" value="1" name="user_status" id="user_status" <?php if(isset($this->user) && $this->user->getStatus()==1){echo 'checked="yes"';}?> >  */ ?> 
			</div>
		</div>
		
		<?php
		$selected_theme = (isset ($this->user))?$this->user->getTheme():''; 
		?>
		<div class="form-group">
			<label for="title" class="col-md-2 col-sm-3 col-xs-10 control-label">Theme *</label>
			<div class="col-lg-5 col-md-4 col-sm-5 col-xs-10">
				<select data-placeholder="Theme" class="form-control" id="user_theme" name="user_theme" placeholder="User Theme">
					<option value="" <?php echo ($selected_theme == '')?'SELECTED':''; ?>>Default</option>
					<option value="cyborg" <?php echo ($selected_theme == 'cyborg')?'SELECTED':''; ?>>Cyborg</option>
					<option value="darkly" <?php echo ($selected_theme == 'darkly')?'SELECTED':''; ?>>Darkly</option>
				<!-- 	<option value="lumen" <?php echo ($selected_theme == 'lumen')?'SELECTED':''; ?>>Lumen</option>
					<option value="paper" <?php echo ($selected_theme == 'paper')?'SELECTED':''; ?>>Paper</option>
					<option value="simplex" <?php echo ($selected_theme == 'simplex')?'SELECTED':''; ?>>Simplex</option>
					
					<option value="yeti" <?php echo ($selected_theme == 'yeti')?'SELECTED':''; ?>>Yeti</option>  -->
					<option value="united" <?php echo ($selected_theme == 'united')?'SELECTED':''; ?>>United</option>
					<option value="cerulean" <?php echo ($selected_theme == 'cerulean')?'SELECTED':''; ?>>Cerulean</option>
					<option value="slate" <?php echo ($selected_theme == 'slate')?'SELECTED':''; ?>>Slate</option>
				</select>
			</div>
		</div>
		
		<div class="form-group"> 
			<div class="col-md-offset-2 col-sm-offset-3 col-sm-10 col-xs-12">
				<button id="submit" type="submit" class="btn btn-primary"><i class="fa fa-rocket"></i> <?php echo (isset($this->user))?'Update User':'Add New User'; ?></button> 
			</div> 
		</div> 
	</form> 
</div>

<script type="text/javascript">


jQuery (document).ready ( function () {
//	jQuery ('#user_role, #user_timezone').chosen();
//	jQuery("#user_role").trigger("chosen:updated");
});
function check(input) {
	
   if (input.value != "" && document.getElementById('password').value !="" && input.value != document.getElementById('password').value) {
	  	alert("The both passwords must match.");
		 document.getElementById("confpassword").value='';
	 } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
   }
}
function clrAddForm(){
	
}
</script>
