<?php $i4energy_session = new Zend_Session_Namespace('I4energySession'); ?>
<div class="page-header">
	<h1>Users</h1>
</div>
<div class="row">
	<div class="pull-right pull-right-width">
	<?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'user_add', $i4energy_session->user_priviledge)) {?>
		<a href="/users/add" class="btn btn-primary"><i class="fa fa-plus"></i> New User</a>
	<?php } ?>
	</div>
</div>
<div class="table-responsive">
   <table id="user_table" class="table table-striped table-bordered" cellspacing="0" width="100%" >
      <thead>
         <tr>
            <th class="table-header">Name</th>
            <th class="table-header">Email</th>
            <th class="table-header">Role</th>
            <th class="table-header">Mobile</th>
            <th class="table-header">Status</th>
            <th class="table-header">Action</th>
         </tr>
      </thead>
      <tbody>
        
        <?php
        foreach ($this->rows as $rws)
        {
        	$role = '';
        	$role_obj = new I4energy_Model_Role();
        	$roleObj = $role_obj->init ($rws->getRole_id());
        	if ($roleObj != null)
        		$role = $roleObj->getRole();
        ?>
         <tr>
            <td><?php echo ucfirst($rws->getName());?></td>
            <td><?php echo $rws->getEmail();?></td>
            <td><?php echo $role;?></td>
            <td><?php echo $rws->getMobile();?></td>
            <td><?php if($rws->getStatus() == 1){ echo 'Active';}else{ echo 'Deactive';} ?></td>
            <td>
            <?php if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'user_add', $i4energy_session->user_priviledge)) {?>
            <a href="/users/add/<?php echo $rws->getId(); ?>" class="btn btn-info">
				<i class="fa fa-pencil-square-o"></i> Edit
			</a>
			<?php
        	}

        	if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'user_add', $i4energy_session->user_priviledge)) {
			?>
			<a class="btn btn-danger" data-toggle="modal" data-target="#user_delete_modal" onclick="set_user_id(<?php echo $rws->getId(); ?>)">
				<i class="fa fa-times"></i> Delete
			</a>
			<?php
        	} 
        	
			if (I4energy_Model_Utils_CheckAccess::checkaccess($i4energy_session->user_role, 'user_add', $i4energy_session->user_priviledge) && $i4energy_session->user_role == ADMIN_USER) {
			?>
			<a class="btn btn-danger" data-toggle="modal"  onclick="set_user_password(<?php echo $rws->getId(); ?>)">
				<i class="fa fa-times"></i> Change Password
			</a>
			<?php
        	} 
			?>
			</td>
           </tr>
		<?php }?>
         </tbody>
   </table>
</div>  

<!-- Modal : Change password -->
<div class="modal fade" id="user_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      
      <div class="modal-body">
      		<div class="form-group">	
				<label for="title" class="control-label">New Password *</label>
				<div class="">
					<input type="password" name="password"  placeholder="Password" class="form-control"  id="password" required="required"> 
				</div>
			</div>
			<div class="form-group">				
				<label for="title" class="control-label">Confirm Password *</label>
				<div class="">
					<input type="password" name="confpassword"  placeholder="Same password as above" class="form-control"  id="confpassword" onmouseout="check(this)" required="required"> 
				</div>
			</div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="changepassword_submit" onclick="setnewpassword()" class="btn btn-primary">Update</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal : Delete User -->
<div class="modal fade" id="user_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      		</div>
			<div class="modal-body">
			You are about to delete this user! This process cannot be undone.<br/>
			Are you sure you wish to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delete_user">Yes</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	 jQuery('#user_table').dataTable({
		    "pagingType": "full"
		    });
} );
function set_user_id(user_id) {
	jQuery ('#user_delete_modal').attr('user-id', user_id);
}

$('#user_delete_modal').on('hidden.bs.modal', function (e) {
	jQuery ('#user_delete_modal').attr('user-id', '');
})

$('#delete_user').bind("click", function() {
	var user_id = jQuery ('#user_delete_modal').attr('user-id');
	if (user_id > 0 && user_id != '')
	{
		jQuery ('#delete_user').text ('Deleting...');
		jQuery.ajax ({
			type: "POST",
			url: "/users/delete/" + user_id
		})
		.done(function( msg ) {
			jQuery ('#delete_user').text ('Yes');
			jQuery ('#meter_msg_' + user_id).append(jQuery('.alert'))
			jQuery ('#user_delete_modal').modal('hide')
			jQuery ('.alert').show();

			setTimeout(function() {
		        alerts = $('.alert');
		        alerts.addClass('bounceOut');
		        alerts.addClass('animated');
		        setTimeout(function() {
		            alerts.slideUp(500, function() {
		                alerts.remove();
		                location.href = '/users/';
		            });
		        }, 500);
		    }, 1500);
		});
	}
});

function check(input) {
	
	   if (input.value != "" && document.getElementById('password').value !="" && input.value != document.getElementById('password').value) {
		  	alert("The both passwords must match.");
			 document.getElementById("confpassword").value='';
		 } else {
	        // input is valid -- reset the error message
	        input.setCustomValidity('');
	   }
	}

function set_user_password(user_id){
	 jQuery ('#user_password_modal').attr('user-id', user_id);
	 document.getElementById("password").value='';
	 document.getElementById("confpassword").value='';
		 
	 $("#user_password_modal").modal("show");
					 
}

function setnewpassword() {
	var user_id = jQuery ('#user_password_modal').attr('user-id');
	var password = $('#password').val().trim();
	var confpassword= $('#confpassword').val().trim();

	if (password == "")
	{
		alert ("Please specify new password.");
		return;
	}
	
	if (password != confpassword)
	{
		alert ("Password and Confirm Password does not match.");
		return;
	}
	
	jQuery.ajax ({
			url: "/users/setpassword",
			type: "POST",
			data: { user_id : user_id,password : password,confpassword : confpassword },
			dataType: "json"
		})
		.done (function( response ) 
  		{
	  		if(response.data == "success")
		  		{
					alert('Password updated successfully');
					$('#user_password_modal').modal('hide');
		  		}else{
		  			alert('Error: Your old password does not match');
			  	}
			  		
		  		
		});
}

</script>